In [1]:
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback
import glob
import os
from pprint import pprint
import json
import requests
import time
from IPython.display import display

In [2]:
url = "dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com"
user = "admin"
database= "dbikes"
port = "3306"
password = "Foryiuxing18!"

In [3]:
engine = create_engine(f"mysql+mysqldb://{user}:{password}@{url}:{port}/{database}", echo=True)

In [4]:
for res in engine.execute("SHOW VARIABLES;"):
    print(res)

2023-04-05 18:08:12,408 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-04-05 18:08:12,411 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-05 18:08:12,609 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-04-05 18:08:12,611 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-05 18:08:12,709 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-04-05 18:08:12,711 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-05 18:08:12,911 INFO sqlalchemy.engine.Engine SHOW VARIABLES;
2023-04-05 18:08:12,913 INFO sqlalchemy.engine.Engine [raw sql] ()
('activate_all_roles_on_login', 'OFF')
('admin_address', '')
('admin_port', '33062')
('admin_ssl_ca', '')
('admin_ssl_capath', '')
('admin_ssl_cert', '')
('admin_ssl_cipher', '')
('admin_ssl_crl', '')
('admin_ssl_crlpath', '')
('admin_ssl_key', '')
('admin_tls_ciphersuites', '')
('admin_tls_version', 'TLSv1.2,TLSv1.3')
('authentication_policy', '*')
('auto_generate_certs', 'ON')
('auto_increment_increment', '1')
('auto_increment_offset', '1')
('autocommit', 'OFF')
('automatic_sp_privileges', 'ON')
('avoid_temporal_upgrade', 'OFF')
('back_log', '61')
('basedir', '/rdsdbbin/mysql-8.0.28.R4/')
('big_tables', 'OFF')
('bind_address', '*')
('binlog_cache_size', '32768')
('binlog_checksum', 'CRC32')
('binlog_direct_non_transactional_updates', 'OFF')
('binlog_encryption', 'OFF')
('binlog_error_action', 'ABORT_SERVER')
('binlog_expire_logs_seconds', '2592000')
('binlog_format', 'MIXED')
('binlog_group_commit_sync_delay', '0')
('binlog_group_commit_sync_no_delay_count', '0')
('binlog_gtid_simple_recovery', 'ON')
('binlog_max_flush_queue_time', '0')
('binlog_order_commits', 'ON')
('binlog_rotate_encryption_master_key_at_startup', 'OFF')
('binlog_row_event_max_size', '8192')
('binlog_row_image', 'FULL')
('binlog_row_metadata', 'MINIMAL')
('binlog_row_value_options', '')
('binlog_rows_query_log_events', 'OFF')
('binlog_stmt_cache_size', '32768')
('binlog_transaction_compression', 'OFF')
('binlog_transaction_compression_level_zstd', '3')
('binlog_transaction_dependency_history_size', '25000')
('binlog_transaction_dependency_tracking', 'COMMIT_ORDER')
('block_encryption_mode', 'aes-128-ecb')
('bulk_insert_buffer_size', '8388608')
('caching_sha2_password_auto_generate_rsa_keys', 'ON')
('caching_sha2_password_digest_rounds', '5000')
('caching_sha2_password_private_key_path', 'private_key.pem')
('caching_sha2_password_public_key_path', 'public_key.pem')
('character_set_client', 'latin1')
('character_set_connection', 'latin1')
('character_set_database', 'utf8mb4')
('character_set_filesystem', 'binary')
('character_set_results', 'latin1')
('character_set_server', 'utf8mb4')
('character_set_system', 'utf8mb3')
('character_sets_dir', '/rdsdbbin/mysql-8.0.28.R4/share/charsets/')
('check_proxy_users', 'OFF')
('collation_connection', 'latin1_swedish_ci')
('collation_database', 'utf8mb4_0900_ai_ci')
('collation_server', 'utf8mb4_0900_ai_ci')
('completion_type', 'NO_CHAIN')
('concurrent_insert', 'AUTO')
('connect_timeout', '10')
('connection_memory_chunk_size', '8912')
('connection_memory_limit', '18446744073709551615')
('core_file', 'OFF')
('create_admin_listener_thread', 'OFF')
('cte_max_recursion_depth', '1000')
('datadir', '/rdsdbdata/db/')
('default_authentication_plugin', 'mysql_native_password')
('default_collation_for_utf8mb4', 'utf8mb4_0900_ai_ci')
('default_password_lifetime', '0')
('default_storage_engine', 'InnoDB')
('default_table_encryption', 'OFF')
('default_tmp_storage_engine', 'InnoDB')
('default_week_format', '0')
('delay_key_write', 'ON')
('delayed_insert_limit', '100')
('delayed_insert_timeout', '300')
('delayed_queue_size', '1000')
('disabled_storage_engines', '')
('disconnect_on_expired_password', 'ON')
('div_precision_increment', '4')
('end_markers_in_json', 'OFF')
('enforce_gtid_consistency', 'OFF')
('eq_range_index_dive_limit', '200')
('error_count', '0')
('event_scheduler', 'ON')
('expire_logs_days', '0')
('explicit_defaults_for_timestamp', 'ON')
('external_user', '')
('flush', 'OFF')
('flush_time', '0')
('foreign_key_checks', 'ON')
('ft_boolean_syntax', '+ -><()~*:""&|')
('ft_max_word_len', '84')
('ft_min_word_len', '4')
('ft_query_expansion_limit', '20')
('ft_stopword_file', '(built-in)')
('general_log', 'OFF')
('general_log_file', '/rdsdbdata/log/general/mysql-general.log')
('generated_random_password_length', '20')
('global_connection_memory_limit', '18446744073709551615')
('global_connection_memory_tracking', 'OFF')
('group_concat_max_len', '1024')
('group_replication_consistency', 'EVENTUAL')
('gtid_executed', '')
('gtid_executed_compression_period', '0')
('gtid_mode', 'OFF_PERMISSIVE')
('gtid_next', 'AUTOMATIC')
('gtid_owned', '')
('gtid_purged', '')
('have_compress', 'YES')
('have_dynamic_loading', 'YES')
('have_geometry', 'YES')
('have_openssl', 'YES')
('have_profiling', 'YES')
('have_query_cache', 'NO')
('have_rtree_keys', 'YES')
('have_ssl', 'YES')
('have_statement_timeout', 'YES')
('have_symlink', 'DISABLED')
('histogram_generation_max_mem_size', '20000000')
('host_cache_size', '189')
('hostname', 'ip-10-1-0-128')
('identity', '0')
('immediate_server_version', '999999')
('information_schema_stats_expiry', '86400')
('init_connect', '')
('init_file', '')
('init_replica', '')
('init_slave', '')
('innodb_adaptive_flushing', 'ON')
('innodb_adaptive_flushing_lwm', '10')
('innodb_adaptive_hash_index', 'ON')
('innodb_adaptive_hash_index_parts', '8')
('innodb_adaptive_max_sleep_delay', '150000')
('innodb_api_bk_commit_interval', '5')
('innodb_api_disable_rowlock', 'OFF')
('innodb_api_enable_binlog', 'OFF')
('innodb_api_enable_mdl', 'OFF')
('innodb_api_trx_level', '0')
('innodb_autoextend_increment', '64')
('innodb_autoinc_lock_mode', '2')
('innodb_buffer_pool_chunk_size', '134217728')
('innodb_buffer_pool_dump_at_shutdown', 'ON')
('innodb_buffer_pool_dump_now', 'OFF')
('innodb_buffer_pool_dump_pct', '25')
('innodb_buffer_pool_filename', 'ib_buffer_pool')
('innodb_buffer_pool_in_core_file', 'ON')
('innodb_buffer_pool_instances', '1')
('innodb_buffer_pool_load_abort', 'OFF')
('innodb_buffer_pool_load_at_startup', 'ON')
('innodb_buffer_pool_load_now', 'OFF')
('innodb_buffer_pool_size', '268435456')
('innodb_change_buffer_max_size', '25')
('innodb_change_buffering', 'all')
('innodb_checksum_algorithm', 'crc32')
('innodb_cmp_per_index_enabled', 'OFF')
('innodb_commit_concurrency', '0')
('innodb_compression_failure_threshold_pct', '5')
('innodb_compression_level', '6')
('innodb_compression_pad_pct_max', '50')
('innodb_concurrency_tickets', '5000')
('innodb_data_file_path', 'ibdata1:12M:autoextend')
('innodb_data_home_dir', '/rdsdbdata/db/innodb')
('innodb_ddl_buffer_size', '1048576')
('innodb_ddl_threads', '4')
('innodb_deadlock_detect', 'ON')
('innodb_dedicated_server', 'OFF')
('innodb_default_row_format', 'dynamic')
('innodb_directories', '')
('innodb_disable_sort_file_cache', 'OFF')
('innodb_doublewrite', 'ON')
('innodb_doublewrite_batch_size', '16')
('innodb_doublewrite_dir', '')
('innodb_doublewrite_files', '2')
('innodb_doublewrite_pages', '32')
('innodb_extend_and_initialize', 'ON')
('innodb_fast_shutdown', '1')
('innodb_file_per_table', 'ON')
('innodb_fill_factor', '100')
('innodb_flush_log_at_timeout', '1')
('innodb_flush_log_at_trx_commit', '1')
('innodb_flush_method', 'O_DIRECT')
('innodb_flush_neighbors', '0')
('innodb_flush_sync', 'ON')
('innodb_flushing_avg_loops', '30')
('innodb_force_load_corrupted', 'OFF')
('innodb_force_recovery', '0')
('innodb_fsync_threshold', '0')
('innodb_ft_aux_table', '')
('innodb_ft_cache_size', '8000000')
('innodb_ft_enable_diag_print', 'OFF')
('innodb_ft_enable_stopword', 'ON')
('innodb_ft_max_token_size', '84')
('innodb_ft_min_token_size', '3')
('innodb_ft_num_word_optimize', '2000')
('innodb_ft_result_cache_limit', '2000000000')
('innodb_ft_server_stopword_table', '')
('innodb_ft_sort_pll_degree', '2')
('innodb_ft_total_cache_size', '640000000')
('innodb_ft_user_stopword_table', '')
('innodb_idle_flush_pct', '100')
('innodb_io_capacity', '200')
('innodb_io_capacity_max', '2000')
('innodb_lock_wait_timeout', '50')
('innodb_log_buffer_size', '8388608')
('innodb_log_checksums', 'ON')
('innodb_log_compressed_pages', 'ON')
('innodb_log_file_size', '134217728')
('innodb_log_files_in_group', '2')
('innodb_log_group_home_dir', '/rdsdbdata/log/innodb')
('innodb_log_spin_cpu_abs_lwm', '80')
('innodb_log_spin_cpu_pct_hwm', '50')
('innodb_log_wait_for_flush_spin_hwm', '400')
('innodb_log_write_ahead_size', '8192')
('innodb_log_writer_threads', 'ON')
('innodb_lru_scan_depth', '1024')
('innodb_max_dirty_pages_pct', '90.000000')
('innodb_max_dirty_pages_pct_lwm', '10.000000')
('innodb_max_purge_lag', '0')
('innodb_max_purge_lag_delay', '0')
('innodb_max_undo_log_size', '1073741824')
('innodb_monitor_disable', '')
('innodb_monitor_enable', '')
('innodb_monitor_reset', '')
('innodb_monitor_reset_all', '')
('innodb_numa_interleave', 'OFF')
('innodb_old_blocks_pct', '37')
('innodb_old_blocks_time', '1000')
('innodb_online_alter_log_max_size', '134217728')
('innodb_open_files', '4000')
('innodb_optimize_fulltext_only', 'OFF')
('innodb_page_cleaners', '1')
('innodb_page_size', '16384')
('innodb_parallel_read_threads', '4')
('innodb_print_all_deadlocks', 'OFF')
('innodb_print_ddl_logs', 'OFF')
('innodb_purge_batch_size', '300')
('innodb_purge_rseg_truncate_frequency', '128')
('innodb_purge_threads', '1')
('innodb_random_read_ahead', 'OFF')
('innodb_read_ahead_threshold', '56')
('innodb_read_io_threads', '4')
('innodb_read_only', 'OFF')
('innodb_redo_log_archive_dirs', '')
('innodb_redo_log_encrypt', 'OFF')
('innodb_replication_delay', '0')
('innodb_rollback_on_timeout', 'OFF')
('innodb_rollback_segments', '128')
('innodb_segment_reserve_factor', '12.500000')
('innodb_sort_buffer_size', '1048576')
('innodb_spin_wait_delay', '6')
('innodb_spin_wait_pause_multiplier', '50')
('innodb_stats_auto_recalc', 'ON')
('innodb_stats_include_delete_marked', 'OFF')
('innodb_stats_method', 'nulls_equal')
('innodb_stats_on_metadata', 'OFF')
('innodb_stats_persistent', 'ON')
('innodb_stats_persistent_sample_pages', '20')
('innodb_stats_transient_sample_pages', '8')
('innodb_status_output', 'OFF')
('innodb_status_output_locks', 'OFF')
('innodb_strict_mode', 'ON')
('innodb_sync_array_size', '1')
('innodb_sync_spin_loops', '30')
('innodb_table_locks', 'ON')
('innodb_temp_data_file_path', 'ibtmp1:12M:autoextend')
('innodb_temp_tablespaces_dir', './#innodb_temp/')
('innodb_thread_concurrency', '0')
('innodb_thread_sleep_delay', '10000')
('innodb_tmpdir', '')
('innodb_undo_directory', './')
('innodb_undo_log_encrypt', 'OFF')
('innodb_undo_log_truncate', 'ON')
('innodb_undo_tablespaces', '2')
('innodb_use_fdatasync', 'OFF')
('innodb_use_native_aio', 'ON')
('innodb_validate_tablespace_paths', 'ON')
('innodb_version', '8.0.28')
('innodb_write_io_threads', '4')
('insert_id', '0')
('interactive_timeout', '28800')
('internal_tmp_mem_storage_engine', 'TempTable')
('join_buffer_size', '262144')
('keep_files_on_create', 'OFF')
('key_buffer_size', '16777216')
('key_cache_age_threshold', '300')
('key_cache_block_size', '1024')
('key_cache_division_limit', '100')
('keyring_operations', 'ON')
('large_files_support', 'ON')
('large_page_size', '0')
('large_pages', 'OFF')
('last_insert_id', '0')
('lc_messages', 'en_US')
('lc_messages_dir', '/rdsdbbin/mysql-8.0.28.R4/share/')
('lc_time_names', 'en_US')
('license', 'GPL')
('local_infile', 'ON')
('lock_wait_timeout', '31536000')
('locked_in_memory', 'OFF')
('log_bin', 'ON')
('log_bin_basename', '/rdsdbdata/log/binlog/mysql-bin-changelog')
('log_bin_index', '/rdsdbdata/log/binlog/mysql-bin-changelog.index')
('log_bin_trust_function_creators', 'OFF')
('log_bin_use_v1_row_events', 'OFF')
('log_error', '/rdsdbdata/log/error/mysql-error.log')
('log_error_services', 'log_filter_internal; log_sink_internal')
('log_error_suppression_list', '')
('log_error_verbosity', '2')
('log_output', 'TABLE')
('log_queries_not_using_indexes', 'OFF')
('log_raw', 'OFF')
('log_replica_updates', 'ON')
('log_slave_updates', 'ON')
('log_slow_admin_statements', 'OFF')
('log_slow_extra', 'OFF')
('log_slow_replica_statements', 'OFF')
('log_slow_slave_statements', 'OFF')
('log_statements_unsafe_for_binlog', 'OFF')
('log_throttle_queries_not_using_indexes', '0')
('log_timestamps', 'UTC')
('long_query_time', '10.000000')
('low_priority_updates', 'OFF')
('lower_case_file_system', 'OFF')
('lower_case_table_names', '0')
('mandatory_roles', '')
('master_info_repository', 'TABLE')
('master_verify_checksum', 'OFF')
('max_allowed_packet', '67108864')
('max_binlog_cache_size', '18446744073709547520')
('max_binlog_size', '134217728')
('max_binlog_stmt_cache_size', '18446744073709547520')
('max_connect_errors', '100')
('max_connections', '61')
('max_delayed_threads', '20')
('max_digest_length', '1024')
('max_error_count', '1024')
('max_execution_time', '0')
('max_heap_table_size', '16777216')
('max_insert_delayed_threads', '20')
('max_join_size', '18446744073709551615')
('max_length_for_sort_data', '4096')
('max_points_in_geometry', '65536')
('max_prepared_stmt_count', '16382')
('max_relay_log_size', '0')
('max_seeks_for_key', '18446744073709551615')
('max_sort_length', '1024')
('max_sp_recursion_depth', '0')
('max_user_connections', '0')
('max_write_lock_count', '18446744073709551615')
('min_examined_row_limit', '0')
('myisam_data_pointer_size', '6')
('myisam_max_sort_file_size', '9223372036853727232')
('myisam_mmap_size', '18446744073709551615')
('myisam_recover_options', 'OFF')
('myisam_repair_threads', '1')
('myisam_sort_buffer_size', '8388608')
('myisam_stats_method', 'nulls_unequal')
('myisam_use_mmap', 'OFF')
('mysql_native_password_proxy_users', 'OFF')
('net_buffer_length', '16384')
('net_read_timeout', '30')
('net_retry_count', '10')
('net_write_timeout', '60')
('new', 'OFF')
('ngram_token_size', '2')
('offline_mode', 'OFF')
('old', 'OFF')
('old_alter_table', 'OFF')
('open_files_limit', '1048576')
('optimizer_prune_level', '1')
('optimizer_search_depth', '62')
('optimizer_switch', 'index_merge=on,index_merge_union=on,index_merge_sort_union=on,index_merge_intersection=on,engine_condition_pushdown=on,index_condition_pushdown=on,mr ... (258 characters truncated) ... visible_indexes=off,skip_scan=on,hash_join=on,subquery_to_derived=off,prefer_ordering_index=on,hypergraph_optimizer=off,derived_condition_pushdown=on')
('optimizer_trace', 'enabled=off,one_line=off')
('optimizer_trace_features', 'greedy_search=on,range_optimizer=on,dynamic_range=on,repeated_subselect=on')
('optimizer_trace_limit', '1')
('optimizer_trace_max_mem_size', '1048576')
('optimizer_trace_offset', '-1')
('original_commit_timestamp', '36028797018963968')
('original_server_version', '999999')
('parser_max_mem_size', '18446744073709551615')
('partial_revokes', 'OFF')
('password_history', '0')
('password_require_current', 'OFF')
('password_reuse_interval', '0')
('performance_schema', 'OFF')
('performance_schema_accounts_size', '0')
('performance_schema_digests_size', '0')
('performance_schema_error_size', '0')
('performance_schema_events_stages_history_long_size', '0')
('performance_schema_events_stages_history_size', '0')
('performance_schema_events_statements_history_long_size', '0')
('performance_schema_events_statements_history_size', '0')
('performance_schema_events_transactions_history_long_size', '0')
('performance_schema_events_transactions_history_size', '0')
('performance_schema_events_waits_history_long_size', '0')
('performance_schema_events_waits_history_size', '0')
('performance_schema_hosts_size', '0')
('performance_schema_max_cond_classes', '0')
('performance_schema_max_cond_instances', '0')
('performance_schema_max_digest_length', '0')
('performance_schema_max_digest_sample_age', '60')
('performance_schema_max_file_classes', '0')
('performance_schema_max_file_handles', '0')
('performance_schema_max_file_instances', '0')
('performance_schema_max_index_stat', '0')
('performance_schema_max_memory_classes', '0')
('performance_schema_max_metadata_locks', '0')
('performance_schema_max_mutex_classes', '0')
('performance_schema_max_mutex_instances', '0')
('performance_schema_max_prepared_statements_instances', '0')
('performance_schema_max_program_instances', '0')
('performance_schema_max_rwlock_classes', '0')
('performance_schema_max_rwlock_instances', '0')
('performance_schema_max_socket_classes', '0')
('performance_schema_max_socket_instances', '0')
('performance_schema_max_sql_text_length', '0')
('performance_schema_max_stage_classes', '0')
('performance_schema_max_statement_classes', '0')
('performance_schema_max_statement_stack', '0')
('performance_schema_max_table_handles', '0')
('performance_schema_max_table_instances', '0')
('performance_schema_max_table_lock_stat', '0')
('performance_schema_max_thread_classes', '0')
('performance_schema_max_thread_instances', '0')
('performance_schema_session_connect_attrs_size', '0')
('performance_schema_setup_actors_size', '0')
('performance_schema_setup_objects_size', '0')
('performance_schema_show_processlist', 'OFF')
('performance_schema_users_size', '0')
('persist_only_admin_x509_subject', '')
('persisted_globals_load', 'OFF')
('pid_file', '/rdsdbdata/log/mysql-3306.pid')
('plugin_dir', '/rdsdbbin/mysql-8.0.28.R4/lib/plugin/')
('port', '3306')
('preload_buffer_size', '32768')
('print_identified_with_as_hex', 'OFF')
('profiling', 'OFF')
('profiling_history_size', '15')
('protocol_compression_algorithms', 'zlib,zstd,uncompressed')
('protocol_version', '10')
('proxy_user', '')
('pseudo_replica_mode', 'OFF')
('pseudo_slave_mode', 'OFF')
('pseudo_thread_id', '20440')
('query_alloc_block_size', '8192')
('query_prealloc_size', '8192')
('rand_seed1', '0')
('rand_seed2', '0')
('range_alloc_block_size', '4096')
('range_optimizer_max_mem_size', '8388608')
('rbr_exec_mode', 'STRICT')
('read_buffer_size', '262144')
('read_only', 'OFF')
('read_rnd_buffer_size', '524288')
('regexp_stack_limit', '8000000')
('regexp_time_limit', '32')
('relay_log', '/rdsdbdata/log/relaylog/relaylog')
('relay_log_basename', '/rdsdbdata/log/relaylog/relaylog')
('relay_log_index', '/rdsdbdata/log/relaylog/relaylog.index')
('relay_log_info_file', 'relay-log.info')
('relay_log_info_repository', 'TABLE')
('relay_log_purge', 'ON')
('relay_log_recovery', 'ON')
('relay_log_space_limit', '0')
('replica_allow_batching', 'OFF')
('replica_checkpoint_group', '512')
('replica_checkpoint_period', '300')
('replica_compressed_protocol', 'OFF')
('replica_exec_mode', 'IDEMPOTENT')
('replica_load_tmpdir', '/rdsdbdata/tmp')
('replica_max_allowed_packet', '1073741824')
('replica_net_timeout', '60')
('replica_parallel_type', 'LOGICAL_CLOCK')
('replica_parallel_workers', '4')
('replica_pending_jobs_size_max', '134217728')
('replica_preserve_commit_order', 'ON')
('replica_skip_errors', 'OFF')
('replica_sql_verify_checksum', 'ON')
('replica_transaction_retries', '10')
('replica_type_conversions', '')
('replication_optimize_for_static_plugin_config', 'OFF')
('replication_sender_observe_commit_only', 'OFF')
('report_host', '')
('report_password', '')
('report_port', '3306')
('report_user', '')
('require_row_format', 'OFF')
('require_secure_transport', 'OFF')
('resultset_metadata', 'FULL')
('rpl_read_size', '8192')
('rpl_stop_replica_timeout', '31536000')
('rpl_stop_slave_timeout', '31536000')
('schema_definition_cache', '256')
('secondary_engine_cost_threshold', '100000.000000')
('secure_file_priv', '/secure_file_priv_dir/')
('select_into_buffer_size', '131072')
('select_into_disk_sync', 'OFF')
('select_into_disk_sync_delay', '0')
('server_id', '598719771')
('server_id_bits', '32')
('server_uuid', '49137707-b35e-11ed-84e2-12887ee3baf3')
('session_track_gtids', 'OFF')
('session_track_schema', 'ON')
('session_track_state_change', 'OFF')
('session_track_system_variables', 'time_zone,autocommit,character_set_client,character_set_results,character_set_connection')
('session_track_transaction_info', 'OFF')
('sha256_password_auto_generate_rsa_keys', 'ON')
('sha256_password_private_key_path', 'private_key.pem')

In [5]:
sql = """create database if not exists dbikes;"""
engine.execute(sql)

2023-04-03 20:42:49,477 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-04-03 20:42:49,480 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-03 20:42:49,677 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-04-03 20:42:49,679 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-03 20:42:49,777 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-04-03 20:42:49,778 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-03 20:42:49,972 INFO sqlalchemy.engine.Engine create database if not exists test;
2023-04-03 20:42:49,974 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-03 20:42:50,075 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
#Creating stations table
sql ="""
CREATE TABLE IF NOT EXISTS station (
address VARCHAR(256),
banking int,
bike_stands int,
bonus int, 
contract_name varchar(256),
name varchar(256),
number int primary key,
position_lat real,
position_lng real,
status varchar(256))"""

try:
    res = engine.execute("drop table if exists station")
    res = engine.execute(sql)
    print(res.fetchall())
except Exception as e:
    print(e)

2023-03-06 12:30:30,009 INFO sqlalchemy.engine.Engine drop table if exists station
2023-03-06 12:30:30,011 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-06 12:30:30,115 INFO sqlalchemy.engine.Engine COMMIT
2023-03-06 12:30:30,301 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS station (
address VARCHAR(256),
banking int,
bike_stands int,
bonus int,
contract_name varchar(256),
name varchar(256),
number int primary key,
position_lat real,
position_lng real,
status varchar(256))
2023-03-06 12:30:30,303 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-06 12:30:30,437 INFO sqlalchemy.engine.Engine COMMIT
This result object does not return rows. It has been closed automatically.

In [7]:
#Creating availability table
sql = """
Create table if not exists availability (
number int,
available_bikes int,
available_bike_stands int,
last_update bigint,
foreign key(number) references station(number))"""

try:
    
    res = engine.execute(sql)
    print(res.fetchall())
except Exception as e:
    print(e)

2023-03-06 12:30:37,025 INFO sqlalchemy.engine.Engine
Create table if not exists availability (
number int,
available_bikes int,
available_bike_stands int,
last_update bigint,
foreign key(number) references station(number))
2023-03-06 12:30:37,028 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-06 12:30:37,164 INFO sqlalchemy.engine.Engine COMMIT
This result object does not return rows. It has been closed automatically.

In [35]:
#Creating weather table
sql = """Create table if not exists dbikes.weather (
position_lng int,
position_lat int,
description Varchar(256),
temperature int,
feels_like int, 
temp_min int, 
temp_max int, 
pressure int,
humidity int,
visibility int,
wind_speed int, 
dt bigint,
sunrise int,
sunset int)"""

try:
    
    res = engine.execute(sql)
    print(res.fetchall())
except Exception as e:
    print(e)

2023-04-05 19:23:14,902 INFO sqlalchemy.engine.Engine drop table if exists dbikes.weather
2023-04-05 19:23:14,905 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-05 19:23:15,110 INFO sqlalchemy.engine.Engine COMMIT
2023-04-05 19:23:15,309 INFO sqlalchemy.engine.Engine Create table if not exists dbikes.weather (
position_lng int,
position_lat int,
description Varchar(256),
temperature int,
feels_like int,
temp_min int,
temp_max int,
pressure int,
humidity int,
visibility int,
wind_speed int,
dt bigint,
sunrise int,
sunset int)
2023-04-05 19:23:15,311 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-05 19:23:15,470 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
"""import requests 
import traceback
import datetime 
import time
import json

url = "https://api.jcdecaux.com/vls/v1/stations?contract=Dublin&apiKey=d56dfda32709850e6f9e533857176f085c22106e"

def write_to_file(text):
    now = datetime.datetime.now()
    with open(f"data/bikes_{now}".replace(" ", "_"), "w") as f:
        f.write(text)

def stations_to_db(text):
    stations = json.loads(text)
    print(type(stations), len(stations))
    for station in stations:
        print(station)
        vals = (
            station.get('address'),
            int(station.get('banking')),
            station.get('bike_stands'),
            int(station.get('bonus')),
            station.get('contract_name'),
            station.get('name'),
            station.get('number'),
            station.get('position').get('lat'),
            station.get('position').get('lng'),
            station.get('status')
        )

        engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
        break
        
        
def availability_to_db(text):
    availability = json.loads(text)
    print(type(availability), len(availability))
    for available in availability:
        print(available)
        vals = (
            available.get("number"),
            available.get("available_bikes"),
            available.get("available_bike_stands"),
            available.get("last_update"))
 

        engine.execute("insert into availability values (%s, %s, %s, %s)", vals)
        
    return



def main():
    while True:
        try:
            r = requests.get(url)
            print(r, datetime.datetime.now())
            write_to_file(r.text)
            stations_to_db(r.text)
            availability_to_db(r.text)
            time.sleep(5 * 60)
        except:
            print(traceback.format_exc())

if __name__ == "__main__":
    main()
"""

<Response [200]> 2023-02-28 09:51:58.565766
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677577749000}
2023-02-28 09:52:01,234 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-02-28 09:52:01,237 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-28 09:52:01,763 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-02-28 09:52:01,766 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-28 09:52:02,279 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-02-28 09:52:02,282 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-28 09:52:02,810 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-02-28 09:52:02,813 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-02-28 09:52:03,331 INFO sqlalchemy.engine.Engine COMMIT
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677577749000}
2023-02-28 09:52:03,864 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:03,866 INFO sqlalchemy.engine.Engine [raw sql] (42, 7, 22, 1677577749000)
2023-02-28 09:52:04,380 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677577342000}
2023-02-28 09:52:04,906 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:04,908 INFO sqlalchemy.engine.Engine [raw sql] (30, 3, 17, 1677577342000)
2023-02-28 09:52:05,431 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 23, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677577759000}
2023-02-28 09:52:05,958 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:05,960 INFO sqlalchemy.engine.Engine [raw sql] (54, 10, 23, 1677577759000)
2023-02-28 09:52:06,474 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577496000}
2023-02-28 09:52:07,001 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:07,004 INFO sqlalchemy.engine.Engine [raw sql] (108, 0, 35, 1677577496000)
2023-02-28 09:52:07,525 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677577754000}
2023-02-28 09:52:08,056 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:08,059 INFO sqlalchemy.engine.Engine [raw sql] (20, 19, 10, 1677577754000)
2023-02-28 09:52:08,573 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 1, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677577885000}
2023-02-28 09:52:09,103 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:09,105 INFO sqlalchemy.engine.Engine [raw sql] (56, 38, 1, 1677577885000)
2023-02-28 09:52:09,619 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577767000}
2023-02-28 09:52:10,149 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:10,151 INFO sqlalchemy.engine.Engine [raw sql] (6, 0, 20, 1677577767000)
2023-02-28 09:52:10,668 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677577303000}
2023-02-28 09:52:11,195 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:11,197 INFO sqlalchemy.engine.Engine [raw sql] (18, 2, 28, 1677577303000)
2023-02-28 09:52:11,717 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677577639000}
2023-02-28 09:52:12,244 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:12,246 INFO sqlalchemy.engine.Engine [raw sql] (32, 10, 20, 1677577639000)
2023-02-28 09:52:12,765 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 17, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677577887000}
2023-02-28 09:52:13,292 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:13,294 INFO sqlalchemy.engine.Engine [raw sql] (52, 15, 17, 1677577887000)
2023-02-28 09:52:13,826 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677577864000}
2023-02-28 09:52:14,343 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:14,345 INFO sqlalchemy.engine.Engine [raw sql] (48, 4, 35, 1677577864000)
2023-02-28 09:52:14,863 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677577290000}
2023-02-28 09:52:15,810 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:15,813 INFO sqlalchemy.engine.Engine [raw sql] (13, 18, 12, 1677577290000)
2023-02-28 09:52:15,918 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577721000}
2023-02-28 09:52:16,242 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:52:16,245 INFO sqlalchemy.engine.Engine [raw sql] (43, 0, 30, 1677577721000)
2023-02-28 09:52:16,350 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677577399000}
2023-02-28 09:52:16,962 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:16,965 INFO sqlalchemy.engine.Engine [raw sql] (31, 12, 8, 1677577399000)
2023-02-28 09:52:17,385 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677577521000}
2023-02-28 09:52:18,016 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:18,018 INFO sqlalchemy.engine.Engine [raw sql] (98, 26, 13, 1677577521000)
2023-02-28 09:52:18,433 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677577603000}
2023-02-28 09:52:19,062 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:19,064 INFO sqlalchemy.engine.Engine [raw sql] (14, 13, 17, 1677577603000)
2023-02-28 09:52:19,484 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 12, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677577567000}
2023-02-28 09:52:20,110 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:20,111 INFO sqlalchemy.engine.Engine [raw sql] (1, 19, 12, 1677577567000)
2023-02-28 09:52:20,536 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677577788000}
2023-02-28 09:52:21,162 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:21,164 INFO sqlalchemy.engine.Engine [raw sql] (23, 21, 9, 1677577788000)
2023-02-28 09:52:21,578 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577859000}
2023-02-28 09:52:22,209 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:22,211 INFO sqlalchemy.engine.Engine [raw sql] (106, 0, 40, 1677577859000)
2023-02-28 09:52:22,628 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577598000}
2023-02-28 09:52:23,257 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:23,259 INFO sqlalchemy.engine.Engine [raw sql] (112, 0, 30, 1677577598000)
2023-02-28 09:52:23,678 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 1, 'available_bikes': 36, 'status': 'OPEN', 'last_update': 1677577662000}
2023-02-28 09:52:24,317 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:24,319 INFO sqlalchemy.engine.Engine [raw sql] (68, 36, 1, 1677577662000)
2023-02-28 09:52:24,726 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577879000}
2023-02-28 09:52:25,357 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:25,360 INFO sqlalchemy.engine.Engine [raw sql] (74, 1, 29, 1677577879000)
2023-02-28 09:52:25,775 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 37, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577680000}
2023-02-28 09:52:26,405 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:26,407 INFO sqlalchemy.engine.Engine [raw sql] (87, 1, 37, 1677577680000)
2023-02-28 09:52:26,824 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577458000}
2023-02-28 09:52:27,452 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:27,456 INFO sqlalchemy.engine.Engine [raw sql] (84, 0, 30, 1677577458000)
2023-02-28 09:52:27,873 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 1, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1677577710000}
2023-02-28 09:52:28,492 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:28,494 INFO sqlalchemy.engine.Engine [raw sql] (90, 37, 1, 1677577710000)
2023-02-28 09:52:28,918 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 11, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677577824000}
2023-02-28 09:52:29,448 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:29,451 INFO sqlalchemy.engine.Engine [raw sql] (11, 19, 11, 1677577824000)
2023-02-28 09:52:29,547 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 16, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677577794000}
2023-02-28 09:52:30,073 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:30,076 INFO sqlalchemy.engine.Engine [raw sql] (17, 4, 16, 1677577794000)
2023-02-28 09:52:30,586 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677577668000}
2023-02-28 09:52:31,114 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:52:31,117 INFO sqlalchemy.engine.Engine [raw sql] (45, 10, 20, 1677577668000)
2023-02-28 09:52:31,545 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677577802000}
2023-02-28 09:52:32,068 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:32,070 INFO sqlalchemy.engine.Engine [raw sql] (114, 25, 15, 1677577802000)
2023-02-28 09:52:32,168 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 30, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577682000}
2023-02-28 09:52:32,918 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:32,921 INFO sqlalchemy.engine.Engine [raw sql] (72, 1, 30, 1677577682000)
2023-02-28 09:52:33,017 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 20, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677577665000}
2023-02-28 09:52:33,444 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:33,446 INFO sqlalchemy.engine.Engine [raw sql] (63, 15, 20, 1677577665000)
2023-02-28 09:52:33,544 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677577868000}
2023-02-28 09:52:33,754 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:33,756 INFO sqlalchemy.engine.Engine [raw sql] (113, 16, 24, 1677577868000)
2023-02-28 09:52:33,966 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677577832000}
2023-02-28 09:52:34,168 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:34,170 INFO sqlalchemy.engine.Engine [raw sql] (91, 10, 19, 1677577832000)
2023-02-28 09:52:34,267 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 2, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677577649000}
2023-02-28 09:52:34,701 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:34,703 INFO sqlalchemy.engine.Engine [raw sql] (99, 27, 2, 1677577649000)
2023-02-28 09:52:34,800 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 0, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677577860000}
2023-02-28 09:52:35,110 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:35,112 INFO sqlalchemy.engine.Engine [raw sql] (9, 24, 0, 1677577860000)
2023-02-28 09:52:35,208 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 10, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677577539000}
2023-02-28 09:52:35,840 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:35,842 INFO sqlalchemy.engine.Engine [raw sql] (67, 28, 10, 1677577539000)
2023-02-28 09:52:36,259 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577620000}
2023-02-28 09:52:36,877 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:36,880 INFO sqlalchemy.engine.Engine [raw sql] (116, 1, 29, 1677577620000)
2023-02-28 09:52:37,108 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 5, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677577873000}
2023-02-28 09:52:37,331 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:37,333 INFO sqlalchemy.engine.Engine [raw sql] (55, 29, 5, 1677577873000)
2023-02-28 09:52:37,522 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677577748000}
2023-02-28 09:52:37,715 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:37,716 INFO sqlalchemy.engine.Engine [raw sql] (62, 20, 20, 1677577748000)
2023-02-28 09:52:37,810 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677577728000}
2023-02-28 09:52:38,003 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:38,006 INFO sqlalchemy.engine.Engine [raw sql] (5, 7, 33, 1677577728000)
2023-02-28 09:52:38,111 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677577496000}
2023-02-28 09:52:38,402 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:38,403 INFO sqlalchemy.engine.Engine [raw sql] (97, 5, 35, 1677577496000)
2023-02-28 09:52:38,750 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 20, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677577774000}
2023-02-28 09:52:38,965 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:38,968 INFO sqlalchemy.engine.Engine [raw sql] (61, 5, 20, 1677577774000)
2023-02-28 09:52:39,413 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 27, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577380000}
2023-02-28 09:52:40,024 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:52:40,027 INFO sqlalchemy.engine.Engine [raw sql] (77, 0, 27, 1677577380000)
2023-02-28 09:52:40,461 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677577330000}
2023-02-28 09:52:41,083 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:41,086 INFO sqlalchemy.engine.Engine [raw sql] (4, 20, 0, 1677577330000)
2023-02-28 09:52:41,499 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677577793000}
2023-02-28 09:52:42,115 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:42,118 INFO sqlalchemy.engine.Engine [raw sql] (49, 24, 16, 1677577793000)
2023-02-28 09:52:42,550 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677577870000}
2023-02-28 09:52:43,078 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:43,081 INFO sqlalchemy.engine.Engine [raw sql] (19, 27, 1, 1677577870000)
2023-02-28 09:52:43,179 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577781000}
2023-02-28 09:52:44,244 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:44,246 INFO sqlalchemy.engine.Engine [raw sql] (7, 1, 28, 1677577781000)
2023-02-28 09:52:44,649 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577887000}
2023-02-28 09:52:45,171 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:45,173 INFO sqlalchemy.engine.Engine [raw sql] (60, 1, 29, 1677577887000)
2023-02-28 09:52:45,279 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577696000}
2023-02-28 09:52:45,797 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:45,799 INFO sqlalchemy.engine.Engine [raw sql] (102, 1, 39, 1677577696000)
2023-02-28 09:52:46,319 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677577851000}
2023-02-28 09:52:46,853 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:46,855 INFO sqlalchemy.engine.Engine [raw sql] (38, 25, 13, 1677577851000)
2023-02-28 09:52:47,370 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677577553000}
2023-02-28 09:52:47,894 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:47,896 INFO sqlalchemy.engine.Engine [raw sql] (53, 20, 20, 1677577553000)
2023-02-28 09:52:48,332 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 5, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1677577862000}
2023-02-28 09:52:48,853 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:48,856 INFO sqlalchemy.engine.Engine [raw sql] (58, 33, 5, 1677577862000)
2023-02-28 09:52:49,373 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 6, 'available_bikes': 34, 'status': 'OPEN', 'last_update': 1677577801000}
2023-02-28 09:52:49,901 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:49,904 INFO sqlalchemy.engine.Engine [raw sql] (66, 34, 6, 1677577801000)
2023-02-28 09:52:50,420 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677577443000}
2023-02-28 09:52:50,947 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:50,949 INFO sqlalchemy.engine.Engine [raw sql] (104, 8, 32, 1677577443000)
2023-02-28 09:52:51,044 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577764000}
2023-02-28 09:52:51,993 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:51,995 INFO sqlalchemy.engine.Engine [raw sql] (101, 1, 29, 1677577764000)
2023-02-28 09:52:52,090 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577887000}
2023-02-28 09:52:52,612 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:52,614 INFO sqlalchemy.engine.Engine [raw sql] (115, 0, 29, 1677577887000)
2023-02-28 09:52:53,044 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677577559000}
2023-02-28 09:52:53,687 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:53,689 INFO sqlalchemy.engine.Engine [raw sql] (47, 13, 26, 1677577559000)
2023-02-28 09:52:54,099 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 1, 'available_bikes': 39, 'status': 'OPEN', 'last_update': 1677577607000}
2023-02-28 09:52:54,720 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:52:54,722 INFO sqlalchemy.engine.Engine [raw sql] (117, 39, 1, 1677577607000)
2023-02-28 09:52:55,174 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577688000}
2023-02-28 09:52:55,781 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:55,783 INFO sqlalchemy.engine.Engine [raw sql] (8, 1, 29, 1677577688000)
2023-02-28 09:52:56,200 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 4, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677577367000}
2023-02-28 09:52:56,728 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:56,730 INFO sqlalchemy.engine.Engine [raw sql] (27, 16, 4, 1677577367000)
2023-02-28 09:52:56,824 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677577847000}
2023-02-28 09:52:57,771 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:57,774 INFO sqlalchemy.engine.Engine [raw sql] (16, 7, 12, 1677577847000)
2023-02-28 09:52:57,881 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577541000}
2023-02-28 09:52:58,388 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:58,390 INFO sqlalchemy.engine.Engine [raw sql] (96, 0, 30, 1677577541000)
2023-02-28 09:52:58,822 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 5, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677577408000}
2023-02-28 09:52:59,346 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:52:59,349 INFO sqlalchemy.engine.Engine [raw sql] (82, 3, 5, 1677577408000)
2023-02-28 09:52:59,444 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 35, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677577335000}
2023-02-28 09:53:00,295 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:00,297 INFO sqlalchemy.engine.Engine [raw sql] (76, 3, 35, 1677577335000)
2023-02-28 09:53:00,400 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677577845000}
2023-02-28 09:53:01,020 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:01,021 INFO sqlalchemy.engine.Engine [raw sql] (71, 3, 37, 1677577845000)
2023-02-28 09:53:01,439 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 14, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677577872000}
2023-02-28 09:53:02,069 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:02,071 INFO sqlalchemy.engine.Engine [raw sql] (79, 12, 14, 1677577872000)
2023-02-28 09:53:02,487 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677577854000}
2023-02-28 09:53:03,116 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:03,119 INFO sqlalchemy.engine.Engine [raw sql] (69, 38, 0, 1677577854000)
2023-02-28 09:53:03,339 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677577671000}
2023-02-28 09:53:03,552 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:03,555 INFO sqlalchemy.engine.Engine [raw sql] (25, 14, 16, 1677577671000)
2023-02-28 09:53:04,060 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677577855000}
2023-02-28 09:53:04,584 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:04,586 INFO sqlalchemy.engine.Engine [raw sql] (51, 13, 27, 1677577855000)
2023-02-28 09:53:04,693 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677577794000}
2023-02-28 09:53:05,446 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:05,448 INFO sqlalchemy.engine.Engine [raw sql] (37, 6, 23, 1677577794000)
2023-02-28 09:53:05,554 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677577795000}
2023-02-28 09:53:06,160 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:06,162 INFO sqlalchemy.engine.Engine [raw sql] (59, 5, 15, 1677577795000)
2023-02-28 09:53:06,261 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677577553000}
2023-02-28 09:53:06,789 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:06,792 INFO sqlalchemy.engine.Engine [raw sql] (95, 17, 23, 1677577553000)
2023-02-28 09:53:07,311 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577320000}
2023-02-28 09:53:07,828 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:53:07,831 INFO sqlalchemy.engine.Engine [raw sql] (94, 0, 40, 1677577320000)
2023-02-28 09:53:08,255 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 24, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677577574000}
2023-02-28 09:53:08,589 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:08,591 INFO sqlalchemy.engine.Engine [raw sql] (105, 12, 24, 1677577574000)
2023-02-28 09:53:08,688 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677577519000}
2023-02-28 09:53:09,310 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:09,313 INFO sqlalchemy.engine.Engine [raw sql] (36, 16, 24, 1677577519000)
2023-02-28 09:53:09,408 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577881000}
2023-02-28 09:53:09,927 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:09,930 INFO sqlalchemy.engine.Engine [raw sql] (93, 0, 40, 1677577881000)
2023-02-28 09:53:10,359 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577878000}
2023-02-28 09:53:10,686 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:10,688 INFO sqlalchemy.engine.Engine [raw sql] (22, 1, 18, 1677577878000)
2023-02-28 09:53:10,812 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677577822000}
2023-02-28 09:53:11,409 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:11,412 INFO sqlalchemy.engine.Engine [raw sql] (50, 20, 19, 1677577822000)
2023-02-28 09:53:11,508 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577410000}
2023-02-28 09:53:12,027 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:12,029 INFO sqlalchemy.engine.Engine [raw sql] (110, 1, 39, 1677577410000)
2023-02-28 09:53:12,454 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677577825000}
2023-02-28 09:53:12,979 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:12,981 INFO sqlalchemy.engine.Engine [raw sql] (12, 2, 18, 1677577825000)
2023-02-28 09:53:13,501 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577603000}
2023-02-28 09:53:14,025 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:14,027 INFO sqlalchemy.engine.Engine [raw sql] (34, 0, 29, 1677577603000)
2023-02-28 09:53:14,128 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677577845000}
2023-02-28 09:53:15,073 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:15,075 INFO sqlalchemy.engine.Engine [raw sql] (78, 11, 27, 1677577845000)
2023-02-28 09:53:15,181 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577777000}
2023-02-28 09:53:16,122 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:16,123 INFO sqlalchemy.engine.Engine [raw sql] (2, 0, 20, 1677577777000)
2023-02-28 09:53:16,220 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677577401000}
2023-02-28 09:53:16,751 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:16,753 INFO sqlalchemy.engine.Engine [raw sql] (75, 4, 36, 1677577401000)
2023-02-28 09:53:17,179 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-02-28 09:53:17,804 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:17,806 INFO sqlalchemy.engine.Engine [raw sql] (507, 1, 0, 1675786128000)
2023-02-28 09:53:18,226 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577858000}
2023-02-28 09:53:18,837 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:18,839 INFO sqlalchemy.engine.Engine [raw sql] (111, 0, 40, 1677577858000)
2023-02-28 09:53:19,278 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677577679000}
2023-02-28 09:53:19,903 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:19,906 INFO sqlalchemy.engine.Engine [raw sql] (26, 7, 13, 1677577679000)
2023-02-28 09:53:20,323 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677577600000}
2023-02-28 09:53:20,947 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:53:20,949 INFO sqlalchemy.engine.Engine [raw sql] (65, 24, 15, 1677577600000)
2023-02-28 09:53:21,378 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 12, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577698000}
2023-02-28 09:53:21,901 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:21,903 INFO sqlalchemy.engine.Engine [raw sql] (15, 0, 12, 1677577698000)
2023-02-28 09:53:21,999 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 35, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677577445000}
2023-02-28 09:53:22,521 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:22,523 INFO sqlalchemy.engine.Engine [raw sql] (86, 3, 35, 1677577445000)
2023-02-28 09:53:22,950 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677577702000}
2023-02-28 09:53:23,477 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:23,480 INFO sqlalchemy.engine.Engine [raw sql] (35, 8, 21, 1677577702000)
2023-02-28 09:53:23,575 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 6, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677577482000}
2023-02-28 09:53:24,520 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:24,523 INFO sqlalchemy.engine.Engine [raw sql] (10, 10, 6, 1677577482000)
2023-02-28 09:53:24,618 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 22, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677577545000}
2023-02-28 09:53:25,144 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:25,146 INFO sqlalchemy.engine.Engine [raw sql] (100, 3, 22, 1677577545000)
2023-02-28 09:53:25,597 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677577593000}
2023-02-28 09:53:26,238 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:26,240 INFO sqlalchemy.engine.Engine [raw sql] (24, 20, 0, 1677577593000)
2023-02-28 09:53:26,652 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677577861000}
2023-02-28 09:53:27,277 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:27,279 INFO sqlalchemy.engine.Engine [raw sql] (64, 26, 14, 1677577861000)
2023-02-28 09:53:27,486 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 14, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677577828000}
2023-02-28 09:53:28,215 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:28,217 INFO sqlalchemy.engine.Engine [raw sql] (109, 15, 14, 1677577828000)
2023-02-28 09:53:28,325 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577468000}
2023-02-28 09:53:29,282 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:29,284 INFO sqlalchemy.engine.Engine [raw sql] (85, 0, 35, 1677577468000)
2023-02-28 09:53:29,423 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677577579000}
2023-02-28 09:53:30,317 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:30,320 INFO sqlalchemy.engine.Engine [raw sql] (107, 11, 29, 1677577579000)
2023-02-28 09:53:30,445 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 2, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677577848000}
2023-02-28 09:53:31,344 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:31,346 INFO sqlalchemy.engine.Engine [raw sql] (33, 21, 2, 1677577848000)
2023-02-28 09:53:31,461 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577701000}
2023-02-28 09:53:32,426 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:32,428 INFO sqlalchemy.engine.Engine [raw sql] (44, 0, 30, 1677577701000)
2023-02-28 09:53:32,538 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677577780000}
2023-02-28 09:53:33,969 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:33,972 INFO sqlalchemy.engine.Engine [raw sql] (89, 14, 26, 1677577780000)
2023-02-28 09:53:34,075 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 0, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677577284000}
2023-02-28 09:53:35,052 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:35,054 INFO sqlalchemy.engine.Engine [raw sql] (57, 23, 0, 1677577284000)
2023-02-28 09:53:36,141 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677577887000}
2023-02-28 09:53:36,738 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:53:36,740 INFO sqlalchemy.engine.Engine [raw sql] (80, 10, 30, 1677577887000)
2023-02-28 09:53:37,124 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577834000}
2023-02-28 09:53:38,154 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:38,156 INFO sqlalchemy.engine.Engine [raw sql] (41, 0, 20, 1677577834000)
2023-02-28 09:53:38,677 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677577696000}
2023-02-28 09:53:39,246 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:39,248 INFO sqlalchemy.engine.Engine [raw sql] (3, 8, 12, 1677577696000)
2023-02-28 09:53:39,783 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 12, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677577701000}
2023-02-28 09:53:40,281 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:40,283 INFO sqlalchemy.engine.Engine [raw sql] (40, 9, 12, 1677577701000)
2023-02-28 09:53:40,810 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 19, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677577793000}
2023-02-28 09:53:41,953 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:41,955 INFO sqlalchemy.engine.Engine [raw sql] (29, 10, 19, 1677577793000)
2023-02-28 09:53:42,353 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677577810000}
2023-02-28 09:53:42,997 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:42,999 INFO sqlalchemy.engine.Engine [raw sql] (103, 21, 19, 1677577810000)
2023-02-28 09:53:43,971 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577875000}
2023-02-28 09:53:44,475 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:44,477 INFO sqlalchemy.engine.Engine [raw sql] (28, 0, 30, 1677577875000)
2023-02-28 09:53:44,982 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577762000}
2023-02-28 09:53:45,495 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:45,497 INFO sqlalchemy.engine.Engine [raw sql] (39, 0, 20, 1677577762000)
2023-02-28 09:53:46,020 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677577758000}
2023-02-28 09:53:46,563 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:46,565 INFO sqlalchemy.engine.Engine [raw sql] (83, 5, 35, 1677577758000)
2023-02-28 09:53:47,076 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677577642000}
2023-02-28 09:53:47,620 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:47,622 INFO sqlalchemy.engine.Engine [raw sql] (92, 12, 28, 1677577642000)
2023-02-28 09:53:48,208 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677577532000}
2023-02-28 09:53:49,335 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:49,337 INFO sqlalchemy.engine.Engine [raw sql] (21, 26, 1, 1677577532000)
2023-02-28 09:53:49,781 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577712000}
2023-02-28 09:53:50,306 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:53:50,309 INFO sqlalchemy.engine.Engine [raw sql] (88, 0, 29, 1677577712000)
2023-02-28 09:53:50,736 INFO sqlalchemy.engine.Engine COMMIT
<Response [200]> 2023-02-28 09:58:51.510999
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677577898000}
2023-02-28 09:58:51,519 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-02-28 09:58:51,523 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-02-28 09:58:51,955 INFO sqlalchemy.engine.Engine COMMIT
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677577898000}
2023-02-28 09:58:52,483 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:58:52,485 INFO sqlalchemy.engine.Engine [raw sql] (42, 7, 22, 1677577898000)
2023-02-28 09:58:52,910 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677577899000}
2023-02-28 09:58:53,487 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:58:53,489 INFO sqlalchemy.engine.Engine [raw sql] (30, 2, 18, 1677577899000)
2023-02-28 09:58:53,586 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 23, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677578051000}
2023-02-28 09:58:54,042 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:58:54,044 INFO sqlalchemy.engine.Engine [raw sql] (54, 10, 23, 1677578051000)
2023-02-28 09:58:54,557 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578102000}
2023-02-28 09:58:55,082 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:58:55,085 INFO sqlalchemy.engine.Engine [raw sql] (108, 0, 35, 1677578102000)
2023-02-28 09:58:55,513 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578230000}
2023-02-28 09:58:56,043 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:58:56,046 INFO sqlalchemy.engine.Engine [raw sql] (20, 20, 9, 1677578230000)
2023-02-28 09:58:56,141 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 1, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677577885000}
2023-02-28 09:58:57,089 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:58:57,092 INFO sqlalchemy.engine.Engine [raw sql] (56, 38, 1, 1677577885000)
2023-02-28 09:58:57,187 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577767000}
2023-02-28 09:58:57,721 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:58:57,723 INFO sqlalchemy.engine.Engine [raw sql] (6, 0, 20, 1677577767000)
2023-02-28 09:58:58,138 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677578044000}
2023-02-28 09:58:58,661 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:58:58,663 INFO sqlalchemy.engine.Engine [raw sql] (18, 3, 27, 1677578044000)
2023-02-28 09:58:58,759 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677578170000}
2023-02-28 09:58:59,284 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:58:59,286 INFO sqlalchemy.engine.Engine [raw sql] (32, 14, 16, 1677578170000)
2023-02-28 09:58:59,812 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 17, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677577887000}
2023-02-28 09:59:00,767 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:00,770 INFO sqlalchemy.engine.Engine [raw sql] (52, 15, 17, 1677577887000)
2023-02-28 09:59:00,868 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578139000}
2023-02-28 09:59:01,810 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:01,813 INFO sqlalchemy.engine.Engine [raw sql] (48, 4, 35, 1677578139000)
2023-02-28 09:59:01,909 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677577896000}
2023-02-28 09:59:02,424 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:02,426 INFO sqlalchemy.engine.Engine [raw sql] (13, 18, 12, 1677577896000)
2023-02-28 09:59:02,853 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577721000}
2023-02-28 09:59:03,385 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:03,388 INFO sqlalchemy.engine.Engine [raw sql] (43, 0, 30, 1677577721000)
2023-02-28 09:59:03,900 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677578005000}
2023-02-28 09:59:04,427 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:04,429 INFO sqlalchemy.engine.Engine [raw sql] (31, 12, 8, 1677578005000)
2023-02-28 09:59:04,525 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677578128000}
2023-02-28 09:59:05,049 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:05,052 INFO sqlalchemy.engine.Engine [raw sql] (98, 26, 13, 1677578128000)
2023-02-28 09:59:05,479 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677578231000}
2023-02-28 09:59:06,009 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:06,011 INFO sqlalchemy.engine.Engine [raw sql] (14, 12, 18, 1677578231000)
2023-02-28 09:59:06,106 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 12, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677578173000}
2023-02-28 09:59:06,628 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:06,630 INFO sqlalchemy.engine.Engine [raw sql] (1, 19, 12, 1677578173000)
2023-02-28 09:59:07,176 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677577788000}
2023-02-28 09:59:07,670 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:59:07,673 INFO sqlalchemy.engine.Engine [raw sql] (23, 21, 9, 1677577788000)
2023-02-28 09:59:08,105 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577859000}
2023-02-28 09:59:08,638 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:08,639 INFO sqlalchemy.engine.Engine [raw sql] (106, 0, 40, 1677577859000)
2023-02-28 09:59:09,153 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578203000}
2023-02-28 09:59:09,674 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:09,677 INFO sqlalchemy.engine.Engine [raw sql] (112, 0, 30, 1677578203000)
2023-02-28 09:59:10,208 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1677578242000}
2023-02-28 09:59:10,732 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:10,734 INFO sqlalchemy.engine.Engine [raw sql] (68, 37, 0, 1677578242000)
2023-02-28 09:59:11,253 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577879000}
2023-02-28 09:59:11,775 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:11,777 INFO sqlalchemy.engine.Engine [raw sql] (74, 1, 29, 1677577879000)
2023-02-28 09:59:12,297 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 37, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578286000}
2023-02-28 09:59:12,819 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:12,822 INFO sqlalchemy.engine.Engine [raw sql] (87, 1, 37, 1677578286000)
2023-02-28 09:59:12,918 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578064000}
2023-02-28 09:59:13,445 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:13,447 INFO sqlalchemy.engine.Engine [raw sql] (84, 0, 30, 1677578064000)
2023-02-28 09:59:13,874 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677578177000}
2023-02-28 09:59:14,487 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:14,489 INFO sqlalchemy.engine.Engine [raw sql] (90, 38, 0, 1677578177000)
2023-02-28 09:59:14,917 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 11, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677577824000}
2023-02-28 09:59:15,447 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:15,449 INFO sqlalchemy.engine.Engine [raw sql] (11, 19, 11, 1677577824000)
2023-02-28 09:59:15,544 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578155000}
2023-02-28 09:59:16,492 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:16,494 INFO sqlalchemy.engine.Engine [raw sql] (17, 2, 18, 1677578155000)
2023-02-28 09:59:16,599 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677578274000}
2023-02-28 09:59:17,540 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:17,543 INFO sqlalchemy.engine.Engine [raw sql] (45, 10, 20, 1677578274000)
2023-02-28 09:59:17,638 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677578286000}
2023-02-28 09:59:18,166 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:18,168 INFO sqlalchemy.engine.Engine [raw sql] (114, 25, 15, 1677578286000)
2023-02-28 09:59:18,679 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 30, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578288000}
2023-02-28 09:59:19,637 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:19,639 INFO sqlalchemy.engine.Engine [raw sql] (72, 1, 30, 1677578288000)
2023-02-28 09:59:19,740 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 20, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677578271000}
2023-02-28 09:59:20,263 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:20,265 INFO sqlalchemy.engine.Engine [raw sql] (63, 15, 20, 1677578271000)
2023-02-28 09:59:20,791 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677577916000}
2023-02-28 09:59:21,726 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:21,728 INFO sqlalchemy.engine.Engine [raw sql] (113, 16, 24, 1677577916000)
2023-02-28 09:59:21,825 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578062000}
2023-02-28 09:59:22,779 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:59:22,781 INFO sqlalchemy.engine.Engine [raw sql] (91, 8, 21, 1677578062000)
2023-02-28 09:59:22,875 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677578002000}
2023-02-28 09:59:23,400 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:23,403 INFO sqlalchemy.engine.Engine [raw sql] (99, 28, 1, 1677578002000)
2023-02-28 09:59:23,925 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 12, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677578223000}
2023-02-28 09:59:24,445 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:24,446 INFO sqlalchemy.engine.Engine [raw sql] (9, 12, 12, 1677578223000)
2023-02-28 09:59:24,876 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677578272000}
2023-02-28 09:59:25,402 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:25,404 INFO sqlalchemy.engine.Engine [raw sql] (67, 25, 13, 1677578272000)
2023-02-28 09:59:25,499 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578226000}
2023-02-28 09:59:26,448 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:26,451 INFO sqlalchemy.engine.Engine [raw sql] (116, 1, 29, 1677578226000)
2023-02-28 09:59:26,546 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 5, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677577873000}
2023-02-28 09:59:27,070 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:27,073 INFO sqlalchemy.engine.Engine [raw sql] (55, 29, 5, 1677577873000)
2023-02-28 09:59:27,495 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677578056000}
2023-02-28 09:59:28,125 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:28,127 INFO sqlalchemy.engine.Engine [raw sql] (62, 23, 17, 1677578056000)
2023-02-28 09:59:28,541 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578006000}
2023-02-28 09:59:29,065 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:29,068 INFO sqlalchemy.engine.Engine [raw sql] (5, 4, 36, 1677578006000)
2023-02-28 09:59:29,164 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677578102000}
2023-02-28 09:59:29,686 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:29,687 INFO sqlalchemy.engine.Engine [raw sql] (97, 5, 35, 1677578102000)
2023-02-28 09:59:30,120 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 20, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677577774000}
2023-02-28 09:59:30,642 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:30,644 INFO sqlalchemy.engine.Engine [raw sql] (61, 5, 20, 1677577774000)
2023-02-28 09:59:31,165 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 27, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577987000}
2023-02-28 09:59:31,695 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:31,698 INFO sqlalchemy.engine.Engine [raw sql] (77, 0, 27, 1677577987000)
2023-02-28 09:59:31,792 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677577936000}
2023-02-28 09:59:32,740 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:32,743 INFO sqlalchemy.engine.Engine [raw sql] (4, 20, 0, 1677577936000)
2023-02-28 09:59:33,260 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677578032000}
2023-02-28 09:59:33,591 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:33,593 INFO sqlalchemy.engine.Engine [raw sql] (49, 24, 16, 1677578032000)
2023-02-28 09:59:33,699 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677577937000}
2023-02-28 09:59:34,095 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:34,098 INFO sqlalchemy.engine.Engine [raw sql] (19, 28, 0, 1677577937000)
2023-02-28 09:59:34,205 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577781000}
2023-02-28 09:59:34,408 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:34,410 INFO sqlalchemy.engine.Engine [raw sql] (7, 1, 28, 1677577781000)
2023-02-28 09:59:34,643 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677577887000}
2023-02-28 09:59:34,888 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:59:34,891 INFO sqlalchemy.engine.Engine [raw sql] (60, 1, 29, 1677577887000)
2023-02-28 09:59:35,217 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578233000}
2023-02-28 09:59:35,437 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:35,439 INFO sqlalchemy.engine.Engine [raw sql] (102, 0, 40, 1677578233000)
2023-02-28 09:59:35,532 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677578225000}
2023-02-28 09:59:35,841 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:35,843 INFO sqlalchemy.engine.Engine [raw sql] (38, 23, 15, 1677578225000)
2023-02-28 09:59:35,937 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578159000}
2023-02-28 09:59:36,483 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:36,485 INFO sqlalchemy.engine.Engine [raw sql] (53, 20, 20, 1677578159000)
2023-02-28 09:59:36,917 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 6, 'available_bikes': 32, 'status': 'OPEN', 'last_update': 1677577902000}
2023-02-28 09:59:37,547 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:37,550 INFO sqlalchemy.engine.Engine [raw sql] (58, 32, 6, 1677577902000)
2023-02-28 09:59:37,961 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677578303000}
2023-02-28 09:59:38,578 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:38,581 INFO sqlalchemy.engine.Engine [raw sql] (66, 40, 0, 1677578303000)
2023-02-28 09:59:39,010 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578049000}
2023-02-28 09:59:39,639 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:39,641 INFO sqlalchemy.engine.Engine [raw sql] (104, 8, 32, 1677578049000)
2023-02-28 09:59:40,058 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578142000}
2023-02-28 09:59:40,690 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:40,692 INFO sqlalchemy.engine.Engine [raw sql] (101, 1, 29, 1677578142000)
2023-02-28 09:59:41,117 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577887000}
2023-02-28 09:59:41,732 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:41,734 INFO sqlalchemy.engine.Engine [raw sql] (115, 0, 29, 1677577887000)
2023-02-28 09:59:42,158 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677578201000}
2023-02-28 09:59:42,680 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:42,683 INFO sqlalchemy.engine.Engine [raw sql] (47, 15, 24, 1677578201000)
2023-02-28 09:59:42,790 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 1, 'available_bikes': 39, 'status': 'OPEN', 'last_update': 1677578214000}
2023-02-28 09:59:43,730 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:43,732 INFO sqlalchemy.engine.Engine [raw sql] (117, 39, 1, 1677578214000)
2023-02-28 09:59:43,825 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677577951000}
2023-02-28 09:59:44,356 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:44,358 INFO sqlalchemy.engine.Engine [raw sql] (8, 3, 27, 1677577951000)
2023-02-28 09:59:44,872 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 2, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677578251000}
2023-02-28 09:59:45,400 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:45,402 INFO sqlalchemy.engine.Engine [raw sql] (27, 18, 2, 1677578251000)
2023-02-28 09:59:45,828 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677578058000}
2023-02-28 09:59:46,355 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:46,357 INFO sqlalchemy.engine.Engine [raw sql] (16, 7, 13, 1677578058000)
2023-02-28 09:59:46,454 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578147000}
2023-02-28 09:59:47,404 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:47,406 INFO sqlalchemy.engine.Engine [raw sql] (96, 0, 30, 1677578147000)
2023-02-28 09:59:47,503 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 5, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677578014000}
2023-02-28 09:59:48,455 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 09:59:48,456 INFO sqlalchemy.engine.Engine [raw sql] (82, 3, 5, 1677578014000)
2023-02-28 09:59:48,978 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 35, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677577941000}
2023-02-28 09:59:49,499 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:49,502 INFO sqlalchemy.engine.Engine [raw sql] (76, 3, 35, 1677577941000)
2023-02-28 09:59:49,598 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578011000}
2023-02-28 09:59:50,131 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:50,134 INFO sqlalchemy.engine.Engine [raw sql] (71, 2, 38, 1677578011000)
2023-02-28 09:59:50,549 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 14, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677577872000}
2023-02-28 09:59:51,073 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:51,075 INFO sqlalchemy.engine.Engine [raw sql] (79, 12, 14, 1677577872000)
2023-02-28 09:59:51,171 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 1, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1677577963000}
2023-02-28 09:59:51,691 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:51,694 INFO sqlalchemy.engine.Engine [raw sql] (69, 37, 1, 1677577963000)
2023-02-28 09:59:52,118 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677578277000}
2023-02-28 09:59:52,643 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:52,645 INFO sqlalchemy.engine.Engine [raw sql] (25, 14, 16, 1677578277000)
2023-02-28 09:59:53,163 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677577855000}
2023-02-28 09:59:53,692 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:53,695 INFO sqlalchemy.engine.Engine [raw sql] (51, 13, 27, 1677577855000)
2023-02-28 09:59:53,793 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677577923000}
2023-02-28 09:59:54,745 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:54,747 INFO sqlalchemy.engine.Engine [raw sql] (37, 8, 21, 1677577923000)
2023-02-28 09:59:55,262 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 16, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578132000}
2023-02-28 09:59:55,786 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:55,789 INFO sqlalchemy.engine.Engine [raw sql] (59, 4, 16, 1677578132000)
2023-02-28 09:59:55,887 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677578159000}
2023-02-28 09:59:56,409 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:56,411 INFO sqlalchemy.engine.Engine [raw sql] (95, 17, 23, 1677578159000)
2023-02-28 09:59:56,838 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577927000}
2023-02-28 09:59:57,359 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:57,361 INFO sqlalchemy.engine.Engine [raw sql] (94, 0, 40, 1677577927000)
2023-02-28 09:59:57,467 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 24, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677578180000}
2023-02-28 09:59:57,979 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:57,981 INFO sqlalchemy.engine.Engine [raw sql] (105, 12, 24, 1677578180000)
2023-02-28 09:59:58,407 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677578268000}
2023-02-28 09:59:58,932 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 09:59:58,935 INFO sqlalchemy.engine.Engine [raw sql] (36, 18, 22, 1677578268000)
2023-02-28 09:59:59,042 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577881000}
2023-02-28 10:00:00,512 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:00,515 INFO sqlalchemy.engine.Engine [raw sql] (93, 0, 40, 1677577881000)
2023-02-28 10:00:00,625 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577952000}
2023-02-28 10:00:01,564 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:01,566 INFO sqlalchemy.engine.Engine [raw sql] (22, 0, 19, 1677577952000)
2023-02-28 10:00:01,673 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677578140000}
2023-02-28 10:00:02,189 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:00:02,191 INFO sqlalchemy.engine.Engine [raw sql] (50, 19, 20, 1677578140000)
2023-02-28 10:00:02,698 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578017000}
2023-02-28 10:00:03,232 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:03,234 INFO sqlalchemy.engine.Engine [raw sql] (110, 1, 39, 1677578017000)
2023-02-28 10:00:03,756 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578031000}
2023-02-28 10:00:04,707 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:04,709 INFO sqlalchemy.engine.Engine [raw sql] (12, 8, 12, 1677578031000)
2023-02-28 10:00:04,814 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677578226000}
2023-02-28 10:00:05,326 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:05,329 INFO sqlalchemy.engine.Engine [raw sql] (34, 9, 20, 1677578226000)
2023-02-28 10:00:05,756 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677577845000}
2023-02-28 10:00:06,284 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:06,286 INFO sqlalchemy.engine.Engine [raw sql] (78, 11, 27, 1677577845000)
2023-02-28 10:00:06,386 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677578292000}
2023-02-28 10:00:07,336 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:07,338 INFO sqlalchemy.engine.Engine [raw sql] (2, 5, 15, 1677578292000)
2023-02-28 10:00:07,436 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578008000}
2023-02-28 10:00:08,903 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:08,905 INFO sqlalchemy.engine.Engine [raw sql] (75, 4, 36, 1677578008000)
2023-02-28 10:00:09,012 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-02-28 10:00:09,525 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:09,527 INFO sqlalchemy.engine.Engine [raw sql] (507, 1, 0, 1675786128000)
2023-02-28 10:00:10,052 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577858000}
2023-02-28 10:00:10,577 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:10,579 INFO sqlalchemy.engine.Engine [raw sql] (111, 0, 40, 1677577858000)
2023-02-28 10:00:11,105 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578187000}
2023-02-28 10:00:11,627 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:11,630 INFO sqlalchemy.engine.Engine [raw sql] (26, 8, 12, 1677578187000)
2023-02-28 10:00:12,137 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677578206000}
2023-02-28 10:00:12,673 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:12,674 INFO sqlalchemy.engine.Engine [raw sql] (65, 24, 15, 1677578206000)
2023-02-28 10:00:13,191 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 12, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578304000}
2023-02-28 10:00:13,717 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:13,719 INFO sqlalchemy.engine.Engine [raw sql] (15, 0, 12, 1677578304000)
2023-02-28 10:00:14,154 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 37, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578097000}
2023-02-28 10:00:14,684 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:14,686 INFO sqlalchemy.engine.Engine [raw sql] (86, 1, 37, 1677578097000)
2023-02-28 10:00:15,202 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677578046000}
2023-02-28 10:00:15,728 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:15,731 INFO sqlalchemy.engine.Engine [raw sql] (35, 9, 20, 1677578046000)
2023-02-28 10:00:16,263 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 5, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578260000}
2023-02-28 10:00:16,778 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:16,780 INFO sqlalchemy.engine.Engine [raw sql] (10, 11, 5, 1677578260000)
2023-02-28 10:00:17,303 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 23, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578260000}
2023-02-28 10:00:17,823 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:00:17,825 INFO sqlalchemy.engine.Engine [raw sql] (100, 2, 23, 1677578260000)
2023-02-28 10:00:18,353 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578199000}
2023-02-28 10:00:18,881 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:18,884 INFO sqlalchemy.engine.Engine [raw sql] (24, 20, 0, 1677578199000)
2023-02-28 10:00:19,417 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677577892000}
2023-02-28 10:00:19,925 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:19,927 INFO sqlalchemy.engine.Engine [raw sql] (64, 24, 16, 1677577892000)
2023-02-28 10:00:20,025 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 14, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677577828000}
2023-02-28 10:00:20,967 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:20,970 INFO sqlalchemy.engine.Engine [raw sql] (109, 15, 14, 1677577828000)
2023-02-28 10:00:21,068 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578074000}
2023-02-28 10:00:21,598 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:21,600 INFO sqlalchemy.engine.Engine [raw sql] (85, 0, 35, 1677578074000)
2023-02-28 10:00:22,025 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578185000}
2023-02-28 10:00:22,647 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:22,649 INFO sqlalchemy.engine.Engine [raw sql] (107, 11, 29, 1677578185000)
2023-02-28 10:00:23,073 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 3, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578299000}
2023-02-28 10:00:23,688 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:23,691 INFO sqlalchemy.engine.Engine [raw sql] (33, 20, 3, 1677578299000)
2023-02-28 10:00:24,122 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578307000}
2023-02-28 10:00:24,747 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:24,749 INFO sqlalchemy.engine.Engine [raw sql] (44, 0, 30, 1677578307000)
2023-02-28 10:00:25,164 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 25, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677578155000}
2023-02-28 10:00:25,789 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:25,790 INFO sqlalchemy.engine.Engine [raw sql] (89, 15, 25, 1677578155000)
2023-02-28 10:00:26,212 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 0, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677577891000}
2023-02-28 10:00:26,843 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:26,845 INFO sqlalchemy.engine.Engine [raw sql] (57, 23, 0, 1677577891000)
2023-02-28 10:00:27,257 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677577887000}
2023-02-28 10:00:27,893 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:27,894 INFO sqlalchemy.engine.Engine [raw sql] (80, 10, 30, 1677577887000)
2023-02-28 10:00:28,314 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577834000}
2023-02-28 10:00:28,923 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:28,925 INFO sqlalchemy.engine.Engine [raw sql] (41, 0, 20, 1677577834000)
2023-02-28 10:00:29,360 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677578163000}
2023-02-28 10:00:29,970 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:29,973 INFO sqlalchemy.engine.Engine [raw sql] (3, 7, 13, 1677578163000)
2023-02-28 10:00:30,402 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 14, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677578220000}
2023-02-28 10:00:31,045 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:31,047 INFO sqlalchemy.engine.Engine [raw sql] (40, 7, 14, 1677578220000)
2023-02-28 10:00:31,463 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 18, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578170000}
2023-02-28 10:00:32,089 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:32,092 INFO sqlalchemy.engine.Engine [raw sql] (29, 11, 18, 1677578170000)
2023-02-28 10:00:32,506 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677577810000}
2023-02-28 10:00:33,123 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:00:33,126 INFO sqlalchemy.engine.Engine [raw sql] (103, 21, 19, 1677577810000)
2023-02-28 10:00:33,564 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577875000}
2023-02-28 10:00:34,169 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:34,171 INFO sqlalchemy.engine.Engine [raw sql] (28, 0, 30, 1677577875000)
2023-02-28 10:00:34,612 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578217000}
2023-02-28 10:00:35,233 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:35,236 INFO sqlalchemy.engine.Engine [raw sql] (39, 2, 18, 1677578217000)
2023-02-28 10:00:35,650 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578006000}
2023-02-28 10:00:36,802 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:36,804 INFO sqlalchemy.engine.Engine [raw sql] (83, 4, 36, 1677578006000)
2023-02-28 10:00:37,324 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677578282000}
2023-02-28 10:00:37,851 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:37,854 INFO sqlalchemy.engine.Engine [raw sql] (92, 12, 28, 1677578282000)
2023-02-28 10:00:38,394 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677578093000}
2023-02-28 10:00:38,897 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:38,900 INFO sqlalchemy.engine.Engine [raw sql] (21, 27, 0, 1677578093000)
2023-02-28 10:00:39,414 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677577712000}
2023-02-28 10:00:40,380 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:00:40,383 INFO sqlalchemy.engine.Engine [raw sql] (88, 0, 29, 1677577712000)
2023-02-28 10:00:40,489 INFO sqlalchemy.engine.Engine COMMIT
<Response [200]> 2023-02-28 10:05:41.963335
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578694000}
2023-02-28 10:05:41,976 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-02-28 10:05:41,978 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-02-28 10:05:42,439 INFO sqlalchemy.engine.Engine COMMIT
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578694000}
2023-02-28 10:05:42,964 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:42,967 INFO sqlalchemy.engine.Engine [raw sql] (42, 8, 21, 1677578694000)
2023-02-28 10:05:43,487 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578506000}
2023-02-28 10:05:44,012 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:44,014 INFO sqlalchemy.engine.Engine [raw sql] (30, 2, 18, 1677578506000)
2023-02-28 10:05:44,120 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 23, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677578582000}
2023-02-28 10:05:45,061 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:45,064 INFO sqlalchemy.engine.Engine [raw sql] (54, 10, 23, 1677578582000)
2023-02-28 10:05:45,583 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578708000}
2023-02-28 10:05:46,118 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:46,120 INFO sqlalchemy.engine.Engine [raw sql] (108, 0, 35, 1677578708000)
2023-02-28 10:05:46,638 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677578611000}
2023-02-28 10:05:47,157 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:47,159 INFO sqlalchemy.engine.Engine [raw sql] (20, 21, 8, 1677578611000)
2023-02-28 10:05:47,681 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 39, 'status': 'OPEN', 'last_update': 1677578585000}
2023-02-28 10:05:48,212 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:48,217 INFO sqlalchemy.engine.Engine [raw sql] (56, 39, 0, 1677578585000)
2023-02-28 10:05:48,730 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578373000}
2023-02-28 10:05:49,255 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:49,256 INFO sqlalchemy.engine.Engine [raw sql] (6, 0, 20, 1677578373000)
2023-02-28 10:05:49,361 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578422000}
2023-02-28 10:05:50,301 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:05:50,304 INFO sqlalchemy.engine.Engine [raw sql] (18, 2, 28, 1677578422000)
2023-02-28 10:05:50,409 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677578712000}
2023-02-28 10:05:51,353 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:51,356 INFO sqlalchemy.engine.Engine [raw sql] (32, 16, 14, 1677578712000)
2023-02-28 10:05:51,875 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 16, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677578414000}
2023-02-28 10:05:52,400 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:52,403 INFO sqlalchemy.engine.Engine [raw sql] (52, 16, 16, 1677578414000)
2023-02-28 10:05:52,924 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578139000}
2023-02-28 10:05:53,449 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:53,451 INFO sqlalchemy.engine.Engine [raw sql] (48, 4, 35, 1677578139000)
2023-02-28 10:05:53,975 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677578614000}
2023-02-28 10:05:54,500 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:54,502 INFO sqlalchemy.engine.Engine [raw sql] (13, 18, 12, 1677578614000)
2023-02-28 10:05:54,607 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578328000}
2023-02-28 10:05:55,548 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:55,550 INFO sqlalchemy.engine.Engine [raw sql] (43, 0, 30, 1677578328000)
2023-02-28 10:05:56,073 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 7, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677578412000}
2023-02-28 10:05:56,598 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:56,601 INFO sqlalchemy.engine.Engine [raw sql] (31, 13, 7, 1677578412000)
2023-02-28 10:05:57,121 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677578128000}
2023-02-28 10:05:57,646 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:57,649 INFO sqlalchemy.engine.Engine [raw sql] (98, 26, 13, 1677578128000)
2023-02-28 10:05:58,173 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677578342000}
2023-02-28 10:05:58,697 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:58,699 INFO sqlalchemy.engine.Engine [raw sql] (14, 13, 17, 1677578342000)
2023-02-28 10:05:58,806 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 11, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578563000}
2023-02-28 10:05:59,760 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:05:59,762 INFO sqlalchemy.engine.Engine [raw sql] (1, 20, 11, 1677578563000)
2023-02-28 10:06:00,268 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677578395000}
2023-02-28 10:06:00,798 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:00,800 INFO sqlalchemy.engine.Engine [raw sql] (23, 21, 9, 1677578395000)
2023-02-28 10:06:01,322 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578465000}
2023-02-28 10:06:01,842 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:01,845 INFO sqlalchemy.engine.Engine [raw sql] (106, 0, 40, 1677578465000)
2023-02-28 10:06:02,368 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578330000}
2023-02-28 10:06:02,891 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:02,893 INFO sqlalchemy.engine.Engine [raw sql] (112, 1, 29, 1677578330000)
2023-02-28 10:06:03,417 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1677578242000}
2023-02-28 10:06:03,937 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:03,939 INFO sqlalchemy.engine.Engine [raw sql] (68, 37, 0, 1677578242000)
2023-02-28 10:06:04,048 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578381000}
2023-02-28 10:06:05,017 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:05,019 INFO sqlalchemy.engine.Engine [raw sql] (74, 2, 28, 1677578381000)
2023-02-28 10:06:05,521 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 38, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578727000}
2023-02-28 10:06:06,043 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:06:06,045 INFO sqlalchemy.engine.Engine [raw sql] (87, 0, 38, 1677578727000)
2023-02-28 10:06:06,564 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578671000}
2023-02-28 10:06:07,087 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:07,089 INFO sqlalchemy.engine.Engine [raw sql] (84, 0, 30, 1677578671000)
2023-02-28 10:06:07,194 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677578177000}
2023-02-28 10:06:08,136 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:08,138 INFO sqlalchemy.engine.Engine [raw sql] (90, 38, 0, 1677578177000)
2023-02-28 10:06:08,660 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578718000}
2023-02-28 10:06:08,989 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:08,991 INFO sqlalchemy.engine.Engine [raw sql] (11, 20, 10, 1677578718000)
2023-02-28 10:06:09,097 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677578338000}
2023-02-28 10:06:09,368 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:09,370 INFO sqlalchemy.engine.Engine [raw sql] (17, 3, 17, 1677578338000)
2023-02-28 10:06:09,475 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578394000}
2023-02-28 10:06:09,689 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:09,691 INFO sqlalchemy.engine.Engine [raw sql] (45, 11, 19, 1677578394000)
2023-02-28 10:06:09,797 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677578460000}
2023-02-28 10:06:10,013 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:10,015 INFO sqlalchemy.engine.Engine [raw sql] (114, 26, 14, 1677578460000)
2023-02-28 10:06:10,120 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 30, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578288000}
2023-02-28 10:06:10,340 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:10,342 INFO sqlalchemy.engine.Engine [raw sql] (72, 1, 30, 1677578288000)
2023-02-28 10:06:10,448 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 20, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677578271000}
2023-02-28 10:06:10,662 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:10,664 INFO sqlalchemy.engine.Engine [raw sql] (63, 15, 20, 1677578271000)
2023-02-28 10:06:10,770 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677578364000}
2023-02-28 10:06:10,986 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:10,988 INFO sqlalchemy.engine.Engine [raw sql] (113, 17, 23, 1677578364000)
2023-02-28 10:06:11,094 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578668000}
2023-02-28 10:06:11,308 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:11,310 INFO sqlalchemy.engine.Engine [raw sql] (91, 8, 21, 1677578668000)
2023-02-28 10:06:11,417 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 2, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677578473000}
2023-02-28 10:06:11,633 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:11,636 INFO sqlalchemy.engine.Engine [raw sql] (99, 28, 2, 1677578473000)
2023-02-28 10:06:11,741 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 18, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677578518000}
2023-02-28 10:06:11,955 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:11,957 INFO sqlalchemy.engine.Engine [raw sql] (9, 6, 18, 1677578518000)
2023-02-28 10:06:12,063 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677578272000}
2023-02-28 10:06:12,276 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:12,278 INFO sqlalchemy.engine.Engine [raw sql] (67, 25, 13, 1677578272000)
2023-02-28 10:06:12,384 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578226000}
2023-02-28 10:06:12,603 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:12,605 INFO sqlalchemy.engine.Engine [raw sql] (116, 1, 29, 1677578226000)
2023-02-28 10:06:12,714 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 5, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677578479000}
2023-02-28 10:06:12,929 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:06:12,931 INFO sqlalchemy.engine.Engine [raw sql] (55, 29, 5, 1677578479000)
2023-02-28 10:06:13,038 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677578662000}
2023-02-28 10:06:13,254 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:13,257 INFO sqlalchemy.engine.Engine [raw sql] (62, 23, 17, 1677578662000)
2023-02-28 10:06:13,362 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677578375000}
2023-02-28 10:06:13,577 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:13,579 INFO sqlalchemy.engine.Engine [raw sql] (5, 3, 37, 1677578375000)
2023-02-28 10:06:13,685 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578448000}
2023-02-28 10:06:13,898 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:13,900 INFO sqlalchemy.engine.Engine [raw sql] (97, 4, 36, 1677578448000)
2023-02-28 10:06:14,005 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 20, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677578465000}
2023-02-28 10:06:14,221 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:14,223 INFO sqlalchemy.engine.Engine [raw sql] (61, 5, 20, 1677578465000)
2023-02-28 10:06:14,328 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 26, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578375000}
2023-02-28 10:06:14,541 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:14,543 INFO sqlalchemy.engine.Engine [raw sql] (77, 1, 26, 1677578375000)
2023-02-28 10:06:14,648 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578542000}
2023-02-28 10:06:14,872 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:14,875 INFO sqlalchemy.engine.Engine [raw sql] (4, 20, 0, 1677578542000)
2023-02-28 10:06:14,979 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677578638000}
2023-02-28 10:06:15,196 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:15,198 INFO sqlalchemy.engine.Engine [raw sql] (49, 24, 16, 1677578638000)
2023-02-28 10:06:15,304 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677578647000}
2023-02-28 10:06:15,518 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:15,520 INFO sqlalchemy.engine.Engine [raw sql] (19, 28, 0, 1677578647000)
2023-02-28 10:06:15,626 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578388000}
2023-02-28 10:06:15,929 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:15,931 INFO sqlalchemy.engine.Engine [raw sql] (7, 1, 28, 1677578388000)
2023-02-28 10:06:16,036 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578493000}
2023-02-28 10:06:16,600 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:16,602 INFO sqlalchemy.engine.Engine [raw sql] (60, 1, 29, 1677578493000)
2023-02-28 10:06:17,029 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578233000}
2023-02-28 10:06:17,651 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:17,653 INFO sqlalchemy.engine.Engine [raw sql] (102, 0, 40, 1677578233000)
2023-02-28 10:06:18,073 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677578624000}
2023-02-28 10:06:18,704 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:18,706 INFO sqlalchemy.engine.Engine [raw sql] (38, 24, 14, 1677578624000)
2023-02-28 10:06:19,194 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578159000}
2023-02-28 10:06:19,753 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:19,756 INFO sqlalchemy.engine.Engine [raw sql] (53, 20, 20, 1677578159000)
2023-02-28 10:06:20,167 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 6, 'available_bikes': 32, 'status': 'OPEN', 'last_update': 1677578592000}
2023-02-28 10:06:20,793 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:20,795 INFO sqlalchemy.engine.Engine [raw sql] (58, 32, 6, 1677578592000)
2023-02-28 10:06:21,219 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677578303000}
2023-02-28 10:06:21,925 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:06:21,928 INFO sqlalchemy.engine.Engine [raw sql] (66, 40, 0, 1677578303000)
2023-02-28 10:06:22,033 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578655000}
2023-02-28 10:06:22,553 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:22,555 INFO sqlalchemy.engine.Engine [raw sql] (104, 8, 32, 1677578655000)
2023-02-28 10:06:23,074 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578142000}
2023-02-28 10:06:23,605 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:23,607 INFO sqlalchemy.engine.Engine [raw sql] (101, 1, 29, 1677578142000)
2023-02-28 10:06:24,121 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578493000}
2023-02-28 10:06:25,177 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:25,179 INFO sqlalchemy.engine.Engine [raw sql] (115, 0, 29, 1677578493000)
2023-02-28 10:06:25,600 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677578317000}
2023-02-28 10:06:26,223 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:26,226 INFO sqlalchemy.engine.Engine [raw sql] (47, 16, 23, 1677578317000)
2023-02-28 10:06:26,641 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677578395000}
2023-02-28 10:06:27,268 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:27,271 INFO sqlalchemy.engine.Engine [raw sql] (117, 40, 0, 1677578395000)
2023-02-28 10:06:27,690 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677578557000}
2023-02-28 10:06:28,323 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:28,325 INFO sqlalchemy.engine.Engine [raw sql] (8, 3, 27, 1677578557000)
2023-02-28 10:06:28,741 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 1, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677578424000}
2023-02-28 10:06:29,370 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:29,372 INFO sqlalchemy.engine.Engine [raw sql] (27, 19, 1, 1677578424000)
2023-02-28 10:06:29,791 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578681000}
2023-02-28 10:06:30,420 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:30,423 INFO sqlalchemy.engine.Engine [raw sql] (16, 8, 12, 1677578681000)
2023-02-28 10:06:30,844 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578147000}
2023-02-28 10:06:31,465 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:31,468 INFO sqlalchemy.engine.Engine [raw sql] (96, 0, 30, 1677578147000)
2023-02-28 10:06:31,689 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 5, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677578620000}
2023-02-28 10:06:31,906 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:31,909 INFO sqlalchemy.engine.Engine [raw sql] (82, 3, 5, 1677578620000)
2023-02-28 10:06:32,416 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 35, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677578547000}
2023-02-28 10:06:32,934 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:32,937 INFO sqlalchemy.engine.Engine [raw sql] (76, 3, 35, 1677578547000)
2023-02-28 10:06:33,044 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578617000}
2023-02-28 10:06:33,986 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:33,988 INFO sqlalchemy.engine.Engine [raw sql] (71, 2, 38, 1677578617000)
2023-02-28 10:06:34,511 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 14, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677578479000}
2023-02-28 10:06:35,036 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:35,039 INFO sqlalchemy.engine.Engine [raw sql] (79, 12, 14, 1677578479000)
2023-02-28 10:06:35,555 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677578632000}
2023-02-28 10:06:36,080 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:36,082 INFO sqlalchemy.engine.Engine [raw sql] (69, 38, 0, 1677578632000)
2023-02-28 10:06:36,186 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677578525000}
2023-02-28 10:06:37,131 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:06:37,135 INFO sqlalchemy.engine.Engine [raw sql] (25, 13, 17, 1677578525000)
2023-02-28 10:06:37,240 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677578461000}
2023-02-28 10:06:38,186 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:38,188 INFO sqlalchemy.engine.Engine [raw sql] (51, 13, 27, 1677578461000)
2023-02-28 10:06:38,702 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578529000}
2023-02-28 10:06:39,232 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:39,233 INFO sqlalchemy.engine.Engine [raw sql] (37, 8, 21, 1677578529000)
2023-02-28 10:06:39,755 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 16, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578132000}
2023-02-28 10:06:40,274 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:40,277 INFO sqlalchemy.engine.Engine [raw sql] (59, 4, 16, 1677578132000)
2023-02-28 10:06:40,383 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677578159000}
2023-02-28 10:06:41,326 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:41,328 INFO sqlalchemy.engine.Engine [raw sql] (95, 17, 23, 1677578159000)
2023-02-28 10:06:41,850 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578533000}
2023-02-28 10:06:42,441 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:42,444 INFO sqlalchemy.engine.Engine [raw sql] (94, 0, 40, 1677578533000)
2023-02-28 10:06:42,899 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 25, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578348000}
2023-02-28 10:06:43,424 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:43,426 INFO sqlalchemy.engine.Engine [raw sql] (105, 11, 25, 1677578348000)
2023-02-28 10:06:43,949 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677578607000}
2023-02-28 10:06:44,471 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:44,473 INFO sqlalchemy.engine.Engine [raw sql] (36, 18, 22, 1677578607000)
2023-02-28 10:06:44,579 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578487000}
2023-02-28 10:06:45,522 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:45,525 INFO sqlalchemy.engine.Engine [raw sql] (93, 0, 40, 1677578487000)
2023-02-28 10:06:45,633 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578491000}
2023-02-28 10:06:46,578 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:46,580 INFO sqlalchemy.engine.Engine [raw sql] (22, 0, 19, 1677578491000)
2023-02-28 10:06:47,102 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677578638000}
2023-02-28 10:06:47,627 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:47,630 INFO sqlalchemy.engine.Engine [raw sql] (50, 18, 21, 1677578638000)
2023-02-28 10:06:48,146 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578623000}
2023-02-28 10:06:48,678 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:48,679 INFO sqlalchemy.engine.Engine [raw sql] (110, 1, 39, 1677578623000)
2023-02-28 10:06:49,195 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578637000}
2023-02-28 10:06:49,729 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:49,730 INFO sqlalchemy.engine.Engine [raw sql] (12, 8, 12, 1677578637000)
2023-02-28 10:06:50,240 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578677000}
2023-02-28 10:06:50,770 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:50,773 INFO sqlalchemy.engine.Engine [raw sql] (34, 8, 21, 1677578677000)
2023-02-28 10:06:51,296 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677578465000}
2023-02-28 10:06:51,823 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:51,825 INFO sqlalchemy.engine.Engine [raw sql] (78, 10, 28, 1677578465000)
2023-02-28 10:06:52,342 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578405000}
2023-02-28 10:06:52,894 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:06:52,896 INFO sqlalchemy.engine.Engine [raw sql] (2, 11, 9, 1677578405000)
2023-02-28 10:06:53,390 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578614000}
2023-02-28 10:06:53,915 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:53,917 INFO sqlalchemy.engine.Engine [raw sql] (75, 4, 36, 1677578614000)
2023-02-28 10:06:54,434 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-02-28 10:06:54,963 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:54,966 INFO sqlalchemy.engine.Engine [raw sql] (507, 1, 0, 1675786128000)
2023-02-28 10:06:55,485 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578464000}
2023-02-28 10:06:56,016 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:56,017 INFO sqlalchemy.engine.Engine [raw sql] (111, 0, 40, 1677578464000)
2023-02-28 10:06:56,535 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578187000}
2023-02-28 10:06:57,059 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:57,061 INFO sqlalchemy.engine.Engine [raw sql] (26, 8, 12, 1677578187000)
2023-02-28 10:06:57,583 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677578367000}
2023-02-28 10:06:58,107 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:58,109 INFO sqlalchemy.engine.Engine [raw sql] (65, 25, 14, 1677578367000)
2023-02-28 10:06:58,215 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 12, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578304000}
2023-02-28 10:06:59,160 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:06:59,162 INFO sqlalchemy.engine.Engine [raw sql] (15, 0, 12, 1677578304000)
2023-02-28 10:06:59,683 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 38, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578705000}
2023-02-28 10:07:00,207 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:00,209 INFO sqlalchemy.engine.Engine [raw sql] (86, 0, 38, 1677578705000)
2023-02-28 10:07:00,735 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677578728000}
2023-02-28 10:07:01,257 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:01,259 INFO sqlalchemy.engine.Engine [raw sql] (35, 10, 19, 1677578728000)
2023-02-28 10:07:01,774 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 5, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578438000}
2023-02-28 10:07:02,308 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:02,311 INFO sqlalchemy.engine.Engine [raw sql] (10, 11, 5, 1677578438000)
2023-02-28 10:07:02,829 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 23, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578260000}
2023-02-28 10:07:03,354 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:03,357 INFO sqlalchemy.engine.Engine [raw sql] (100, 2, 23, 1677578260000)
2023-02-28 10:07:03,878 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578199000}
2023-02-28 10:07:04,402 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:04,405 INFO sqlalchemy.engine.Engine [raw sql] (24, 20, 0, 1677578199000)
2023-02-28 10:07:04,923 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677578401000}
2023-02-28 10:07:05,451 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:05,453 INFO sqlalchemy.engine.Engine [raw sql] (64, 24, 16, 1677578401000)
2023-02-28 10:07:05,974 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 14, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677578435000}
2023-02-28 10:07:06,499 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:06,502 INFO sqlalchemy.engine.Engine [raw sql] (109, 15, 14, 1677578435000)
2023-02-28 10:07:07,023 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578680000}
2023-02-28 10:07:07,542 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:07,544 INFO sqlalchemy.engine.Engine [raw sql] (85, 0, 35, 1677578680000)
2023-02-28 10:07:07,649 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578185000}
2023-02-28 10:07:08,592 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:07:08,593 INFO sqlalchemy.engine.Engine [raw sql] (107, 11, 29, 1677578185000)
2023-02-28 10:07:08,697 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 2, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677578384000}
2023-02-28 10:07:09,646 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:09,648 INFO sqlalchemy.engine.Engine [raw sql] (33, 21, 2, 1677578384000)
2023-02-28 10:07:10,166 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578548000}
2023-02-28 10:07:10,691 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:10,694 INFO sqlalchemy.engine.Engine [raw sql] (44, 1, 29, 1677578548000)
2023-02-28 10:07:10,799 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 25, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677578155000}
2023-02-28 10:07:11,739 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:11,741 INFO sqlalchemy.engine.Engine [raw sql] (89, 15, 25, 1677578155000)
2023-02-28 10:07:11,847 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 0, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677578497000}
2023-02-28 10:07:12,793 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:12,795 INFO sqlalchemy.engine.Engine [raw sql] (57, 23, 0, 1677578497000)
2023-02-28 10:07:13,318 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677578493000}
2023-02-28 10:07:13,839 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:13,842 INFO sqlalchemy.engine.Engine [raw sql] (80, 10, 30, 1677578493000)
2023-02-28 10:07:14,359 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578440000}
2023-02-28 10:07:14,885 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:14,887 INFO sqlalchemy.engine.Engine [raw sql] (41, 0, 20, 1677578440000)
2023-02-28 10:07:14,994 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578449000}
2023-02-28 10:07:15,936 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:15,939 INFO sqlalchemy.engine.Engine [raw sql] (3, 8, 12, 1677578449000)
2023-02-28 10:07:16,460 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 14, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677578220000}
2023-02-28 10:07:16,985 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:16,987 INFO sqlalchemy.engine.Engine [raw sql] (40, 7, 14, 1677578220000)
2023-02-28 10:07:17,511 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 17, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677578346000}
2023-02-28 10:07:18,036 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:18,038 INFO sqlalchemy.engine.Engine [raw sql] (29, 12, 17, 1677578346000)
2023-02-28 10:07:18,555 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677578696000}
2023-02-28 10:07:19,078 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:19,081 INFO sqlalchemy.engine.Engine [raw sql] (103, 21, 19, 1677578696000)
2023-02-28 10:07:19,607 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578677000}
2023-02-28 10:07:20,129 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:20,131 INFO sqlalchemy.engine.Engine [raw sql] (28, 0, 30, 1677578677000)
2023-02-28 10:07:20,238 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677578341000}
2023-02-28 10:07:21,179 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:21,181 INFO sqlalchemy.engine.Engine [raw sql] (39, 3, 17, 1677578341000)
2023-02-28 10:07:21,701 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578612000}
2023-02-28 10:07:22,226 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:22,229 INFO sqlalchemy.engine.Engine [raw sql] (83, 4, 36, 1677578612000)
2023-02-28 10:07:22,334 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578631000}
2023-02-28 10:07:23,273 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:23,275 INFO sqlalchemy.engine.Engine [raw sql] (92, 11, 29, 1677578631000)
2023-02-28 10:07:23,381 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677578699000}
2023-02-28 10:07:24,323 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:07:24,324 INFO sqlalchemy.engine.Engine [raw sql] (21, 27, 0, 1677578699000)
2023-02-28 10:07:24,428 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578535000}
2023-02-28 10:07:25,178 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:07:25,180 INFO sqlalchemy.engine.Engine [raw sql] (88, 1, 28, 1677578535000)
2023-02-28 10:07:25,285 INFO sqlalchemy.engine.Engine COMMIT
<Response [200]> 2023-02-28 10:12:38.090428
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579063000}
2023-02-28 10:12:38,100 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-02-28 10:12:38,103 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-02-28 10:12:38,600 INFO sqlalchemy.engine.Engine COMMIT
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579063000}
2023-02-28 10:12:39,132 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:39,134 INFO sqlalchemy.engine.Engine [raw sql] (42, 8, 21, 1677579063000)
2023-02-28 10:12:39,653 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579112000}
2023-02-28 10:12:40,171 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:40,172 INFO sqlalchemy.engine.Engine [raw sql] (30, 2, 18, 1677579112000)
2023-02-28 10:12:40,601 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 24, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677579111000}
2023-02-28 10:12:41,122 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:41,124 INFO sqlalchemy.engine.Engine [raw sql] (54, 9, 24, 1677579111000)
2023-02-28 10:12:41,651 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578708000}
2023-02-28 10:12:42,166 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:42,169 INFO sqlalchemy.engine.Engine [raw sql] (108, 0, 35, 1677578708000)
2023-02-28 10:12:42,264 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 7, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677579047000}
2023-02-28 10:12:42,790 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:42,793 INFO sqlalchemy.engine.Engine [raw sql] (20, 22, 7, 1677579047000)
2023-02-28 10:12:43,215 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 39, 'status': 'OPEN', 'last_update': 1677578585000}
2023-02-28 10:12:43,741 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:43,743 INFO sqlalchemy.engine.Engine [raw sql] (56, 39, 0, 1677578585000)
2023-02-28 10:12:43,847 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578979000}
2023-02-28 10:12:44,794 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:44,795 INFO sqlalchemy.engine.Engine [raw sql] (6, 0, 20, 1677578979000)
2023-02-28 10:12:44,890 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677578869000}
2023-02-28 10:12:45,835 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:45,838 INFO sqlalchemy.engine.Engine [raw sql] (18, 3, 27, 1677578869000)
2023-02-28 10:12:45,934 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579121000}
2023-02-28 10:12:46,458 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:46,461 INFO sqlalchemy.engine.Engine [raw sql] (32, 15, 15, 1677579121000)
2023-02-28 10:12:46,890 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 17, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579132000}
2023-02-28 10:12:47,414 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:47,416 INFO sqlalchemy.engine.Engine [raw sql] (52, 15, 17, 1677579132000)
2023-02-28 10:12:47,512 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578745000}
2023-02-28 10:12:48,458 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:48,461 INFO sqlalchemy.engine.Engine [raw sql] (48, 4, 35, 1677578745000)
2023-02-28 10:12:48,556 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 13, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677578979000}
2023-02-28 10:12:49,081 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:49,083 INFO sqlalchemy.engine.Engine [raw sql] (13, 17, 13, 1677578979000)
2023-02-28 10:12:49,506 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578935000}
2023-02-28 10:12:50,031 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:12:50,034 INFO sqlalchemy.engine.Engine [raw sql] (43, 0, 30, 1677578935000)
2023-02-28 10:12:50,131 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677578945000}
2023-02-28 10:12:50,649 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:50,651 INFO sqlalchemy.engine.Engine [raw sql] (31, 12, 8, 1677578945000)
2023-02-28 10:12:51,079 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 11, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677578983000}
2023-02-28 10:12:51,603 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:51,606 INFO sqlalchemy.engine.Engine [raw sql] (98, 28, 11, 1677578983000)
2023-02-28 10:12:51,703 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677578948000}
2023-02-28 10:12:52,222 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:52,223 INFO sqlalchemy.engine.Engine [raw sql] (14, 13, 17, 1677578948000)
2023-02-28 10:12:52,652 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 11, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578563000}
2023-02-28 10:12:53,184 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:53,187 INFO sqlalchemy.engine.Engine [raw sql] (1, 20, 11, 1677578563000)
2023-02-28 10:12:53,282 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677579001000}
2023-02-28 10:12:53,799 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:53,802 INFO sqlalchemy.engine.Engine [raw sql] (23, 21, 9, 1677579001000)
2023-02-28 10:12:54,226 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579071000}
2023-02-28 10:12:54,748 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:54,750 INFO sqlalchemy.engine.Engine [raw sql] (106, 0, 40, 1677579071000)
2023-02-28 10:12:54,846 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578757000}
2023-02-28 10:12:55,368 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:55,370 INFO sqlalchemy.engine.Engine [raw sql] (112, 0, 30, 1677578757000)
2023-02-28 10:12:55,798 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 2, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677578927000}
2023-02-28 10:12:56,322 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:56,323 INFO sqlalchemy.engine.Engine [raw sql] (68, 38, 2, 1677578927000)
2023-02-28 10:12:56,418 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578987000}
2023-02-28 10:12:56,941 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:56,943 INFO sqlalchemy.engine.Engine [raw sql] (74, 2, 28, 1677578987000)
2023-02-28 10:12:57,373 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 38, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578727000}
2023-02-28 10:12:57,898 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:57,901 INFO sqlalchemy.engine.Engine [raw sql] (87, 0, 38, 1677578727000)
2023-02-28 10:12:57,996 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578671000}
2023-02-28 10:12:58,518 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:58,521 INFO sqlalchemy.engine.Engine [raw sql] (84, 0, 30, 1677578671000)
2023-02-28 10:12:58,944 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 1, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677579081000}
2023-02-28 10:12:59,565 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:12:59,567 INFO sqlalchemy.engine.Engine [raw sql] (90, 38, 1, 1677579081000)
2023-02-28 10:12:59,994 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578718000}
2023-02-28 10:13:00,616 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:00,618 INFO sqlalchemy.engine.Engine [raw sql] (11, 20, 10, 1677578718000)
2023-02-28 10:13:01,043 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 16, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578914000}
2023-02-28 10:13:01,669 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:01,672 INFO sqlalchemy.engine.Engine [raw sql] (17, 4, 16, 1677578914000)
2023-02-28 10:13:02,095 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579000000}
2023-02-28 10:13:02,723 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:13:02,725 INFO sqlalchemy.engine.Engine [raw sql] (45, 11, 19, 1677579000000)
2023-02-28 10:13:03,144 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677579037000}
2023-02-28 10:13:03,761 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:03,763 INFO sqlalchemy.engine.Engine [raw sql] (114, 26, 14, 1677579037000)
2023-02-28 10:13:04,193 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 31, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579128000}
2023-02-28 10:13:04,808 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:04,810 INFO sqlalchemy.engine.Engine [raw sql] (72, 0, 31, 1677579128000)
2023-02-28 10:13:05,240 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 20, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677578877000}
2023-02-28 10:13:05,872 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:05,874 INFO sqlalchemy.engine.Engine [raw sql] (63, 15, 20, 1677578877000)
2023-02-28 10:13:06,296 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677578776000}
2023-02-28 10:13:06,923 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:06,925 INFO sqlalchemy.engine.Engine [raw sql] (113, 16, 24, 1677578776000)
2023-02-28 10:13:07,336 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578668000}
2023-02-28 10:13:07,866 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:07,868 INFO sqlalchemy.engine.Engine [raw sql] (91, 8, 21, 1677578668000)
2023-02-28 10:13:07,964 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 2, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677579079000}
2023-02-28 10:13:08,291 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:08,293 INFO sqlalchemy.engine.Engine [raw sql] (99, 28, 2, 1677579079000)
2023-02-28 10:13:08,389 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 18, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677578882000}
2023-02-28 10:13:08,909 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:08,912 INFO sqlalchemy.engine.Engine [raw sql] (9, 6, 18, 1677578882000)
2023-02-28 10:13:09,007 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677578878000}
2023-02-28 10:13:09,525 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:09,528 INFO sqlalchemy.engine.Engine [raw sql] (67, 25, 13, 1677578878000)
2023-02-28 10:13:09,957 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578832000}
2023-02-28 10:13:10,482 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:10,484 INFO sqlalchemy.engine.Engine [raw sql] (116, 1, 29, 1677578832000)
2023-02-28 10:13:10,582 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 5, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677579085000}
2023-02-28 10:13:11,101 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:11,104 INFO sqlalchemy.engine.Engine [raw sql] (55, 29, 5, 1677579085000)
2023-02-28 10:13:11,528 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677578998000}
2023-02-28 10:13:12,052 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:12,053 INFO sqlalchemy.engine.Engine [raw sql] (62, 23, 17, 1677578998000)
2023-02-28 10:13:12,148 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578796000}
2023-02-28 10:13:12,677 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:12,679 INFO sqlalchemy.engine.Engine [raw sql] (5, 2, 38, 1677578796000)
2023-02-28 10:13:13,103 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579054000}
2023-02-28 10:13:13,627 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:13,630 INFO sqlalchemy.engine.Engine [raw sql] (97, 4, 36, 1677579054000)
2023-02-28 10:13:13,725 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 20, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677579071000}
2023-02-28 10:13:14,246 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:14,249 INFO sqlalchemy.engine.Engine [raw sql] (61, 5, 20, 1677579071000)
2023-02-28 10:13:14,679 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 25, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579031000}
2023-02-28 10:13:15,204 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:13:15,206 INFO sqlalchemy.engine.Engine [raw sql] (77, 2, 25, 1677579031000)
2023-02-28 10:13:15,301 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579148000}
2023-02-28 10:13:15,820 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:15,823 INFO sqlalchemy.engine.Engine [raw sql] (4, 20, 0, 1677579148000)
2023-02-28 10:13:16,250 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677578838000}
2023-02-28 10:13:16,776 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:16,779 INFO sqlalchemy.engine.Engine [raw sql] (49, 23, 17, 1677578838000)
2023-02-28 10:13:16,877 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677578985000}
2023-02-28 10:13:17,828 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:17,831 INFO sqlalchemy.engine.Engine [raw sql] (19, 27, 1, 1677578985000)
2023-02-28 10:13:17,927 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578994000}
2023-02-28 10:13:18,446 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:18,449 INFO sqlalchemy.engine.Engine [raw sql] (7, 1, 28, 1677578994000)
2023-02-28 10:13:18,876 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579099000}
2023-02-28 10:13:19,404 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:19,406 INFO sqlalchemy.engine.Engine [raw sql] (60, 1, 29, 1677579099000)
2023-02-28 10:13:19,502 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578840000}
2023-02-28 10:13:20,021 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:20,023 INFO sqlalchemy.engine.Engine [raw sql] (102, 0, 40, 1677578840000)
2023-02-28 10:13:20,445 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677579036000}
2023-02-28 10:13:20,971 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:20,973 INFO sqlalchemy.engine.Engine [raw sql] (38, 23, 15, 1677579036000)
2023-02-28 10:13:21,069 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578765000}
2023-02-28 10:13:21,596 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:21,598 INFO sqlalchemy.engine.Engine [raw sql] (53, 20, 20, 1677578765000)
2023-02-28 10:13:22,025 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 3, 'available_bikes': 35, 'status': 'OPEN', 'last_update': 1677578863000}
2023-02-28 10:13:22,654 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:22,655 INFO sqlalchemy.engine.Engine [raw sql] (58, 35, 3, 1677578863000)
2023-02-28 10:13:23,075 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677579138000}
2023-02-28 10:13:23,692 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:23,695 INFO sqlalchemy.engine.Engine [raw sql] (66, 40, 0, 1677579138000)
2023-02-28 10:13:24,124 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578655000}
2023-02-28 10:13:24,737 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:24,739 INFO sqlalchemy.engine.Engine [raw sql] (104, 8, 32, 1677578655000)
2023-02-28 10:13:25,169 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578821000}
2023-02-28 10:13:25,785 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:25,787 INFO sqlalchemy.engine.Engine [raw sql] (101, 2, 28, 1677578821000)
2023-02-28 10:13:26,214 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578885000}
2023-02-28 10:13:26,742 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:26,745 INFO sqlalchemy.engine.Engine [raw sql] (115, 1, 28, 1677578885000)
2023-02-28 10:13:26,841 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677578909000}
2023-02-28 10:13:27,358 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:27,360 INFO sqlalchemy.engine.Engine [raw sql] (47, 16, 23, 1677578909000)
2023-02-28 10:13:27,789 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677579001000}
2023-02-28 10:13:28,315 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:13:28,316 INFO sqlalchemy.engine.Engine [raw sql] (117, 40, 0, 1677579001000)
2023-02-28 10:13:28,411 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579117000}
2023-02-28 10:13:28,931 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:28,933 INFO sqlalchemy.engine.Engine [raw sql] (8, 2, 28, 1677579117000)
2023-02-28 10:13:29,359 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579017000}
2023-02-28 10:13:29,889 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:29,891 INFO sqlalchemy.engine.Engine [raw sql] (27, 20, 0, 1677579017000)
2023-02-28 10:13:29,987 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677578775000}
2023-02-28 10:13:30,506 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:30,509 INFO sqlalchemy.engine.Engine [raw sql] (16, 7, 13, 1677578775000)
2023-02-28 10:13:30,937 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578752000}
2023-02-28 10:13:31,464 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:31,466 INFO sqlalchemy.engine.Engine [raw sql] (96, 0, 30, 1677578752000)
2023-02-28 10:13:31,562 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 6, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579097000}
2023-02-28 10:13:32,084 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:32,086 INFO sqlalchemy.engine.Engine [raw sql] (82, 2, 6, 1677579097000)
2023-02-28 10:13:32,510 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 35, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677578547000}
2023-02-28 10:13:33,036 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:33,038 INFO sqlalchemy.engine.Engine [raw sql] (76, 3, 35, 1677578547000)
2023-02-28 10:13:33,134 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578617000}
2023-02-28 10:13:33,653 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:33,654 INFO sqlalchemy.engine.Engine [raw sql] (71, 2, 38, 1677578617000)
2023-02-28 10:13:34,085 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 14, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677579085000}
2023-02-28 10:13:34,608 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:34,610 INFO sqlalchemy.engine.Engine [raw sql] (79, 12, 14, 1677579085000)
2023-02-28 10:13:34,704 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677579001000}
2023-02-28 10:13:35,226 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:35,228 INFO sqlalchemy.engine.Engine [raw sql] (69, 38, 0, 1677579001000)
2023-02-28 10:13:35,657 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677579131000}
2023-02-28 10:13:36,182 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:36,184 INFO sqlalchemy.engine.Engine [raw sql] (25, 13, 17, 1677579131000)
2023-02-28 10:13:36,280 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677579112000}
2023-02-28 10:13:36,802 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:36,804 INFO sqlalchemy.engine.Engine [raw sql] (51, 14, 26, 1677579112000)
2023-02-28 10:13:37,231 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579135000}
2023-02-28 10:13:37,755 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:37,757 INFO sqlalchemy.engine.Engine [raw sql] (37, 8, 21, 1677579135000)
2023-02-28 10:13:37,853 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 16, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578738000}
2023-02-28 10:13:38,386 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:38,388 INFO sqlalchemy.engine.Engine [raw sql] (59, 4, 16, 1677578738000)
2023-02-28 10:13:38,812 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677579061000}
2023-02-28 10:13:39,424 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:39,426 INFO sqlalchemy.engine.Engine [raw sql] (95, 17, 23, 1677579061000)
2023-02-28 10:13:39,851 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579139000}
2023-02-28 10:13:40,383 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:13:40,384 INFO sqlalchemy.engine.Engine [raw sql] (94, 0, 40, 1677579139000)
2023-02-28 10:13:40,479 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 25, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578954000}
2023-02-28 10:13:40,992 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:40,994 INFO sqlalchemy.engine.Engine [raw sql] (105, 11, 25, 1677578954000)
2023-02-28 10:13:41,423 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677578607000}
2023-02-28 10:13:41,945 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:41,948 INFO sqlalchemy.engine.Engine [raw sql] (36, 18, 22, 1677578607000)
2023-02-28 10:13:42,046 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579093000}
2023-02-28 10:13:42,567 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:42,568 INFO sqlalchemy.engine.Engine [raw sql] (93, 0, 40, 1677579093000)
2023-02-28 10:13:42,995 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579097000}
2023-02-28 10:13:43,520 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:43,521 INFO sqlalchemy.engine.Engine [raw sql] (22, 0, 19, 1677579097000)
2023-02-28 10:13:43,617 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677578638000}
2023-02-28 10:13:44,136 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:44,138 INFO sqlalchemy.engine.Engine [raw sql] (50, 18, 21, 1677578638000)
2023-02-28 10:13:44,567 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578623000}
2023-02-28 10:13:45,093 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:45,095 INFO sqlalchemy.engine.Engine [raw sql] (110, 1, 39, 1677578623000)
2023-02-28 10:13:45,195 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578637000}
2023-02-28 10:13:46,141 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:46,143 INFO sqlalchemy.engine.Engine [raw sql] (12, 8, 12, 1677578637000)
2023-02-28 10:13:46,251 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677578977000}
2023-02-28 10:13:47,190 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:47,193 INFO sqlalchemy.engine.Engine [raw sql] (34, 7, 22, 1677578977000)
2023-02-28 10:13:47,289 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677579103000}
2023-02-28 10:13:47,809 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:47,811 INFO sqlalchemy.engine.Engine [raw sql] (78, 9, 29, 1677579103000)
2023-02-28 10:13:48,237 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579011000}
2023-02-28 10:13:48,763 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:48,766 INFO sqlalchemy.engine.Engine [raw sql] (2, 11, 9, 1677579011000)
2023-02-28 10:13:48,912 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578614000}
2023-02-28 10:13:49,121 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:49,122 INFO sqlalchemy.engine.Engine [raw sql] (75, 4, 36, 1677578614000)
2023-02-28 10:13:49,221 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-02-28 10:13:49,413 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:49,415 INFO sqlalchemy.engine.Engine [raw sql] (507, 1, 0, 1675786128000)
2023-02-28 10:13:49,510 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579070000}
2023-02-28 10:13:49,704 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:49,706 INFO sqlalchemy.engine.Engine [raw sql] (111, 0, 40, 1677579070000)
2023-02-28 10:13:49,802 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677578793000}
2023-02-28 10:13:49,997 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:49,999 INFO sqlalchemy.engine.Engine [raw sql] (26, 8, 12, 1677578793000)
2023-02-28 10:13:50,095 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677578917000}
2023-02-28 10:13:50,291 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:13:50,293 INFO sqlalchemy.engine.Engine [raw sql] (65, 24, 15, 1677578917000)
2023-02-28 10:13:50,389 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 12, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578910000}
2023-02-28 10:13:50,583 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:50,586 INFO sqlalchemy.engine.Engine [raw sql] (15, 0, 12, 1677578910000)
2023-02-28 10:13:50,681 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 38, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578705000}
2023-02-28 10:13:50,874 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:50,876 INFO sqlalchemy.engine.Engine [raw sql] (86, 0, 38, 1677578705000)
2023-02-28 10:13:50,972 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677578970000}
2023-02-28 10:13:51,190 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:51,192 INFO sqlalchemy.engine.Engine [raw sql] (35, 9, 20, 1677578970000)
2023-02-28 10:13:51,289 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 5, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579044000}
2023-02-28 10:13:51,563 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:51,564 INFO sqlalchemy.engine.Engine [raw sql] (10, 11, 5, 1677579044000)
2023-02-28 10:13:51,714 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 24, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579147000}
2023-02-28 10:13:51,917 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:51,919 INFO sqlalchemy.engine.Engine [raw sql] (100, 1, 24, 1677579147000)
2023-02-28 10:13:52,013 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578806000}
2023-02-28 10:13:52,212 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:52,214 INFO sqlalchemy.engine.Engine [raw sql] (24, 20, 0, 1677578806000)
2023-02-28 10:13:52,314 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677578864000}
2023-02-28 10:13:52,508 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:52,511 INFO sqlalchemy.engine.Engine [raw sql] (64, 26, 14, 1677578864000)
2023-02-28 10:13:52,606 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 14, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579041000}
2023-02-28 10:13:52,825 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:52,827 INFO sqlalchemy.engine.Engine [raw sql] (109, 15, 14, 1677579041000)
2023-02-28 10:13:52,924 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578680000}
2023-02-28 10:13:53,118 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:53,121 INFO sqlalchemy.engine.Engine [raw sql] (85, 0, 35, 1677578680000)
2023-02-28 10:13:53,253 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677579138000}
2023-02-28 10:13:53,450 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:53,452 INFO sqlalchemy.engine.Engine [raw sql] (107, 10, 30, 1677579138000)
2023-02-28 10:13:53,550 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 2, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677578990000}
2023-02-28 10:13:53,781 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:53,783 INFO sqlalchemy.engine.Engine [raw sql] (33, 21, 2, 1677578990000)
2023-02-28 10:13:53,879 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677578548000}
2023-02-28 10:13:54,077 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:54,080 INFO sqlalchemy.engine.Engine [raw sql] (44, 1, 29, 1677578548000)
2023-02-28 10:13:54,186 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 25, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677578762000}
2023-02-28 10:13:54,400 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:54,402 INFO sqlalchemy.engine.Engine [raw sql] (89, 15, 25, 1677578762000)
2023-02-28 10:13:54,504 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 0, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677579103000}
2023-02-28 10:13:55,032 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:55,034 INFO sqlalchemy.engine.Engine [raw sql] (57, 23, 0, 1677579103000)
2023-02-28 10:13:55,130 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677579099000}
2023-02-28 10:13:55,649 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:13:55,651 INFO sqlalchemy.engine.Engine [raw sql] (80, 10, 30, 1677579099000)
2023-02-28 10:13:56,081 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579046000}
2023-02-28 10:13:56,600 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:56,603 INFO sqlalchemy.engine.Engine [raw sql] (41, 0, 20, 1677579046000)
2023-02-28 10:13:56,706 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579055000}
2023-02-28 10:13:57,650 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:57,652 INFO sqlalchemy.engine.Engine [raw sql] (3, 8, 12, 1677579055000)
2023-02-28 10:13:57,748 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 15, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677578739000}
2023-02-28 10:13:58,267 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:58,269 INFO sqlalchemy.engine.Engine [raw sql] (40, 6, 15, 1677578739000)
2023-02-28 10:13:58,697 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677579110000}
2023-02-28 10:13:59,319 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:13:59,322 INFO sqlalchemy.engine.Engine [raw sql] (29, 9, 20, 1677579110000)
2023-02-28 10:13:59,752 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578904000}
2023-02-28 10:14:00,269 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:14:00,271 INFO sqlalchemy.engine.Engine [raw sql] (103, 20, 20, 1677578904000)
2023-02-28 10:14:00,375 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578677000}
2023-02-28 10:14:00,889 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:14:00,891 INFO sqlalchemy.engine.Engine [raw sql] (28, 0, 30, 1677578677000)
2023-02-28 10:14:01,323 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579078000}
2023-02-28 10:14:01,846 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:14:01,849 INFO sqlalchemy.engine.Engine [raw sql] (39, 2, 18, 1677579078000)
2023-02-28 10:14:01,945 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677578612000}
2023-02-28 10:14:02,469 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:14:02,471 INFO sqlalchemy.engine.Engine [raw sql] (83, 4, 36, 1677578612000)
2023-02-28 10:14:02,899 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677579109000}
2023-02-28 10:14:03,515 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:14:03,517 INFO sqlalchemy.engine.Engine [raw sql] (92, 12, 28, 1677579109000)
2023-02-28 10:14:03,944 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677578971000}
2023-02-28 10:14:04,469 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:14:04,471 INFO sqlalchemy.engine.Engine [raw sql] (21, 26, 1, 1677578971000)
2023-02-28 10:14:04,567 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579141000}
2023-02-28 10:14:05,087 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:14:05,089 INFO sqlalchemy.engine.Engine [raw sql] (88, 1, 28, 1677579141000)
2023-02-28 10:14:05,517 INFO sqlalchemy.engine.Engine COMMIT
<Response [200]> 2023-02-28 10:19:06.349615
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579260000}
2023-02-28 10:19:06,357 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-02-28 10:19:06,360 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-02-28 10:19:07,232 INFO sqlalchemy.engine.Engine COMMIT
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579260000}
2023-02-28 10:19:07,757 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:07,759 INFO sqlalchemy.engine.Engine [raw sql] (42, 8, 21, 1677579260000)
2023-02-28 10:19:07,854 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579368000}
2023-02-28 10:19:08,375 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:08,377 INFO sqlalchemy.engine.Engine [raw sql] (30, 1, 19, 1677579368000)
2023-02-28 10:19:08,806 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 24, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677579111000}
2023-02-28 10:19:09,328 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:19:09,330 INFO sqlalchemy.engine.Engine [raw sql] (54, 9, 24, 1677579111000)
2023-02-28 10:19:09,425 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579314000}
2023-02-28 10:19:09,946 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:09,949 INFO sqlalchemy.engine.Engine [raw sql] (108, 0, 35, 1677579314000)
2023-02-28 10:19:10,374 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 7, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677579047000}
2023-02-28 10:19:10,899 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:10,901 INFO sqlalchemy.engine.Engine [raw sql] (20, 22, 7, 1677579047000)
2023-02-28 10:19:10,996 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 39, 'status': 'OPEN', 'last_update': 1677579191000}
2023-02-28 10:19:11,518 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:11,520 INFO sqlalchemy.engine.Engine [raw sql] (56, 39, 0, 1677579191000)
2023-02-28 10:19:11,950 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578979000}
2023-02-28 10:19:12,474 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:12,476 INFO sqlalchemy.engine.Engine [raw sql] (6, 0, 20, 1677578979000)
2023-02-28 10:19:12,573 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579214000}
2023-02-28 10:19:13,093 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:13,094 INFO sqlalchemy.engine.Engine [raw sql] (18, 4, 26, 1677579214000)
2023-02-28 10:19:13,526 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579121000}
2023-02-28 10:19:14,049 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:14,051 INFO sqlalchemy.engine.Engine [raw sql] (32, 15, 15, 1677579121000)
2023-02-28 10:19:14,146 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 17, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579132000}
2023-02-28 10:19:14,667 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:14,669 INFO sqlalchemy.engine.Engine [raw sql] (52, 15, 17, 1677579132000)
2023-02-28 10:19:15,095 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677579235000}
2023-02-28 10:19:15,624 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:15,627 INFO sqlalchemy.engine.Engine [raw sql] (48, 3, 36, 1677579235000)
2023-02-28 10:19:15,726 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 13, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677578979000}
2023-02-28 10:19:16,241 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:16,243 INFO sqlalchemy.engine.Engine [raw sql] (13, 17, 13, 1677578979000)
2023-02-28 10:19:16,672 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578935000}
2023-02-28 10:19:17,198 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:17,200 INFO sqlalchemy.engine.Engine [raw sql] (43, 0, 30, 1677578935000)
2023-02-28 10:19:17,300 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579466000}
2023-02-28 10:19:18,242 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:18,244 INFO sqlalchemy.engine.Engine [raw sql] (31, 11, 9, 1677579466000)
2023-02-28 10:19:18,341 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 9, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677579486000}
2023-02-28 10:19:18,873 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:18,876 INFO sqlalchemy.engine.Engine [raw sql] (98, 30, 9, 1677579486000)
2023-02-28 10:19:19,307 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677578948000}
2023-02-28 10:19:19,911 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:19,912 INFO sqlalchemy.engine.Engine [raw sql] (14, 13, 17, 1677578948000)
2023-02-28 10:19:20,340 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 11, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579169000}
2023-02-28 10:19:20,867 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:20,869 INFO sqlalchemy.engine.Engine [raw sql] (1, 20, 11, 1677579169000)
2023-02-28 10:19:20,964 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677579471000}
2023-02-28 10:19:21,483 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:19:21,484 INFO sqlalchemy.engine.Engine [raw sql] (23, 18, 12, 1677579471000)
2023-02-28 10:19:21,913 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579071000}
2023-02-28 10:19:22,439 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:22,441 INFO sqlalchemy.engine.Engine [raw sql] (106, 0, 40, 1677579071000)
2023-02-28 10:19:22,539 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579362000}
2023-02-28 10:19:23,060 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:23,063 INFO sqlalchemy.engine.Engine [raw sql] (112, 0, 30, 1677579362000)
2023-02-28 10:19:23,493 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 2, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677578927000}
2023-02-28 10:19:24,103 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:24,105 INFO sqlalchemy.engine.Engine [raw sql] (68, 38, 2, 1677578927000)
2023-02-28 10:19:24,537 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677578987000}
2023-02-28 10:19:25,061 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:25,063 INFO sqlalchemy.engine.Engine [raw sql] (74, 2, 28, 1677578987000)
2023-02-28 10:19:25,159 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 38, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579334000}
2023-02-28 10:19:26,131 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:26,134 INFO sqlalchemy.engine.Engine [raw sql] (87, 0, 38, 1677579334000)
2023-02-28 10:19:26,238 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579278000}
2023-02-28 10:19:26,753 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:26,755 INFO sqlalchemy.engine.Engine [raw sql] (84, 0, 30, 1677579278000)
2023-02-28 10:19:27,263 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677579325000}
2023-02-28 10:19:27,795 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:27,797 INFO sqlalchemy.engine.Engine [raw sql] (90, 40, 0, 1677579325000)
2023-02-28 10:19:28,223 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579324000}
2023-02-28 10:19:28,748 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:28,751 INFO sqlalchemy.engine.Engine [raw sql] (11, 20, 10, 1677579324000)
2023-02-28 10:19:28,845 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677579179000}
2023-02-28 10:19:29,370 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:29,372 INFO sqlalchemy.engine.Engine [raw sql] (17, 5, 15, 1677579179000)
2023-02-28 10:19:29,798 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579000000}
2023-02-28 10:19:30,322 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:30,325 INFO sqlalchemy.engine.Engine [raw sql] (45, 11, 19, 1677579000000)
2023-02-28 10:19:30,420 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677579037000}
2023-02-28 10:19:30,939 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:30,941 INFO sqlalchemy.engine.Engine [raw sql] (114, 26, 14, 1677579037000)
2023-02-28 10:19:31,369 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 31, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579128000}
2023-02-28 10:19:31,894 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:31,896 INFO sqlalchemy.engine.Engine [raw sql] (72, 0, 31, 1677579128000)
2023-02-28 10:19:31,993 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 20, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579483000}
2023-02-28 10:19:32,512 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:32,515 INFO sqlalchemy.engine.Engine [raw sql] (63, 15, 20, 1677579483000)
2023-02-28 10:19:32,941 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677579382000}
2023-02-28 10:19:33,468 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:33,471 INFO sqlalchemy.engine.Engine [raw sql] (113, 16, 24, 1677579382000)
2023-02-28 10:19:33,566 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579309000}
2023-02-28 10:19:34,087 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:19:34,090 INFO sqlalchemy.engine.Engine [raw sql] (91, 8, 21, 1677579309000)
2023-02-28 10:19:34,515 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677579470000}
2023-02-28 10:19:35,041 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:35,044 INFO sqlalchemy.engine.Engine [raw sql] (99, 29, 1, 1677579470000)
2023-02-28 10:19:35,570 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 20, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579385000}
2023-02-28 10:19:36,090 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:36,091 INFO sqlalchemy.engine.Engine [raw sql] (9, 4, 20, 1677579385000)
2023-02-28 10:19:36,187 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 11, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677579421000}
2023-02-28 10:19:36,711 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:36,712 INFO sqlalchemy.engine.Engine [raw sql] (67, 27, 11, 1677579421000)
2023-02-28 10:19:37,146 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579439000}
2023-02-28 10:19:37,668 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:37,670 INFO sqlalchemy.engine.Engine [raw sql] (116, 1, 29, 1677579439000)
2023-02-28 10:19:37,766 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 5, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677579085000}
2023-02-28 10:19:38,282 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:38,283 INFO sqlalchemy.engine.Engine [raw sql] (55, 29, 5, 1677579085000)
2023-02-28 10:19:38,713 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677579344000}
2023-02-28 10:19:39,240 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:39,242 INFO sqlalchemy.engine.Engine [raw sql] (62, 24, 16, 1677579344000)
2023-02-28 10:19:39,337 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579456000}
2023-02-28 10:19:39,855 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:39,857 INFO sqlalchemy.engine.Engine [raw sql] (5, 1, 39, 1677579456000)
2023-02-28 10:19:40,284 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579054000}
2023-02-28 10:19:40,811 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:40,813 INFO sqlalchemy.engine.Engine [raw sql] (97, 4, 36, 1677579054000)
2023-02-28 10:19:40,910 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 20, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677579071000}
2023-02-28 10:19:41,428 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:41,430 INFO sqlalchemy.engine.Engine [raw sql] (61, 5, 20, 1677579071000)
2023-02-28 10:19:41,859 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 25, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579031000}
2023-02-28 10:19:42,387 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:42,389 INFO sqlalchemy.engine.Engine [raw sql] (77, 2, 25, 1677579031000)
2023-02-28 10:19:42,484 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579148000}
2023-02-28 10:19:43,001 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:43,003 INFO sqlalchemy.engine.Engine [raw sql] (4, 20, 0, 1677579148000)
2023-02-28 10:19:43,431 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677579311000}
2023-02-28 10:19:43,959 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:43,962 INFO sqlalchemy.engine.Engine [raw sql] (49, 21, 19, 1677579311000)
2023-02-28 10:19:44,057 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677578985000}
2023-02-28 10:19:44,377 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:44,380 INFO sqlalchemy.engine.Engine [raw sql] (19, 27, 1, 1677578985000)
2023-02-28 10:19:44,477 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579495000}
2023-02-28 10:19:44,808 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:44,809 INFO sqlalchemy.engine.Engine [raw sql] (7, 1, 28, 1677579495000)
2023-02-28 10:19:44,904 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579353000}
2023-02-28 10:19:45,098 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:19:45,100 INFO sqlalchemy.engine.Engine [raw sql] (60, 0, 30, 1677579353000)
2023-02-28 10:19:45,334 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579445000}
2023-02-28 10:19:45,531 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:45,533 INFO sqlalchemy.engine.Engine [raw sql] (102, 0, 40, 1677579445000)
2023-02-28 10:19:45,632 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677579036000}
2023-02-28 10:19:46,579 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:46,581 INFO sqlalchemy.engine.Engine [raw sql] (38, 23, 15, 1677579036000)
2023-02-28 10:19:46,678 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579371000}
2023-02-28 10:19:47,242 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:47,244 INFO sqlalchemy.engine.Engine [raw sql] (53, 20, 20, 1677579371000)
2023-02-28 10:19:47,639 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 3, 'available_bikes': 35, 'status': 'OPEN', 'last_update': 1677579469000}
2023-02-28 10:19:48,165 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:48,167 INFO sqlalchemy.engine.Engine [raw sql] (58, 35, 3, 1677579469000)
2023-02-28 10:19:48,262 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677579138000}
2023-02-28 10:19:48,787 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:48,792 INFO sqlalchemy.engine.Engine [raw sql] (66, 40, 0, 1677579138000)
2023-02-28 10:19:49,304 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579261000}
2023-02-28 10:19:49,827 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:49,829 INFO sqlalchemy.engine.Engine [raw sql] (104, 8, 32, 1677579261000)
2023-02-28 10:19:50,260 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579428000}
2023-02-28 10:19:50,787 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:50,789 INFO sqlalchemy.engine.Engine [raw sql] (101, 2, 28, 1677579428000)
2023-02-28 10:19:50,885 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579325000}
2023-02-28 10:19:51,402 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:51,404 INFO sqlalchemy.engine.Engine [raw sql] (115, 0, 29, 1677579325000)
2023-02-28 10:19:51,837 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677578909000}
2023-02-28 10:19:52,363 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:52,365 INFO sqlalchemy.engine.Engine [raw sql] (47, 16, 23, 1677578909000)
2023-02-28 10:19:52,462 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677579001000}
2023-02-28 10:19:52,974 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:52,975 INFO sqlalchemy.engine.Engine [raw sql] (117, 40, 0, 1677579001000)
2023-02-28 10:19:53,407 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579254000}
2023-02-28 10:19:53,934 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:53,936 INFO sqlalchemy.engine.Engine [raw sql] (8, 0, 30, 1677579254000)
2023-02-28 10:19:54,034 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579017000}
2023-02-28 10:19:54,750 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:54,752 INFO sqlalchemy.engine.Engine [raw sql] (27, 20, 0, 1677579017000)
2023-02-28 10:19:54,846 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677579381000}
2023-02-28 10:19:55,053 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:55,054 INFO sqlalchemy.engine.Engine [raw sql] (16, 7, 13, 1677579381000)
2023-02-28 10:19:55,148 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579358000}
2023-02-28 10:19:55,339 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:55,341 INFO sqlalchemy.engine.Engine [raw sql] (96, 0, 30, 1677579358000)
2023-02-28 10:19:55,447 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 6, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579097000}
2023-02-28 10:19:55,641 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:19:55,643 INFO sqlalchemy.engine.Engine [raw sql] (82, 2, 6, 1677579097000)
2023-02-28 10:19:55,740 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 35, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677579153000}
2023-02-28 10:19:55,932 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:55,934 INFO sqlalchemy.engine.Engine [raw sql] (76, 3, 35, 1677579153000)
2023-02-28 10:19:56,031 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579224000}
2023-02-28 10:19:56,229 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:56,230 INFO sqlalchemy.engine.Engine [raw sql] (71, 2, 38, 1677579224000)
2023-02-28 10:19:56,326 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 14, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677579085000}
2023-02-28 10:19:56,521 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:56,522 INFO sqlalchemy.engine.Engine [raw sql] (79, 12, 14, 1677579085000)
2023-02-28 10:19:56,617 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677579001000}
2023-02-28 10:19:56,821 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:56,822 INFO sqlalchemy.engine.Engine [raw sql] (69, 38, 0, 1677579001000)
2023-02-28 10:19:56,926 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677579131000}
2023-02-28 10:19:57,130 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:57,141 INFO sqlalchemy.engine.Engine [raw sql] (25, 13, 17, 1677579131000)
2023-02-28 10:19:57,241 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677579112000}
2023-02-28 10:19:57,495 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:57,497 INFO sqlalchemy.engine.Engine [raw sql] (51, 14, 26, 1677579112000)
2023-02-28 10:19:57,593 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579135000}
2023-02-28 10:19:57,788 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:57,790 INFO sqlalchemy.engine.Engine [raw sql] (37, 8, 21, 1677579135000)
2023-02-28 10:19:57,926 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 16, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579345000}
2023-02-28 10:19:58,119 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:58,121 INFO sqlalchemy.engine.Engine [raw sql] (59, 4, 16, 1677579345000)
2023-02-28 10:19:58,217 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677579296000}
2023-02-28 10:19:58,452 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:58,453 INFO sqlalchemy.engine.Engine [raw sql] (95, 18, 22, 1677579296000)
2023-02-28 10:19:58,556 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579139000}
2023-02-28 10:19:58,760 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:58,762 INFO sqlalchemy.engine.Engine [raw sql] (94, 0, 40, 1677579139000)
2023-02-28 10:19:58,858 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 25, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677578954000}
2023-02-28 10:19:59,071 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:59,074 INFO sqlalchemy.engine.Engine [raw sql] (105, 11, 25, 1677578954000)
2023-02-28 10:19:59,169 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677579213000}
2023-02-28 10:19:59,366 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:59,367 INFO sqlalchemy.engine.Engine [raw sql] (36, 18, 22, 1677579213000)
2023-02-28 10:19:59,497 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579093000}
2023-02-28 10:19:59,695 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:19:59,697 INFO sqlalchemy.engine.Engine [raw sql] (93, 0, 40, 1677579093000)
2023-02-28 10:19:59,796 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579097000}
2023-02-28 10:20:00,025 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:00,027 INFO sqlalchemy.engine.Engine [raw sql] (22, 0, 19, 1677579097000)
2023-02-28 10:20:00,140 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677579244000}
2023-02-28 10:20:00,342 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:20:00,344 INFO sqlalchemy.engine.Engine [raw sql] (50, 18, 21, 1677579244000)
2023-02-28 10:20:00,750 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579229000}
2023-02-28 10:20:01,075 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:01,077 INFO sqlalchemy.engine.Engine [raw sql] (110, 1, 39, 1677579229000)
2023-02-28 10:20:01,173 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579243000}
2023-02-28 10:20:01,368 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:01,369 INFO sqlalchemy.engine.Engine [raw sql] (12, 8, 12, 1677579243000)
2023-02-28 10:20:01,797 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677578977000}
2023-02-28 10:20:02,320 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:02,322 INFO sqlalchemy.engine.Engine [raw sql] (34, 7, 22, 1677578977000)
2023-02-28 10:20:02,844 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677579103000}
2023-02-28 10:20:03,367 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:03,369 INFO sqlalchemy.engine.Engine [raw sql] (78, 9, 29, 1677579103000)
2023-02-28 10:20:03,465 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677579392000}
2023-02-28 10:20:03,990 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:03,991 INFO sqlalchemy.engine.Engine [raw sql] (2, 12, 8, 1677579392000)
2023-02-28 10:20:04,414 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579220000}
2023-02-28 10:20:05,035 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:05,038 INFO sqlalchemy.engine.Engine [raw sql] (75, 4, 36, 1677579220000)
2023-02-28 10:20:05,267 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-02-28 10:20:05,466 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:05,468 INFO sqlalchemy.engine.Engine [raw sql] (507, 1, 0, 1675786128000)
2023-02-28 10:20:05,564 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579070000}
2023-02-28 10:20:05,892 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:05,894 INFO sqlalchemy.engine.Engine [raw sql] (111, 0, 40, 1677579070000)
2023-02-28 10:20:05,990 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579399000}
2023-02-28 10:20:06,348 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:06,350 INFO sqlalchemy.engine.Engine [raw sql] (26, 8, 12, 1677579399000)
2023-02-28 10:20:06,446 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677578917000}
2023-02-28 10:20:06,844 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:06,848 INFO sqlalchemy.engine.Engine [raw sql] (65, 24, 15, 1677578917000)
2023-02-28 10:20:06,943 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 12, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677578910000}
2023-02-28 10:20:07,137 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:07,139 INFO sqlalchemy.engine.Engine [raw sql] (15, 0, 12, 1677578910000)
2023-02-28 10:20:07,369 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 38, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579311000}
2023-02-28 10:20:07,565 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:07,568 INFO sqlalchemy.engine.Engine [raw sql] (86, 0, 38, 1677579311000)
2023-02-28 10:20:08,093 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677578970000}
2023-02-28 10:20:08,614 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:08,616 INFO sqlalchemy.engine.Engine [raw sql] (35, 9, 20, 1677578970000)
2023-02-28 10:20:08,710 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 5, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579331000}
2023-02-28 10:20:09,238 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:09,240 INFO sqlalchemy.engine.Engine [raw sql] (10, 11, 5, 1677579331000)
2023-02-28 10:20:09,662 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 25, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579428000}
2023-02-28 10:20:10,279 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:20:10,281 INFO sqlalchemy.engine.Engine [raw sql] (100, 0, 25, 1677579428000)
2023-02-28 10:20:10,724 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579412000}
2023-02-28 10:20:11,352 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:11,354 INFO sqlalchemy.engine.Engine [raw sql] (24, 20, 0, 1677579412000)
2023-02-28 10:20:11,776 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677579429000}
2023-02-28 10:20:12,391 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:12,394 INFO sqlalchemy.engine.Engine [raw sql] (64, 25, 15, 1677579429000)
2023-02-28 10:20:12,828 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 14, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579041000}
2023-02-28 10:20:13,453 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:13,455 INFO sqlalchemy.engine.Engine [raw sql] (109, 15, 14, 1677579041000)
2023-02-28 10:20:13,873 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579286000}
2023-02-28 10:20:14,498 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:14,500 INFO sqlalchemy.engine.Engine [raw sql] (85, 0, 35, 1677579286000)
2023-02-28 10:20:14,923 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677579138000}
2023-02-28 10:20:15,551 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:15,553 INFO sqlalchemy.engine.Engine [raw sql] (107, 10, 30, 1677579138000)
2023-02-28 10:20:15,974 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 1, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677579392000}
2023-02-28 10:20:16,598 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:16,601 INFO sqlalchemy.engine.Engine [raw sql] (33, 22, 1, 1677579392000)
2023-02-28 10:20:17,017 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579154000}
2023-02-28 10:20:17,639 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:17,642 INFO sqlalchemy.engine.Engine [raw sql] (44, 1, 29, 1677579154000)
2023-02-28 10:20:18,067 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 25, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579368000}
2023-02-28 10:20:18,681 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:18,684 INFO sqlalchemy.engine.Engine [raw sql] (89, 15, 25, 1677579368000)
2023-02-28 10:20:19,115 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 0, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677579103000}
2023-02-28 10:20:19,729 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:19,732 INFO sqlalchemy.engine.Engine [raw sql] (57, 23, 0, 1677579103000)
2023-02-28 10:20:20,161 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677579099000}
2023-02-28 10:20:20,783 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:20,785 INFO sqlalchemy.engine.Engine [raw sql] (80, 10, 30, 1677579099000)
2023-02-28 10:20:21,207 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579046000}
2023-02-28 10:20:21,736 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:21,738 INFO sqlalchemy.engine.Engine [raw sql] (41, 0, 20, 1677579046000)
2023-02-28 10:20:21,844 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579055000}
2023-02-28 10:20:22,355 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:22,357 INFO sqlalchemy.engine.Engine [raw sql] (3, 8, 12, 1677579055000)
2023-02-28 10:20:22,787 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 15, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677579346000}
2023-02-28 10:20:23,312 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:23,315 INFO sqlalchemy.engine.Engine [raw sql] (40, 6, 15, 1677579346000)
2023-02-28 10:20:23,412 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 19, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677579451000}
2023-02-28 10:20:24,359 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:24,360 INFO sqlalchemy.engine.Engine [raw sql] (29, 10, 19, 1677579451000)
2023-02-28 10:20:24,454 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677578904000}
2023-02-28 10:20:24,980 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:20:24,982 INFO sqlalchemy.engine.Engine [raw sql] (103, 20, 20, 1677578904000)
2023-02-28 10:20:25,404 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579283000}
2023-02-28 10:20:26,023 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:26,026 INFO sqlalchemy.engine.Engine [raw sql] (28, 0, 30, 1677579283000)
2023-02-28 10:20:26,454 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677579321000}
2023-02-28 10:20:26,979 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:26,981 INFO sqlalchemy.engine.Engine [raw sql] (39, 3, 17, 1677579321000)
2023-02-28 10:20:27,078 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579218000}
2023-02-28 10:20:28,062 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:28,064 INFO sqlalchemy.engine.Engine [raw sql] (83, 4, 36, 1677579218000)
2023-02-28 10:20:28,161 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579453000}
2023-02-28 10:20:28,663 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:28,665 INFO sqlalchemy.engine.Engine [raw sql] (92, 11, 29, 1677579453000)
2023-02-28 10:20:29,096 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677579338000}
2023-02-28 10:20:29,619 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:29,621 INFO sqlalchemy.engine.Engine [raw sql] (21, 7, 20, 1677579338000)
2023-02-28 10:20:30,147 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579141000}
2023-02-28 10:20:30,663 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:20:30,666 INFO sqlalchemy.engine.Engine [raw sql] (88, 1, 28, 1677579141000)
2023-02-28 10:20:30,762 INFO sqlalchemy.engine.Engine COMMIT
<Response [200]> 2023-02-28 10:25:31.731509
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579866000}
2023-02-28 10:25:31,741 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-02-28 10:25:31,743 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-02-28 10:25:32,188 INFO sqlalchemy.engine.Engine COMMIT
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579866000}
2023-02-28 10:25:32,724 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:32,726 INFO sqlalchemy.engine.Engine [raw sql] (42, 8, 21, 1677579866000)
2023-02-28 10:25:33,147 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579368000}
2023-02-28 10:25:33,672 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:33,675 INFO sqlalchemy.engine.Engine [raw sql] (30, 1, 19, 1677579368000)
2023-02-28 10:25:33,771 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 24, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677579717000}
2023-02-28 10:25:34,294 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:34,296 INFO sqlalchemy.engine.Engine [raw sql] (54, 9, 24, 1677579717000)
2023-02-28 10:25:34,720 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579920000}
2023-02-28 10:25:35,247 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:35,249 INFO sqlalchemy.engine.Engine [raw sql] (108, 0, 35, 1677579920000)
2023-02-28 10:25:35,345 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 7, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677579653000}
2023-02-28 10:25:35,865 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:35,868 INFO sqlalchemy.engine.Engine [raw sql] (20, 22, 7, 1677579653000)
2023-02-28 10:25:36,291 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 39, 'status': 'OPEN', 'last_update': 1677579797000}
2023-02-28 10:25:36,823 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:36,825 INFO sqlalchemy.engine.Engine [raw sql] (56, 39, 0, 1677579797000)
2023-02-28 10:25:36,926 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579585000}
2023-02-28 10:25:37,444 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:37,446 INFO sqlalchemy.engine.Engine [raw sql] (6, 0, 20, 1677579585000)
2023-02-28 10:25:37,959 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579820000}
2023-02-28 10:25:38,490 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:25:38,493 INFO sqlalchemy.engine.Engine [raw sql] (18, 4, 26, 1677579820000)
2023-02-28 10:25:39,007 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677579778000}
2023-02-28 10:25:39,536 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:39,539 INFO sqlalchemy.engine.Engine [raw sql] (32, 16, 14, 1677579778000)
2023-02-28 10:25:39,963 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 16, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677579875000}
2023-02-28 10:25:40,492 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:40,494 INFO sqlalchemy.engine.Engine [raw sql] (52, 16, 16, 1677579875000)
2023-02-28 10:25:40,590 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579630000}
2023-02-28 10:25:41,543 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:41,546 INFO sqlalchemy.engine.Engine [raw sql] (48, 1, 38, 1677579630000)
2023-02-28 10:25:41,642 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 13, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677579585000}
2023-02-28 10:25:42,589 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:42,592 INFO sqlalchemy.engine.Engine [raw sql] (13, 17, 13, 1677579585000)
2023-02-28 10:25:43,115 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579541000}
2023-02-28 10:25:43,642 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:43,644 INFO sqlalchemy.engine.Engine [raw sql] (43, 0, 30, 1677579541000)
2023-02-28 10:25:43,739 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677579789000}
2023-02-28 10:25:44,680 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:44,681 INFO sqlalchemy.engine.Engine [raw sql] (31, 12, 8, 1677579789000)
2023-02-28 10:25:44,782 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 9, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677579871000}
2023-02-28 10:25:45,303 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:45,305 INFO sqlalchemy.engine.Engine [raw sql] (98, 30, 9, 1677579871000)
2023-02-28 10:25:45,732 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677579744000}
2023-02-28 10:25:46,356 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:46,357 INFO sqlalchemy.engine.Engine [raw sql] (14, 14, 16, 1677579744000)
2023-02-28 10:25:46,783 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 11, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579775000}
2023-02-28 10:25:47,402 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:47,404 INFO sqlalchemy.engine.Engine [raw sql] (1, 20, 11, 1677579775000)
2023-02-28 10:25:47,829 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677579821000}
2023-02-28 10:25:48,354 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:48,356 INFO sqlalchemy.engine.Engine [raw sql] (23, 21, 9, 1677579821000)
2023-02-28 10:25:48,452 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579677000}
2023-02-28 10:25:48,972 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:48,974 INFO sqlalchemy.engine.Engine [raw sql] (106, 0, 40, 1677579677000)
2023-02-28 10:25:49,399 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579362000}
2023-02-28 10:25:49,930 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:49,932 INFO sqlalchemy.engine.Engine [raw sql] (112, 0, 30, 1677579362000)
2023-02-28 10:25:50,028 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677579862000}
2023-02-28 10:25:50,972 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:50,974 INFO sqlalchemy.engine.Engine [raw sql] (68, 40, 0, 1677579862000)
2023-02-28 10:25:51,072 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579593000}
2023-02-28 10:25:51,605 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:51,607 INFO sqlalchemy.engine.Engine [raw sql] (74, 2, 28, 1677579593000)
2023-02-28 10:25:52,027 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 38, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579334000}
2023-02-28 10:25:52,642 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:25:52,644 INFO sqlalchemy.engine.Engine [raw sql] (87, 0, 38, 1677579334000)
2023-02-28 10:25:52,875 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579884000}
2023-02-28 10:25:53,104 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:53,107 INFO sqlalchemy.engine.Engine [raw sql] (84, 0, 30, 1677579884000)
2023-02-28 10:25:53,596 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677579325000}
2023-02-28 10:25:54,134 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:54,145 INFO sqlalchemy.engine.Engine [raw sql] (90, 40, 0, 1677579325000)
2023-02-28 10:25:54,660 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579841000}
2023-02-28 10:25:55,172 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:55,175 INFO sqlalchemy.engine.Engine [raw sql] (11, 20, 10, 1677579841000)
2023-02-28 10:25:55,272 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677579785000}
2023-02-28 10:25:56,220 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:56,222 INFO sqlalchemy.engine.Engine [raw sql] (17, 5, 15, 1677579785000)
2023-02-28 10:25:56,321 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579605000}
2023-02-28 10:25:57,271 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:57,273 INFO sqlalchemy.engine.Engine [raw sql] (45, 11, 19, 1677579605000)
2023-02-28 10:25:57,369 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677579645000}
2023-02-28 10:25:58,320 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:58,322 INFO sqlalchemy.engine.Engine [raw sql] (114, 27, 13, 1677579645000)
2023-02-28 10:25:58,417 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 30, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579782000}
2023-02-28 10:25:59,368 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:25:59,370 INFO sqlalchemy.engine.Engine [raw sql] (72, 1, 30, 1677579782000)
2023-02-28 10:25:59,467 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 20, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579483000}
2023-02-28 10:26:00,507 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:00,509 INFO sqlalchemy.engine.Engine [raw sql] (63, 15, 20, 1677579483000)
2023-02-28 10:26:00,946 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677579382000}
2023-02-28 10:26:01,468 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:01,470 INFO sqlalchemy.engine.Engine [raw sql] (113, 16, 24, 1677579382000)
2023-02-28 10:26:01,566 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677579927000}
2023-02-28 10:26:02,519 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:02,521 INFO sqlalchemy.engine.Engine [raw sql] (91, 6, 23, 1677579927000)
2023-02-28 10:26:02,616 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 3, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677579899000}
2023-02-28 10:26:03,141 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:03,143 INFO sqlalchemy.engine.Engine [raw sql] (99, 27, 3, 1677579899000)
2023-02-28 10:26:03,566 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 20, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579385000}
2023-02-28 10:26:04,096 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:04,098 INFO sqlalchemy.engine.Engine [raw sql] (9, 4, 20, 1677579385000)
2023-02-28 10:26:04,201 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 9, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677579700000}
2023-02-28 10:26:04,711 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:04,712 INFO sqlalchemy.engine.Engine [raw sql] (67, 29, 9, 1677579700000)
2023-02-28 10:26:05,142 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579439000}
2023-02-28 10:26:05,671 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:05,673 INFO sqlalchemy.engine.Engine [raw sql] (116, 1, 29, 1677579439000)
2023-02-28 10:26:05,769 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 6, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677579797000}
2023-02-28 10:26:06,717 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:26:06,720 INFO sqlalchemy.engine.Engine [raw sql] (55, 28, 6, 1677579797000)
2023-02-28 10:26:06,816 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677579344000}
2023-02-28 10:26:07,338 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:07,341 INFO sqlalchemy.engine.Engine [raw sql] (62, 24, 16, 1677579344000)
2023-02-28 10:26:07,760 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579624000}
2023-02-28 10:26:08,285 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:08,288 INFO sqlalchemy.engine.Engine [raw sql] (5, 0, 40, 1677579624000)
2023-02-28 10:26:08,389 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677579839000}
2023-02-28 10:26:09,431 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:09,433 INFO sqlalchemy.engine.Engine [raw sql] (97, 3, 37, 1677579839000)
2023-02-28 10:26:09,859 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 20, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677579677000}
2023-02-28 10:26:10,389 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:10,391 INFO sqlalchemy.engine.Engine [raw sql] (61, 5, 20, 1677579677000)
2023-02-28 10:26:10,487 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 25, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579637000}
2023-02-28 10:26:11,004 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:11,007 INFO sqlalchemy.engine.Engine [raw sql] (77, 2, 25, 1677579637000)
2023-02-28 10:26:11,433 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579754000}
2023-02-28 10:26:11,957 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:11,959 INFO sqlalchemy.engine.Engine [raw sql] (4, 20, 0, 1677579754000)
2023-02-28 10:26:12,053 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 18, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677579903000}
2023-02-28 10:26:12,572 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:12,574 INFO sqlalchemy.engine.Engine [raw sql] (49, 22, 18, 1677579903000)
2023-02-28 10:26:13,002 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677579820000}
2023-02-28 10:26:13,622 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:13,624 INFO sqlalchemy.engine.Engine [raw sql] (19, 28, 0, 1677579820000)
2023-02-28 10:26:14,053 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579495000}
2023-02-28 10:26:14,579 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:14,582 INFO sqlalchemy.engine.Engine [raw sql] (7, 1, 28, 1677579495000)
2023-02-28 10:26:14,682 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579520000}
2023-02-28 10:26:15,195 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:15,197 INFO sqlalchemy.engine.Engine [raw sql] (60, 1, 29, 1677579520000)
2023-02-28 10:26:15,628 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579445000}
2023-02-28 10:26:16,153 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:16,154 INFO sqlalchemy.engine.Engine [raw sql] (102, 0, 40, 1677579445000)
2023-02-28 10:26:16,250 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677579642000}
2023-02-28 10:26:16,767 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:16,769 INFO sqlalchemy.engine.Engine [raw sql] (38, 23, 15, 1677579642000)
2023-02-28 10:26:17,201 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579862000}
2023-02-28 10:26:17,728 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:17,730 INFO sqlalchemy.engine.Engine [raw sql] (53, 20, 20, 1677579862000)
2023-02-28 10:26:17,830 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 2, 'available_bikes': 36, 'status': 'OPEN', 'last_update': 1677579794000}
2023-02-28 10:26:18,348 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:18,350 INFO sqlalchemy.engine.Engine [raw sql] (58, 36, 2, 1677579794000)
2023-02-28 10:26:18,776 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677579617000}
2023-02-28 10:26:19,298 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:26:19,300 INFO sqlalchemy.engine.Engine [raw sql] (66, 40, 0, 1677579617000)
2023-02-28 10:26:19,401 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579717000}
2023-02-28 10:26:20,371 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:20,373 INFO sqlalchemy.engine.Engine [raw sql] (104, 8, 32, 1677579717000)
2023-02-28 10:26:20,872 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579428000}
2023-02-28 10:26:21,397 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:21,400 INFO sqlalchemy.engine.Engine [raw sql] (101, 2, 28, 1677579428000)
2023-02-28 10:26:21,496 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579325000}
2023-02-28 10:26:22,023 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:22,026 INFO sqlalchemy.engine.Engine [raw sql] (115, 0, 29, 1677579325000)
2023-02-28 10:26:22,248 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677579515000}
2023-02-28 10:26:22,443 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:22,446 INFO sqlalchemy.engine.Engine [raw sql] (47, 16, 23, 1677579515000)
2023-02-28 10:26:22,545 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677579607000}
2023-02-28 10:26:22,868 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:22,870 INFO sqlalchemy.engine.Engine [raw sql] (117, 40, 0, 1677579607000)
2023-02-28 10:26:22,966 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579599000}
2023-02-28 10:26:23,297 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:23,300 INFO sqlalchemy.engine.Engine [raw sql] (8, 1, 29, 1677579599000)
2023-02-28 10:26:23,396 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579622000}
2023-02-28 10:26:24,015 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:24,017 INFO sqlalchemy.engine.Engine [raw sql] (27, 20, 0, 1677579622000)
2023-02-28 10:26:24,113 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579576000}
2023-02-28 10:26:24,634 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:24,636 INFO sqlalchemy.engine.Engine [raw sql] (16, 8, 12, 1677579576000)
2023-02-28 10:26:25,066 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579358000}
2023-02-28 10:26:25,393 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:25,394 INFO sqlalchemy.engine.Engine [raw sql] (96, 0, 30, 1677579358000)
2023-02-28 10:26:26,127 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 6, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579703000}
2023-02-28 10:26:26,640 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:26,641 INFO sqlalchemy.engine.Engine [raw sql] (82, 2, 6, 1677579703000)
2023-02-28 10:26:26,736 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 35, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677579760000}
2023-02-28 10:26:27,277 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:27,279 INFO sqlalchemy.engine.Engine [raw sql] (76, 3, 35, 1677579760000)
2023-02-28 10:26:27,685 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579830000}
2023-02-28 10:26:28,212 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:28,214 INFO sqlalchemy.engine.Engine [raw sql] (71, 2, 38, 1677579830000)
2023-02-28 10:26:28,309 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 15, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579688000}
2023-02-28 10:26:28,839 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:28,841 INFO sqlalchemy.engine.Engine [raw sql] (79, 11, 15, 1677579688000)
2023-02-28 10:26:30,310 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 2, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677579764000}
2023-02-28 10:26:30,844 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:30,846 INFO sqlalchemy.engine.Engine [raw sql] (69, 38, 2, 1677579764000)
2023-02-28 10:26:30,942 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677579737000}
2023-02-28 10:26:31,462 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:26:31,464 INFO sqlalchemy.engine.Engine [raw sql] (25, 13, 17, 1677579737000)
2023-02-28 10:26:31,888 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677579718000}
2023-02-28 10:26:32,413 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:32,414 INFO sqlalchemy.engine.Engine [raw sql] (51, 14, 26, 1677579718000)
2023-02-28 10:26:32,509 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677579612000}
2023-02-28 10:26:33,022 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:33,024 INFO sqlalchemy.engine.Engine [raw sql] (37, 9, 20, 1677579612000)
2023-02-28 10:26:33,452 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677579601000}
2023-02-28 10:26:33,975 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:33,978 INFO sqlalchemy.engine.Engine [raw sql] (59, 3, 17, 1677579601000)
2023-02-28 10:26:34,074 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677579902000}
2023-02-28 10:26:34,595 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:34,597 INFO sqlalchemy.engine.Engine [raw sql] (95, 18, 22, 1677579902000)
2023-02-28 10:26:35,027 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579746000}
2023-02-28 10:26:35,666 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:35,668 INFO sqlalchemy.engine.Engine [raw sql] (94, 0, 40, 1677579746000)
2023-02-28 10:26:36,075 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 25, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579560000}
2023-02-28 10:26:36,604 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:36,606 INFO sqlalchemy.engine.Engine [raw sql] (105, 11, 25, 1677579560000)
2023-02-28 10:26:36,703 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677579819000}
2023-02-28 10:26:37,234 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:37,236 INFO sqlalchemy.engine.Engine [raw sql] (36, 18, 22, 1677579819000)
2023-02-28 10:26:37,756 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579699000}
2023-02-28 10:26:38,275 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:38,278 INFO sqlalchemy.engine.Engine [raw sql] (93, 0, 40, 1677579699000)
2023-02-28 10:26:38,707 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579703000}
2023-02-28 10:26:39,229 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:39,231 INFO sqlalchemy.engine.Engine [raw sql] (22, 0, 19, 1677579703000)
2023-02-28 10:26:39,326 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677579785000}
2023-02-28 10:26:39,848 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:39,850 INFO sqlalchemy.engine.Engine [raw sql] (50, 18, 21, 1677579785000)
2023-02-28 10:26:40,278 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677579835000}
2023-02-28 10:26:40,893 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:40,895 INFO sqlalchemy.engine.Engine [raw sql] (110, 1, 39, 1677579835000)
2023-02-28 10:26:41,320 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579850000}
2023-02-28 10:26:41,844 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:41,846 INFO sqlalchemy.engine.Engine [raw sql] (12, 8, 12, 1677579850000)
2023-02-28 10:26:41,944 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 25, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677579917000}
2023-02-28 10:26:42,462 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:42,464 INFO sqlalchemy.engine.Engine [raw sql] (34, 5, 25, 1677579917000)
2023-02-28 10:26:42,891 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677579524000}
2023-02-28 10:26:43,422 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:43,424 INFO sqlalchemy.engine.Engine [raw sql] (78, 10, 28, 1677579524000)
2023-02-28 10:26:43,525 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579647000}
2023-02-28 10:26:44,467 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:26:44,470 INFO sqlalchemy.engine.Engine [raw sql] (2, 11, 9, 1677579647000)
2023-02-28 10:26:44,566 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579826000}
2023-02-28 10:26:45,091 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:45,093 INFO sqlalchemy.engine.Engine [raw sql] (75, 4, 36, 1677579826000)
2023-02-28 10:26:45,515 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-02-28 10:26:46,040 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:46,043 INFO sqlalchemy.engine.Engine [raw sql] (507, 1, 0, 1675786128000)
2023-02-28 10:26:46,139 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579675000}
2023-02-28 10:26:46,669 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:46,670 INFO sqlalchemy.engine.Engine [raw sql] (111, 0, 40, 1677579675000)
2023-02-28 10:26:47,178 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677579399000}
2023-02-28 10:26:48,145 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:48,147 INFO sqlalchemy.engine.Engine [raw sql] (26, 8, 12, 1677579399000)
2023-02-28 10:26:48,243 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677579735000}
2023-02-28 10:26:48,757 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:48,759 INFO sqlalchemy.engine.Engine [raw sql] (65, 25, 14, 1677579735000)
2023-02-28 10:26:49,184 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 12, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579516000}
2023-02-28 10:26:49,512 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:49,514 INFO sqlalchemy.engine.Engine [raw sql] (15, 0, 12, 1677579516000)
2023-02-28 10:26:49,614 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 38, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579917000}
2023-02-28 10:26:50,237 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:50,239 INFO sqlalchemy.engine.Engine [raw sql] (86, 0, 38, 1677579917000)
2023-02-28 10:26:50,756 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677579910000}
2023-02-28 10:26:51,290 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:51,292 INFO sqlalchemy.engine.Engine [raw sql] (35, 10, 19, 1677579910000)
2023-02-28 10:26:51,401 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 6, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677579555000}
2023-02-28 10:26:51,905 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:51,908 INFO sqlalchemy.engine.Engine [raw sql] (10, 10, 6, 1677579555000)
2023-02-28 10:26:52,334 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 25, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579428000}
2023-02-28 10:26:52,859 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:52,861 INFO sqlalchemy.engine.Engine [raw sql] (100, 0, 25, 1677579428000)
2023-02-28 10:26:52,959 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579412000}
2023-02-28 10:26:53,910 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:53,912 INFO sqlalchemy.engine.Engine [raw sql] (24, 20, 0, 1677579412000)
2023-02-28 10:26:54,013 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677579633000}
2023-02-28 10:26:54,960 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:54,967 INFO sqlalchemy.engine.Engine [raw sql] (64, 26, 14, 1677579633000)
2023-02-28 10:26:55,481 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 14, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579648000}
2023-02-28 10:26:56,001 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:56,003 INFO sqlalchemy.engine.Engine [raw sql] (109, 15, 14, 1677579648000)
2023-02-28 10:26:56,099 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579893000}
2023-02-28 10:26:56,564 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:56,566 INFO sqlalchemy.engine.Engine [raw sql] (85, 0, 35, 1677579893000)
2023-02-28 10:26:57,055 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 31, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677579844000}
2023-02-28 10:26:57,670 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:26:57,671 INFO sqlalchemy.engine.Engine [raw sql] (107, 9, 31, 1677579844000)
2023-02-28 10:26:58,100 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 2, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677579879000}
2023-02-28 10:26:58,630 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:58,632 INFO sqlalchemy.engine.Engine [raw sql] (33, 21, 2, 1677579879000)
2023-02-28 10:26:58,736 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579749000}
2023-02-28 10:26:59,249 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:26:59,252 INFO sqlalchemy.engine.Engine [raw sql] (44, 0, 30, 1677579749000)
2023-02-28 10:26:59,762 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 25, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677579368000}
2023-02-28 10:27:00,289 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:00,291 INFO sqlalchemy.engine.Engine [raw sql] (89, 15, 25, 1677579368000)
2023-02-28 10:27:00,722 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 0, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677579709000}
2023-02-28 10:27:01,254 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:01,256 INFO sqlalchemy.engine.Engine [raw sql] (57, 23, 0, 1677579709000)
2023-02-28 10:27:01,771 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677579870000}
2023-02-28 10:27:02,292 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:02,295 INFO sqlalchemy.engine.Engine [raw sql] (80, 11, 29, 1677579870000)
2023-02-28 10:27:02,391 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579652000}
2023-02-28 10:27:02,909 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:02,911 INFO sqlalchemy.engine.Engine [raw sql] (41, 0, 20, 1677579652000)
2023-02-28 10:27:03,374 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677579726000}
2023-02-28 10:27:03,958 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:03,959 INFO sqlalchemy.engine.Engine [raw sql] (3, 9, 11, 1677579726000)
2023-02-28 10:27:04,389 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 16, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677579571000}
2023-02-28 10:27:04,912 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:04,913 INFO sqlalchemy.engine.Engine [raw sql] (40, 5, 16, 1677579571000)
2023-02-28 10:27:05,008 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 17, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677579890000}
2023-02-28 10:27:05,535 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:05,538 INFO sqlalchemy.engine.Engine [raw sql] (29, 12, 17, 1677579890000)
2023-02-28 10:27:05,963 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677579511000}
2023-02-28 10:27:06,489 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:06,491 INFO sqlalchemy.engine.Engine [raw sql] (103, 20, 20, 1677579511000)
2023-02-28 10:27:06,595 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677579889000}
2023-02-28 10:27:07,531 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:07,532 INFO sqlalchemy.engine.Engine [raw sql] (28, 0, 30, 1677579889000)
2023-02-28 10:27:08,064 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579780000}
2023-02-28 10:27:08,591 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:08,593 INFO sqlalchemy.engine.Engine [raw sql] (39, 2, 18, 1677579780000)
2023-02-28 10:27:08,688 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677579824000}
2023-02-28 10:27:09,647 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:09,649 INFO sqlalchemy.engine.Engine [raw sql] (83, 4, 36, 1677579824000)
2023-02-28 10:27:10,160 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677579884000}
2023-02-28 10:27:10,687 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:10,688 INFO sqlalchemy.engine.Engine [raw sql] (92, 7, 33, 1677579884000)
2023-02-28 10:27:10,784 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677579786000}
2023-02-28 10:27:11,313 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-02-28 10:27:11,320 INFO sqlalchemy.engine.Engine [raw sql] (21, 9, 18, 1677579786000)
2023-02-28 10:27:11,731 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677579819000}
2023-02-28 10:27:12,126 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-02-28 10:27:12,127 INFO sqlalchemy.engine.Engine [raw sql] (88, 2, 27, 1677579819000)
2023-02-28 10:27:12,231 INFO sqlalchemy.engine.Engine COMMIT
<Response [200]> 2023-02-28 10:32:20.065905
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580162000}
2023-02-28 10:32:20,077 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-02-28 10:32:20,080 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1819, in _execute_context
    self.dialect.do_execute(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 732, in do_execute
    cursor.execute(statement, parameters)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/cursors.py", line 206, in execute
    res = self._query(query)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/cursors.py", line 319, in _query
    db.query(q)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 259, in query
    _mysql.connection.query(self, query)
MySQLdb._exceptions.OperationalError: (2013, 'Lost connection to MySQL server during query')

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3176, in execute
    return connection.execute(statement, *multiparams, **params)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1291, in execute
    return self._exec_driver_sql(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1595, in _exec_driver_sql
    ret = self._execute_context(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1862, in _execute_context
    self._handle_dbapi_exception(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2043, in _handle_dbapi_exception
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1819, in _execute_context
    self.dialect.do_execute(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 732, in do_execute
    cursor.execute(statement, parameters)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/cursors.py", line 206, in execute
    res = self._query(query)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/cursors.py", line 319, in _query
    db.query(q)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 259, in query
    _mysql.connection.query(self, query)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2013, 'Lost connection to MySQL server during query')
[SQL: insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)]
[parameters: ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:37:26.840772
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580162000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:38:42.447487
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580162000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:39:58.347498
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580162000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:41:13.897938
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580768000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:42:29.430457
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580768000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:43:44.991290
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580967000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:45:01.056804
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580967000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:46:16.581533
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580967000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:47:32.549552
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580967000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:48:48.622846
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580967000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:50:04.175432
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677580967000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:51:20.064121
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677581424000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:52:35.293200
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677581424000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 10:53:50.872591
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677581424000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:07:57.729826
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677582030000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:09:13.730503
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677582030000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:10:32.390916
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677582030000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:11:47.871689
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677582636000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:13:03.476869
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677582636000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:14:18.911351
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677582636000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:15:34.494330
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677582636000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:16:49.722968
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677582636000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:18:04.985879
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583044000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:19:20.607886

<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583044000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:20:36.368129
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583044000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:21:51.633746

<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583044000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:23:07.562136
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583044000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:24:23.636791
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677583377000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:25:39.562201
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677583377000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:26:55.510718
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677583377000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:28:10.962780
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677583377000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:29:26.280849
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677583377000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:30:42.221105
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583807000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:31:58.102699
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583807000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:33:13.788998
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583807000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:34:29.717630
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583807000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:35:45.139401
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583807000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:37:00.548438
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583807000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:38:16.317633
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583807000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:39:31.831838
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677583807000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:40:47.280942
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677584413000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:42:28.022800
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677584413000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:43:44.056021
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677584413000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:45:00.508667
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677584413000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:46:15.909374
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677584413000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:47:31.608396
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677584413000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:48:47.079235
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677584867000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:50:02.809884
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677584867000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:51:19.420756
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677584867000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:52:35.080975
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677584867000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:53:50.661834
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677584867000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 11:58:31.634658
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677585474000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 12:23:33.129165
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677586424000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 12:37:07.457280
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677587675000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 12:56:55.424507
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677588885000}
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 12:58:10.750931
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677588885000}

Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb._exceptions.OperationalError: (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 60, in main
    stations_to_db(r.text)
  File "/var/folders/fn/l9wg2z0s1_1050p97phv554r0000gn/T/ipykernel_17896/136742185.py", line 32, in stations_to_db
    engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
  File "<string>", line 2, in execute
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 402, in warned
    return fn(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3175, in execute
    connection = self.connect(close_with_result=True)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3234, in connect
    return self._connection_cls(self, close_with_result=close_with_result)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 96, in __init__
    else engine.raw_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3313, in raw_connection
    return self._wrap_pool_connect(self.pool.connect, _connection)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3283, in _wrap_pool_connect
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2117, in _handle_dbapi_exception_noconnection
    util.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3280, in _wrap_pool_connect
    return fn()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 310, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 868, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 481, in checkout
    rec._checkin_failed(err, _fairy_was_created=False)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 478, in checkout
    dbapi_connection = rec.get_connection()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 607, in get_connection
    self.__connect()
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 666, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 70, in __exit__
    compat.raise_(
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 661, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 590, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/__init__.py", line 130, in Connect
    return Connection(*args, **kwargs)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/MySQLdb/connections.py", line 185, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'dbikes.cznzccwi0urk.us-east-1.rds.amazonaws.com' (60)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<Response [200]> 2023-02-28 12:59:26.399356
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677588885000}

In [ ]:
#adding static station data to database
import requests 
import traceback
import datetime 
import time
import json

url = "https://api.jcdecaux.com/vls/v1/stations?contract=Dublin&apiKey=d56dfda32709850e6f9e533857176f085c22106e"
r = requests.get(url)
def write_to_file(text):
    now = datetime.datetime.now()
    with open(f"data/bikes_{now}".replace(" ", "_"), "w") as f:
        f.write(r.text)

def stations_to_db(text):
    
    stations = json.loads(text)
    print(type(stations), len(stations))
    for station in stations:
        print(station)
        vals = (
            station.get('address'),
            int(station.get('banking')),
            station.get('bike_stands'),
            int(station.get('bonus')),
            station.get('contract_name'),
            station.get('name'),
            station.get('number'),
            station.get('position').get('lat'),
            station.get('position').get('lng'),
            station.get('status')
        )

        engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
    return
stations_to_db(r.text)

<class 'list'> 115
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1678105776000}
2023-03-06 12:30:52,086 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:52,088 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-03-06 12:30:52,186 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105815000}
2023-03-06 12:30:52,380 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:52,382 INFO sqlalchemy.engine.Engine [raw sql] ('Parnell Square North', 0, 20, 0, 'dublin', 'PARNELL SQUARE NORTH', 30, 53.3537415547453, -6.26530144781526, 'OPEN')
2023-03-06 12:30:52,476 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 14, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1678105568000}
2023-03-06 12:30:52,668 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:52,670 INFO sqlalchemy.engine.Engine [raw sql] ('Clonmel Street', 0, 33, 0, 'dublin', 'CLONMEL STREET', 54, 53.336021, -6.26298, 'OPEN')
2023-03-06 12:30:52,764 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 18, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1678105556000}
2023-03-06 12:30:52,955 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:52,957 INFO sqlalchemy.engine.Engine [raw sql] ('Avondale Road', 0, 35, 0, 'dublin', 'AVONDALE ROAD', 108, 53.359405, -6.276142, 'OPEN')
2023-03-06 12:30:53,051 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 6, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1678105756000}
2023-03-06 12:30:53,245 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:53,246 INFO sqlalchemy.engine.Engine [raw sql] ('James Street East', 0, 30, 0, 'dublin', 'JAMES STREET EAST', 20, 53.336597, -6.248109, 'OPEN')
2023-03-06 12:30:53,341 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 9, 'available_bikes': 31, 'status': 'OPEN', 'last_update': 1678105612000}
2023-03-06 12:30:53,533 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:53,535 INFO sqlalchemy.engine.Engine [raw sql] ('Mount Street Lower', 0, 40, 0, 'dublin', 'MOUNT STREET LOWER', 56, 53.33796, -6.24153, 'OPEN')
2023-03-06 12:30:53,629 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105465000}
2023-03-06 12:30:53,820 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:53,823 INFO sqlalchemy.engine.Engine [raw sql] ('Christchurch Place', 0, 20, 0, 'dublin', 'CHRISTCHURCH PLACE', 6, 53.343368, -6.27012, 'OPEN')
2023-03-06 12:30:53,918 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105810000}
2023-03-06 12:30:54,110 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:54,112 INFO sqlalchemy.engine.Engine [raw sql] ('Grantham Street', 0, 30, 0, 'dublin', 'GRANTHAM STREET', 18, 53.334123, -6.265436, 'OPEN')
2023-03-06 12:30:54,206 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1678105773000}
2023-03-06 12:30:54,398 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:54,400 INFO sqlalchemy.engine.Engine [raw sql] ('Pearse Street', 0, 30, 0, 'dublin', 'PEARSE STREET', 32, 53.344304, -6.250427, 'OPEN')
2023-03-06 12:30:54,494 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 16, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1678105455000}
2023-03-06 12:30:54,688 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:54,690 INFO sqlalchemy.engine.Engine [raw sql] ('York Street East', 0, 32, 0, 'dublin', 'YORK STREET EAST', 52, 53.338755, -6.262003, 'OPEN')
2023-03-06 12:30:54,784 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1678105661000}
2023-03-06 12:30:54,975 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:54,977 INFO sqlalchemy.engine.Engine [raw sql] ('Excise Walk', 0, 40, 0, 'dublin', 'EXCISE WALK', 48, 53.347777, -6.244239, 'OPEN')
2023-03-06 12:30:55,072 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1678105370000}
2023-03-06 12:30:55,269 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:55,271 INFO sqlalchemy.engine.Engine [raw sql] ('Fitzwilliam Square West', 0, 30, 0, 'dublin', 'FITZWILLIAM SQUARE WEST', 13, 53.336074, -6.252825, 'OPEN')
2023-03-06 12:30:55,365 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105642000}
2023-03-06 12:30:55,556 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-06 12:30:55,559 INFO sqlalchemy.engine.Engine [raw sql] ('Portobello Road', 0, 30, 0, 'dublin', 'PORTOBELLO ROAD', 43, 53.330091, -6.268044, 'OPEN')
2023-03-06 12:30:55,655 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1678105534000}
2023-03-06 12:30:55,845 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:55,846 INFO sqlalchemy.engine.Engine [raw sql] ('Parnell Street', 0, 20, 0, 'dublin', 'PARNELL STREET', 31, 53.350929, -6.265125, 'OPEN')
2023-03-06 12:30:55,940 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1678105387000}
2023-03-06 12:30:56,129 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:56,131 INFO sqlalchemy.engine.Engine [raw sql] ('Frederick Street South', 0, 40, 0, 'dublin', 'FREDERICK STREET SOUTH', 98, 53.341515, -6.256853, 'OPEN')
2023-03-06 12:30:56,226 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 7, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1678105808000}
2023-03-06 12:30:56,423 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:56,425 INFO sqlalchemy.engine.Engine [raw sql] ('Fownes Street Upper', 0, 30, 0, 'dublin', 'FOWNES STREET UPPER', 14, 53.344603, -6.263371, 'OPEN')
2023-03-06 12:30:56,521 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 3, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1678105275000}
2023-03-06 12:30:56,714 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:56,715 INFO sqlalchemy.engine.Engine [raw sql] ('Clarendon Row', 0, 31, 0, 'dublin', 'CLARENDON ROW', 1, 53.340927, -6.262501, 'OPEN')
2023-03-06 12:30:56,810 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1678105405000}
2023-03-06 12:30:57,000 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:57,002 INFO sqlalchemy.engine.Engine [raw sql] ('Custom House', 0, 30, 0, 'dublin', 'CUSTOM HOUSE', 23, 53.348279, -6.254662, 'OPEN')
2023-03-06 12:30:57,095 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1678105494000}
2023-03-06 12:30:57,287 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:57,289 INFO sqlalchemy.engine.Engine [raw sql] ('Rathdown Road', 0, 40, 0, 'dublin', 'RATHDOWN ROAD', 106, 53.35893, -6.280337, 'OPEN')
2023-03-06 12:30:57,383 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678105350000}
2023-03-06 12:30:57,575 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:57,577 INFO sqlalchemy.engine.Engine [raw sql] ("North Circular Road (O'Connell's)", 0, 30, 0, 'dublin', "NORTH CIRCULAR ROAD (O'CONNELL'S)", 112, 53.357841, -6.251557, 'OPEN')
2023-03-06 12:30:57,671 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1678105643000}
2023-03-06 12:30:57,864 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:57,865 INFO sqlalchemy.engine.Engine [raw sql] ('Hanover Quay', 0, 40, 0, 'dublin', 'HANOVER QUAY', 68, 53.344115, -6.237153, 'OPEN')
2023-03-06 12:30:57,959 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1678105744000}
2023-03-06 12:30:58,151 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:58,153 INFO sqlalchemy.engine.Engine [raw sql] ('Oliver Bond Street', 0, 30, 0, 'dublin', 'OLIVER BOND STREET', 74, 53.343893, -6.280531, 'OPEN')
2023-03-06 12:30:58,248 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 36, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678105473000}
2023-03-06 12:30:58,441 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:58,443 INFO sqlalchemy.engine.Engine [raw sql] ('Collins Barracks Museum', 0, 38, 0, 'dublin', 'COLLINS BARRACKS MUSEUM', 87, 53.347477, -6.28525, 'OPEN')
2023-03-06 12:30:58,538 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 25, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1678105692000}
2023-03-06 12:30:58,729 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:58,732 INFO sqlalchemy.engine.Engine [raw sql] ('Brookfield Road', 0, 30, 0, 'dublin', 'BROOKFIELD ROAD', 84, 53.339005, -6.300217, 'OPEN')
2023-03-06 12:30:58,825 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1678105613000}
2023-03-06 12:30:59,016 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:59,018 INFO sqlalchemy.engine.Engine [raw sql] ('Benson Street', 0, 40, 0, 'dublin', 'BENSON STREET', 90, 53.344153, -6.233451, 'OPEN')
2023-03-06 12:30:59,112 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1678105509000}
2023-03-06 12:30:59,303 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-06 12:30:59,306 INFO sqlalchemy.engine.Engine [raw sql] ('Earlsfort Terrace', 0, 30, 0, 'dublin', 'EARLSFORT TERRACE', 11, 53.334295, -6.258503, 'OPEN')
2023-03-06 12:30:59,400 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678105309000}
2023-03-06 12:30:59,592 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:59,595 INFO sqlalchemy.engine.Engine [raw sql] ('Golden Lane', 0, 20, 0, 'dublin', 'GOLDEN LANE', 17, 53.340803, -6.267732, 'OPEN')
2023-03-06 12:30:59,690 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1678105595000}
2023-03-06 12:30:59,884 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:30:59,886 INFO sqlalchemy.engine.Engine [raw sql] ('Deverell Place', 0, 30, 0, 'dublin', 'DEVERELL PLACE', 45, 53.351464, -6.255265, 'OPEN')
2023-03-06 12:30:59,978 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 3, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1678105349000}
2023-03-06 12:31:00,318 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:00,319 INFO sqlalchemy.engine.Engine [raw sql] ('Wilton Terrace (Park)', 0, 40, 0, 'dublin', 'WILTON TERRACE (PARK)', 114, 53.333653, -6.248345, 'OPEN')
2023-03-06 12:31:00,412 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 29, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678105495000}
2023-03-06 12:31:00,602 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:00,604 INFO sqlalchemy.engine.Engine [raw sql] ('John Street West', 0, 31, 0, 'dublin', 'JOHN STREET WEST', 72, 53.343105, -6.277167, 'OPEN')
2023-03-06 12:31:00,697 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 5, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1678105670000}
2023-03-06 12:31:00,886 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:00,888 INFO sqlalchemy.engine.Engine [raw sql] ('Fenian Street', 0, 35, 0, 'dublin', 'FENIAN STREET', 63, 53.341428, -6.24672, 'OPEN')
2023-03-06 12:31:00,981 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1678105549000}
2023-03-06 12:31:01,172 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:01,173 INFO sqlalchemy.engine.Engine [raw sql] ('Merrion Square South', 0, 40, 0, 'dublin', 'MERRION SQUARE SOUTH', 113, 53.338614, -6.248606, 'OPEN')
2023-03-06 12:31:01,267 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1678105791000}
2023-03-06 12:31:01,459 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:01,462 INFO sqlalchemy.engine.Engine [raw sql] ('South Dock Road', 0, 30, 0, 'dublin', 'SOUTH DOCK ROAD', 91, 53.341833, -6.231291, 'OPEN')
2023-03-06 12:31:01,556 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1678105495000}
2023-03-06 12:31:01,754 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:01,756 INFO sqlalchemy.engine.Engine [raw sql] ('City Quay', 0, 30, 0, 'dublin', 'CITY QUAY', 99, 53.346637, -6.246154, 'OPEN')
2023-03-06 12:31:01,850 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 18, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1678105709000}
2023-03-06 12:31:02,042 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:02,044 INFO sqlalchemy.engine.Engine [raw sql] ('Exchequer Street', 0, 24, 0, 'dublin', 'EXCHEQUER STREET', 9, 53.343034, -6.263578, 'OPEN')
2023-03-06 12:31:02,142 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1678105814000}
2023-03-06 12:31:02,333 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:02,334 INFO sqlalchemy.engine.Engine [raw sql] ('The Point', 0, 40, 0, 'dublin', 'THE POINT', 67, 53.346867, -6.230852, 'OPEN')
2023-03-06 12:31:02,427 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105824000}
2023-03-06 12:31:02,621 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:02,624 INFO sqlalchemy.engine.Engine [raw sql] ('Broadstone', 0, 30, 0, 'dublin', 'BROADSTONE', 116, 53.3547, -6.272314, 'OPEN')
2023-03-06 12:31:02,718 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 25, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1678105557000}
2023-03-06 12:31:02,917 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:02,919 INFO sqlalchemy.engine.Engine [raw sql] ('Hatch Street', 0, 36, 0, 'dublin', 'HATCH STREET', 55, 53.33403, -6.260714, 'OPEN')
2023-03-06 12:31:03,011 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1678105402000}
2023-03-06 12:31:03,206 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-06 12:31:03,208 INFO sqlalchemy.engine.Engine [raw sql] ('Lime Street', 0, 40, 0, 'dublin', 'LIME STREET', 62, 53.346026, -6.243576, 'OPEN')
2023-03-06 12:31:03,314 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1678105686000}
2023-03-06 12:31:03,509 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:03,511 INFO sqlalchemy.engine.Engine [raw sql] ('Charlemont Street', 0, 40, 0, 'dublin', 'CHARLEMONT PLACE', 5, 53.330662, -6.260177, 'OPEN')
2023-03-06 12:31:03,605 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1678105442000}
2023-03-06 12:31:03,796 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:03,799 INFO sqlalchemy.engine.Engine [raw sql] ('Kilmainham Gaol', 0, 40, 0, 'dublin', 'KILMAINHAM GAOL', 97, 53.342113, -6.310015, 'OPEN')
2023-03-06 12:31:03,895 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 25, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105521000}
2023-03-06 12:31:04,086 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:04,088 INFO sqlalchemy.engine.Engine [raw sql] ('Hardwicke Place', 0, 25, 0, 'dublin', 'HARDWICKE PLACE', 61, 53.357043, -6.263232, 'OPEN')
2023-03-06 12:31:04,184 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 26, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1678105823000}
2023-03-06 12:31:04,374 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:04,376 INFO sqlalchemy.engine.Engine [raw sql] ('Wolfe Tone Street', 0, 29, 0, 'dublin', 'WOLFE TONE STREET', 77, 53.348875, -6.267459, 'OPEN')
2023-03-06 12:31:04,471 INFO sqlalchemy.engine.Engine COMMIT
{'number': 73, 'contract_name': 'dublin', 'name': 'FRANCIS STREET', 'address': 'Francis Street', 'position': {'lat': 53.342081, 'lng': -6.275233}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105357000}
2023-03-06 12:31:04,661 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:04,662 INFO sqlalchemy.engine.Engine [raw sql] ('Francis Street', 0, 30, 0, 'dublin', 'FRANCIS STREET', 73, 53.342081, -6.275233, 'OPEN')
2023-03-06 12:31:04,755 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 5, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1678105331000}
2023-03-06 12:31:04,948 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:04,949 INFO sqlalchemy.engine.Engine [raw sql] ('Greek Street', 0, 20, 0, 'dublin', 'GREEK STREET', 4, 53.346874, -6.272976, 'OPEN')
2023-03-06 12:31:05,045 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1678105579000}
2023-03-06 12:31:05,242 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:05,243 INFO sqlalchemy.engine.Engine [raw sql] ('Guild Street', 0, 40, 0, 'dublin', 'GUILD STREET', 49, 53.347932, -6.240928, 'OPEN')
2023-03-06 12:31:05,342 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1678105789000}
2023-03-06 12:31:05,547 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:05,549 INFO sqlalchemy.engine.Engine [raw sql] ('Herbert Place', 0, 30, 0, 'dublin', 'HERBERT PLACE', 19, 53.334432, -6.245575, 'OPEN')
2023-03-06 12:31:05,643 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678105498000}
2023-03-06 12:31:05,852 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:05,854 INFO sqlalchemy.engine.Engine [raw sql] ('High Street', 0, 29, 0, 'dublin', 'HIGH STREET', 7, 53.343565, -6.275071, 'OPEN')
2023-03-06 12:31:05,953 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1678105405000}
2023-03-06 12:31:06,153 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:06,156 INFO sqlalchemy.engine.Engine [raw sql] ('North Circular Road', 0, 30, 0, 'dublin', 'NORTH CIRCULAR ROAD', 60, 53.359624, -6.260348, 'OPEN')
2023-03-06 12:31:06,253 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105827000}
2023-03-06 12:31:06,444 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:06,446 INFO sqlalchemy.engine.Engine [raw sql] ('Western Way', 0, 40, 0, 'dublin', 'WESTERN WAY', 102, 53.354929, -6.269425, 'OPEN')
2023-03-06 12:31:06,540 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1678105551000}
2023-03-06 12:31:06,730 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:06,732 INFO sqlalchemy.engine.Engine [raw sql] ('Talbot Street', 0, 40, 0, 'dublin', 'TALBOT STREET', 38, 53.350974, -6.25294, 'OPEN')
2023-03-06 12:31:06,825 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1678105650000}
2023-03-06 12:31:07,018 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-06 12:31:07,021 INFO sqlalchemy.engine.Engine [raw sql] ('Newman House', 0, 40, 0, 'dublin', 'NEWMAN HOUSE', 53, 53.337132, -6.26059, 'OPEN')
2023-03-06 12:31:07,114 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 8, 'available_bikes': 31, 'status': 'OPEN', 'last_update': 1678105714000}
2023-03-06 12:31:07,308 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:07,310 INFO sqlalchemy.engine.Engine [raw sql] ("Sir Patrick's Dun", 0, 40, 0, 'dublin', "SIR PATRICK DUN'S", 58, 53.339218, -6.240642, 'OPEN')
2023-03-06 12:31:07,404 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 9, 'available_bikes': 31, 'status': 'OPEN', 'last_update': 1678105284000}
2023-03-06 12:31:07,595 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:07,598 INFO sqlalchemy.engine.Engine [raw sql] ('New Central Bank', 0, 40, 0, 'dublin', 'NEW CENTRAL BANK', 66, 53.347122, -6.234749, 'OPEN')
2023-03-06 12:31:07,691 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105746000}
2023-03-06 12:31:07,882 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:07,883 INFO sqlalchemy.engine.Engine [raw sql] ('Grangegorman Lower (Central)', 0, 40, 0, 'dublin', 'GRANGEGORMAN LOWER (CENTRAL)', 104, 53.355173, -6.278424, 'OPEN')
2023-03-06 12:31:07,976 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1678105741000}
2023-03-06 12:31:08,171 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:08,174 INFO sqlalchemy.engine.Engine [raw sql] ('King Street North', 0, 30, 0, 'dublin', 'KING STREET NORTH', 101, 53.350291, -6.273507, 'OPEN')
2023-03-06 12:31:08,280 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1678105260000}
2023-03-06 12:31:08,476 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:08,478 INFO sqlalchemy.engine.Engine [raw sql] ('Killarney Street', 0, 30, 0, 'dublin', 'KILLARNEY STREET', 115, 53.354845, -6.247579, 'OPEN')
2023-03-06 12:31:08,572 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 12, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1678105369000}
2023-03-06 12:31:08,774 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:08,776 INFO sqlalchemy.engine.Engine [raw sql] ('Herbert Street', 0, 40, 0, 'dublin', 'HERBERT STREET', 47, 53.335742, -6.24551, 'OPEN')
2023-03-06 12:31:08,871 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1678105687000}
2023-03-06 12:31:09,062 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:09,064 INFO sqlalchemy.engine.Engine [raw sql] ('Hanover Quay East', 0, 40, 0, 'dublin', 'HANOVER QUAY EAST', 117, 53.343653, -6.231755, 'OPEN')
2023-03-06 12:31:09,158 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1678105600000}
2023-03-06 12:31:09,350 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:09,351 INFO sqlalchemy.engine.Engine [raw sql] ('Custom House Quay', 0, 30, 0, 'dublin', 'CUSTOM HOUSE QUAY', 8, 53.347884, -6.248048, 'OPEN')
2023-03-06 12:31:09,443 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 6, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1678105691000}
2023-03-06 12:31:09,635 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:09,638 INFO sqlalchemy.engine.Engine [raw sql] ('Molesworth Street', 0, 20, 0, 'dublin', 'MOLESWORTH STREET', 27, 53.341288, -6.258117, 'OPEN')
2023-03-06 12:31:09,733 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 6, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1678105531000}
2023-03-06 12:31:09,954 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:09,956 INFO sqlalchemy.engine.Engine [raw sql] ('Georges Quay', 0, 20, 0, 'dublin', 'GEORGES QUAY', 16, 53.347508, -6.252192, 'OPEN')
2023-03-06 12:31:10,051 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105841000}
2023-03-06 12:31:10,248 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:10,251 INFO sqlalchemy.engine.Engine [raw sql] ('Kilmainham Lane', 0, 30, 0, 'dublin', 'KILMAINHAM LANE', 96, 53.341805, -6.305085, 'OPEN')
2023-03-06 12:31:10,349 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 7, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678105268000}
2023-03-06 12:31:10,567 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:10,569 INFO sqlalchemy.engine.Engine [raw sql] ('Mount Brown', 0, 22, 0, 'dublin', 'MOUNT BROWN', 82, 53.341645, -6.29719, 'OPEN')
2023-03-06 12:31:10,667 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 20, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1678105688000}
2023-03-06 12:31:10,870 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-06 12:31:10,872 INFO sqlalchemy.engine.Engine [raw sql] ('Market Street South', 0, 38, 0, 'dublin', 'MARKET STREET SOUTH', 76, 53.342296, -6.287661, 'OPEN')
2023-03-06 12:31:10,972 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1678105493000}
2023-03-06 12:31:11,169 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:11,172 INFO sqlalchemy.engine.Engine [raw sql] ('Kevin Street', 0, 40, 0, 'dublin', 'KEVIN STREET', 71, 53.337757, -6.267699, 'OPEN')
2023-03-06 12:31:11,270 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 26, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678105252000}
2023-03-06 12:31:11,469 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:11,471 INFO sqlalchemy.engine.Engine [raw sql] ('Eccles Street East', 0, 27, 0, 'dublin', 'ECCLES STREET EAST', 79, 53.358115, -6.265601, 'OPEN')
2023-03-06 12:31:11,566 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 4, 'available_bikes': 35, 'status': 'OPEN', 'last_update': 1678105685000}
2023-03-06 12:31:11,760 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:11,762 INFO sqlalchemy.engine.Engine [raw sql] ('Grand Canal Dock', 0, 40, 0, 'dublin', 'GRAND CANAL DOCK', 69, 53.342638, -6.238695, 'OPEN')
2023-03-06 12:31:11,858 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1678105246000}
2023-03-06 12:31:12,054 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:12,057 INFO sqlalchemy.engine.Engine [raw sql] ('Merrion Square East', 0, 30, 0, 'dublin', 'MERRION SQUARE EAST', 25, 53.339434, -6.246548, 'OPEN')
2023-03-06 12:31:12,156 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1678105355000}
2023-03-06 12:31:12,347 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:12,349 INFO sqlalchemy.engine.Engine [raw sql] ('York Street West', 0, 40, 0, 'dublin', 'YORK STREET WEST', 51, 53.339334, -6.264699, 'OPEN')
2023-03-06 12:31:12,444 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1678105507000}
2023-03-06 12:31:12,636 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:12,639 INFO sqlalchemy.engine.Engine [raw sql] ("St. Stephen's Green South", 1, 30, 0, 'dublin', "ST. STEPHEN'S GREEN SOUTH", 37, 53.337494, -6.26199, 'OPEN')
2023-03-06 12:31:12,735 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105622000}
2023-03-06 12:31:12,946 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:12,947 INFO sqlalchemy.engine.Engine [raw sql] ('Denmark Street Great', 0, 20, 0, 'dublin', 'DENMARK STREET GREAT', 59, 53.35561, -6.261397, 'OPEN')
2023-03-06 12:31:13,042 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105410000}
2023-03-06 12:31:13,297 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:13,299 INFO sqlalchemy.engine.Engine [raw sql] ('Royal Hospital', 0, 40, 0, 'dublin', 'ROYAL HOSPITAL', 95, 53.343897, -6.29706, 'OPEN')
2023-03-06 12:31:13,573 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1678105832000}
2023-03-06 12:31:14,031 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:14,034 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Station (Car Park)', 0, 40, 0, 'dublin', 'HEUSTON STATION (CAR PARK)', 94, 53.346985, -6.297804, 'OPEN')
2023-03-06 12:31:14,205 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 31, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1678105843000}
2023-03-06 12:31:14,497 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:14,499 INFO sqlalchemy.engine.Engine [raw sql] ('Grangegorman Lower (North)', 0, 36, 0, 'dublin', 'GRANGEGORMAN LOWER (NORTH)', 105, 53.355954, -6.278378, 'OPEN')
2023-03-06 12:31:14,671 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 7, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1678105567000}
2023-03-06 12:31:15,027 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:15,029 INFO sqlalchemy.engine.Engine [raw sql] ("St. Stephen's Green East", 0, 40, 0, 'dublin', "ST. STEPHEN'S GREEN EAST", 36, 53.337824, -6.256035, 'OPEN')
2023-03-06 12:31:15,205 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1678105532000}
2023-03-06 12:31:15,552 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:15,554 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Station (Central)', 0, 40, 0, 'dublin', 'HEUSTON STATION (CENTRAL)', 93, 53.346603, -6.296924, 'OPEN')
2023-03-06 12:31:15,734 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1678105281000}
2023-03-06 12:31:16,005 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-06 12:31:16,006 INFO sqlalchemy.engine.Engine [raw sql] ('Townsend Street', 0, 20, 0, 'dublin', 'TOWNSEND STREET', 22, 53.345922, -6.254614, 'OPEN')
2023-03-06 12:31:16,099 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678105594000}
2023-03-06 12:31:16,291 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:16,293 INFO sqlalchemy.engine.Engine [raw sql] ("George's Lane", 0, 40, 0, 'dublin', 'GEORGES LANE', 50, 53.35023, -6.279696, 'OPEN')
2023-03-06 12:31:16,386 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105623000}
2023-03-06 12:31:16,576 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:16,578 INFO sqlalchemy.engine.Engine [raw sql] ('Phibsborough Road', 0, 40, 0, 'dublin', 'PHIBSBOROUGH ROAD', 110, 53.356307, -6.273717, 'OPEN')
2023-03-06 12:31:16,671 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1678105302000}
2023-03-06 12:31:16,859 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:16,861 INFO sqlalchemy.engine.Engine [raw sql] ('Eccles Street', 0, 20, 0, 'dublin', 'ECCLES STREET', 12, 53.359246, -6.269779, 'OPEN')
2023-03-06 12:31:16,955 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1678105741000}
2023-03-06 12:31:17,148 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:17,150 INFO sqlalchemy.engine.Engine [raw sql] ('Portobello Harbour', 0, 30, 0, 'dublin', 'PORTOBELLO HARBOUR', 34, 53.330362, -6.265163, 'OPEN')
2023-03-06 12:31:17,243 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678105534000}
2023-03-06 12:31:17,434 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:17,436 INFO sqlalchemy.engine.Engine [raw sql] ('Mater Hospital', 0, 40, 0, 'dublin', 'MATER HOSPITAL', 78, 53.359967, -6.264828, 'OPEN')
2023-03-06 12:31:17,529 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105349000}
2023-03-06 12:31:17,719 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:17,721 INFO sqlalchemy.engine.Engine [raw sql] ('Blessington Street', 0, 20, 0, 'dublin', 'BLESSINGTON STREET', 2, 53.356769, -6.26814, 'OPEN')
2023-03-06 12:31:17,816 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 12, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1678105835000}
2023-03-06 12:31:18,013 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:18,014 INFO sqlalchemy.engine.Engine [raw sql] ('James Street', 0, 40, 0, 'dublin', 'JAMES STREET', 75, 53.343456, -6.287409, 'OPEN')
2023-03-06 12:31:18,128 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-03-06 12:31:18,317 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:18,319 INFO sqlalchemy.engine.Engine [raw sql] ('JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 0, 1, 0, 'dublin', 'ORIEL STREET TEST TERMINAL', 507, 53.35463, -6.242615, 'OPEN')
2023-03-06 12:31:18,413 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678105545000}
2023-03-06 12:31:18,607 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:18,610 INFO sqlalchemy.engine.Engine [raw sql] ('Mountjoy Square East', 0, 40, 0, 'dublin', 'MOUNTJOY SQUARE EAST', 111, 53.356717, -6.256359, 'OPEN')
2023-03-06 12:31:18,704 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1678105529000}
2023-03-06 12:31:18,896 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:18,898 INFO sqlalchemy.engine.Engine [raw sql] ('Merrion Square West', 1, 20, 0, 'dublin', 'MERRION SQUARE WEST', 26, 53.339764, -6.251988, 'OPEN')
2023-03-06 12:31:18,992 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 11, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1678105667000}
2023-03-06 12:31:19,205 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:31:19,207 INFO sqlalchemy.engine.Engine [raw sql] ('Convention Centre', 1, 40, 0, 'dublin', 'CONVENTION CENTRE', 65, 53.34744, -6.238523, 'OPEN')
2023-03-06 12:31:19,308 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 13, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105259000}
2023-03-06 12:32:37,445 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:32:37,447 INFO sqlalchemy.engine.Engine [raw sql] ('Hardwicke Street', 0, 16, 0, 'dublin', 'HARDWICKE STREET', 15, 53.355473, -6.264423, 'OPEN')
2023-03-06 12:32:37,541 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 37, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678105652000}
2023-03-06 12:32:37,730 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-06 12:32:37,733 INFO sqlalchemy.engine.Engine [raw sql] ('Parkgate Street', 0, 38, 0, 'dublin', 'PARKGATE STREET', 86, 53.347972, -6.291804, 'OPEN')
2023-03-06 12:32:37,826 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1678105334000}
2023-03-06 12:32:38,018 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:32:38,020 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield', 0, 30, 0, 'dublin', 'SMITHFIELD', 35, 53.347692, -6.278214, 'OPEN')
2023-03-06 12:32:38,114 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 15, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678105636000}
2023-03-06 12:32:38,307 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:32:38,310 INFO sqlalchemy.engine.Engine [raw sql] ('Dame Street', 1, 16, 0, 'dublin', 'DAME STREET', 10, 53.344007, -6.266802, 'OPEN')
2023-03-06 12:32:38,404 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 25, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678105780000}
2023-03-06 12:32:38,595 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:32:38,598 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Bridge (South)', 0, 25, 0, 'dublin', 'HEUSTON BRIDGE (SOUTH)', 100, 53.347106, -6.292041, 'OPEN')
2023-03-06 12:32:38,692 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 10, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1678105405000}
2023-03-06 12:32:38,883 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:32:38,886 INFO sqlalchemy.engine.Engine [raw sql] ('Cathal Brugha Street', 0, 20, 0, 'dublin', 'CATHAL BRUGHA STREET', 24, 53.352149, -6.260533, 'OPEN')
2023-03-06 12:32:38,980 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 4, 'available_bikes': 35, 'status': 'OPEN', 'last_update': 1678105649000}
2023-03-06 12:32:39,172 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:32:39,174 INFO sqlalchemy.engine.Engine [raw sql] ('Sandwith Street', 0, 40, 0, 'dublin', 'SANDWITH STREET', 64, 53.345203, -6.247163, 'OPEN')
2023-03-06 12:32:39,268 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 7, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1678105782000}
2023-03-06 12:32:39,458 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:32:39,461 INFO sqlalchemy.engine.Engine [raw sql] ('Buckingham Street Lower', 0, 29, 0, 'dublin', 'BUCKINGHAM STREET LOWER', 109, 53.353331, -6.249319, 'OPEN')
2023-03-06 12:32:39,554 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 33, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678105764000}
2023-03-06 12:32:39,770 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-06 12:32:39,771 INFO sqlalchemy.engine.Engine [raw sql] ('Rothe Abbey', 0, 35, 0, 'dublin', 'ROTHE ABBEY', 85, 53.338776, -6.30395, 'OPEN')

In [ ]:
sql = "select * from dbikes.station limit 10"
for row in engine.execute(sql):
    print(row)

In [41]:
#adding avaiability data to database
url = "https://api.jcdecaux.com/vls/v1/stations?contract=Dublin&apiKey=d56dfda32709850e6f9e533857176f085c22106e"
r = requests.get(url)
def write_to_file(text):
    now = datetime.datetime.now()
    with open(f"data/bikes_{now}".replace(" ", "_"), "w") as f:
        f.write(r.text)
        
def availability_to_db(text):
    availability = json.loads(text)
    print(type(availability), len(availability))
    for available in availability:
        print(available)
        vals = (
            available.get("number"),
            available.get("available_bikes"),
            available.get("available_bike_stands"),
            available.get("last_update"))
 

        engine.execute("insert into availability values (%s, %s, %s, %s)", vals)
        
    return
availability_to_db(r.text)

2023-03-04 12:06:45,444 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:45,446 INFO sqlalchemy.engine.Engine [raw sql] (29, 1, 1677931475000, 42)
2023-03-04 12:06:45,699 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:45,957 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:45,960 INFO sqlalchemy.engine.Engine [raw sql] (7, 13, 1677931133000, 30)
2023-03-04 12:06:46,124 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:46,482 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:46,484 INFO sqlalchemy.engine.Engine [raw sql] (7, 26, 1677931382000, 54)
2023-03-04 12:06:46,743 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:46,989 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:46,991 INFO sqlalchemy.engine.Engine [raw sql] (15, 20, 1677931279000, 108)
2023-03-04 12:06:47,139 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:47,390 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:47,393 INFO sqlalchemy.engine.Engine [raw sql] (6, 24, 1677931305000, 20)
2023-03-04 12:06:47,528 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:47,912 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:47,914 INFO sqlalchemy.engine.Engine [raw sql] (6, 34, 1677931515000, 56)
2023-03-04 12:06:48,318 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:48,564 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:48,566 INFO sqlalchemy.engine.Engine [raw sql] (5, 15, 1677931517000, 6)
2023-03-04 12:06:48,842 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:49,088 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:49,091 INFO sqlalchemy.engine.Engine [raw sql] (12, 18, 1677931191000, 18)
2023-03-04 12:06:49,236 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:49,563 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:49,566 INFO sqlalchemy.engine.Engine [raw sql] (14, 16, 1677931439000, 32)
2023-03-04 12:06:49,703 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:50,429 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:50,430 INFO sqlalchemy.engine.Engine [raw sql] (10, 22, 1677931442000, 52)
2023-03-04 12:06:50,567 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:50,939 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:50,940 INFO sqlalchemy.engine.Engine [raw sql] (2, 38, 1677931210000, 48)
2023-03-04 12:06:51,077 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:51,333 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:51,336 INFO sqlalchemy.engine.Engine [raw sql] (4, 26, 1677931324000, 13)
2023-03-04 12:06:51,472 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:51,716 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:51,719 INFO sqlalchemy.engine.Engine [raw sql] (17, 13, 1677931529000, 43)
2023-03-04 12:06:51,999 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:52,249 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:52,251 INFO sqlalchemy.engine.Engine [raw sql] (16, 4, 1677931117000, 31)
2023-03-04 12:06:52,412 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:52,656 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:52,659 INFO sqlalchemy.engine.Engine [raw sql] (12, 28, 1677931070000, 98)
2023-03-04 12:06:52,802 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:53,156 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:53,158 INFO sqlalchemy.engine.Engine [raw sql] (21, 9, 1677931432000, 14)
2023-03-04 12:06:53,315 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:53,562 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:53,565 INFO sqlalchemy.engine.Engine [raw sql] (12, 19, 1677931487000, 1)
2023-03-04 12:06:53,724 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:54,087 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:54,089 INFO sqlalchemy.engine.Engine [raw sql] (20, 10, 1677931333000, 23)
2023-03-04 12:06:54,233 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:54,479 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:54,482 INFO sqlalchemy.engine.Engine [raw sql] (25, 15, 1677931381000, 106)
2023-03-04 12:06:54,617 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:54,867 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:54,870 INFO sqlalchemy.engine.Engine [raw sql] (11, 19, 1677931365000, 112)
2023-03-04 12:06:55,132 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:55,376 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:55,378 INFO sqlalchemy.engine.Engine [raw sql] (13, 27, 1677931302000, 68)
2023-03-04 12:06:55,528 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:55,775 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:55,778 INFO sqlalchemy.engine.Engine [raw sql] (3, 27, 1677931013000, 74)
2023-03-04 12:06:55,914 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:56,302 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:56,305 INFO sqlalchemy.engine.Engine [raw sql] (9, 29, 1677931390000, 87)
2023-03-04 12:06:56,443 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:56,707 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:56,709 INFO sqlalchemy.engine.Engine [raw sql] (17, 13, 1677931483000, 84)
2023-03-04 12:06:56,844 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:57,237 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:57,239 INFO sqlalchemy.engine.Engine [raw sql] (3, 37, 1677931120000, 90)
2023-03-04 12:06:57,409 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:57,757 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:57,759 INFO sqlalchemy.engine.Engine [raw sql] (8, 22, 1677931306000, 11)
2023-03-04 12:06:57,893 INFO sqlalchemy.engine.Engine COMMIT

2023-03-04 12:06:58,281 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:58,284 INFO sqlalchemy.engine.Engine [raw sql] (2, 18, 1677931291000, 17)
2023-03-04 12:06:58,436 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:59,001 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:59,003 INFO sqlalchemy.engine.Engine [raw sql] (9, 21, 1677931103000, 45)
2023-03-04 12:06:59,161 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:59,561 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:59,563 INFO sqlalchemy.engine.Engine [raw sql] (9, 31, 1677931276000, 114)
2023-03-04 12:06:59,724 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:06:59,968 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:06:59,970 INFO sqlalchemy.engine.Engine [raw sql] (3, 28, 1677931337000, 72)
2023-03-04 12:07:00,428 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:00,769 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:00,771 INFO sqlalchemy.engine.Engine [raw sql] (8, 27, 1677931359000, 63)
2023-03-04 12:07:00,907 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:01,150 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:01,153 INFO sqlalchemy.engine.Engine [raw sql] (2, 38, 1677931191000, 113)
2023-03-04 12:07:01,426 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:01,667 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:01,669 INFO sqlalchemy.engine.Engine [raw sql] (28, 2, 1677931309000, 91)
2023-03-04 12:07:01,820 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:02,069 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:02,072 INFO sqlalchemy.engine.Engine [raw sql] (1, 29, 1677931125000, 99)
2023-03-04 12:07:02,225 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:02,593 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:02,595 INFO sqlalchemy.engine.Engine [raw sql] (20, 4, 1677931277000, 9)
2023-03-04 12:07:02,735 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:03,000 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:03,003 INFO sqlalchemy.engine.Engine [raw sql] (0, 40, 1677931184000, 67)
2023-03-04 12:07:03,161 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:03,524 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:03,525 INFO sqlalchemy.engine.Engine [raw sql] (3, 27, 1677931487000, 116)
2023-03-04 12:07:03,704 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:04,048 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:04,051 INFO sqlalchemy.engine.Engine [raw sql] (2, 34, 1677931426000, 55)
2023-03-04 12:07:04,186 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:04,572 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:04,575 INFO sqlalchemy.engine.Engine [raw sql] (5, 35, 1677931137000, 62)
2023-03-04 12:07:04,711 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:04,963 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:04,966 INFO sqlalchemy.engine.Engine [raw sql] (24, 16, 1677931183000, 5)
2023-03-04 12:07:05,134 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:05,400 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:05,403 INFO sqlalchemy.engine.Engine [raw sql] (21, 19, 1677931528000, 97)
2023-03-04 12:07:05,620 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:05,870 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:05,872 INFO sqlalchemy.engine.Engine [raw sql] (5, 20, 1677931338000, 61)
2023-03-04 12:07:06,015 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:06,280 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:06,281 INFO sqlalchemy.engine.Engine [raw sql] (11, 18, 1677930941000, 77)
2023-03-04 12:07:06,420 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:06,790 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:06,791 INFO sqlalchemy.engine.Engine [raw sql] (3, 27, 1677931426000, 73)
2023-03-04 12:07:06,933 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:07,193 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:07,194 INFO sqlalchemy.engine.Engine [raw sql] (12, 8, 1677931443000, 4)
2023-03-04 12:07:07,346 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:07,916 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:07,918 INFO sqlalchemy.engine.Engine [raw sql] (10, 30, 1677931145000, 49)
2023-03-04 12:07:08,439 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:08,766 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:08,768 INFO sqlalchemy.engine.Engine [raw sql] (15, 15, 1677931144000, 19)
2023-03-04 12:07:08,903 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:09,160 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:09,162 INFO sqlalchemy.engine.Engine [raw sql] (6, 23, 1677931473000, 7)
2023-03-04 12:07:09,317 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:09,560 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:09,563 INFO sqlalchemy.engine.Engine [raw sql] (6, 24, 1677931464000, 60)
2023-03-04 12:07:09,815 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:10,061 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:10,064 INFO sqlalchemy.engine.Engine [raw sql] (15, 25, 1677931271000, 102)
2023-03-04 12:07:10,206 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:10,457 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:10,459 INFO sqlalchemy.engine.Engine [raw sql] (19, 21, 1677930989000, 38)
2023-03-04 12:07:10,600 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:10,984 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:10,987 INFO sqlalchemy.engine.Engine [raw sql] (11, 29, 1677931073000, 53)
2023-03-04 12:07:11,133 INFO sqlalchemy.engine.Engine COMMIT

2023-03-04 12:07:11,388 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:11,391 INFO sqlalchemy.engine.Engine [raw sql] (15, 25, 1677931449000, 58)
2023-03-04 12:07:11,542 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:11,913 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:11,915 INFO sqlalchemy.engine.Engine [raw sql] (0, 40, 1677931182000, 66)
2023-03-04 12:07:12,054 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:12,304 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:12,307 INFO sqlalchemy.engine.Engine [raw sql] (5, 35, 1677931230000, 104)
2023-03-04 12:07:12,464 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:12,708 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:12,711 INFO sqlalchemy.engine.Engine [raw sql] (3, 27, 1677931020000, 101)
2023-03-04 12:07:12,959 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:13,203 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:13,206 INFO sqlalchemy.engine.Engine [raw sql] (22, 8, 1677931390000, 115)
2023-03-04 12:07:13,354 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:13,601 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:13,603 INFO sqlalchemy.engine.Engine [raw sql] (9, 31, 1677931462000, 47)
2023-03-04 12:07:13,737 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:14,130 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:14,133 INFO sqlalchemy.engine.Engine [raw sql] (2, 38, 1677931259000, 117)
2023-03-04 12:07:14,267 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:14,534 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:14,537 INFO sqlalchemy.engine.Engine [raw sql] (14, 16, 1677931106000, 8)
2023-03-04 12:07:14,673 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:15,057 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:15,060 INFO sqlalchemy.engine.Engine [raw sql] (18, 2, 1677931281000, 27)
2023-03-04 12:07:15,196 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:15,587 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:15,590 INFO sqlalchemy.engine.Engine [raw sql] (11, 9, 1677930983000, 16)
2023-03-04 12:07:15,743 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:16,106 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:16,109 INFO sqlalchemy.engine.Engine [raw sql] (17, 13, 1677931167000, 96)
2023-03-04 12:07:16,268 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:16,828 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:16,831 INFO sqlalchemy.engine.Engine [raw sql] (3, 5, 1677931501000, 82)
2023-03-04 12:07:16,968 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:17,549 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:17,553 INFO sqlalchemy.engine.Engine [raw sql] (22, 16, 1677931530000, 76)
2023-03-04 12:07:17,692 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:17,936 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:17,938 INFO sqlalchemy.engine.Engine [raw sql] (10, 30, 1677931252000, 71)
2023-03-04 12:07:18,203 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:18,453 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:18,455 INFO sqlalchemy.engine.Engine [raw sql] (8, 19, 1677930948000, 79)
2023-03-04 12:07:18,595 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:18,845 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:18,848 INFO sqlalchemy.engine.Engine [raw sql] (8, 32, 1677931182000, 69)
2023-03-04 12:07:18,982 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:19,371 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:19,374 INFO sqlalchemy.engine.Engine [raw sql] (3, 27, 1677930947000, 25)
2023-03-04 12:07:19,510 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:19,781 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:19,783 INFO sqlalchemy.engine.Engine [raw sql] (11, 29, 1677930971000, 51)
2023-03-04 12:07:19,923 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:20,302 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:20,304 INFO sqlalchemy.engine.Engine [raw sql] (12, 18, 1677931262000, 37)
2023-03-04 12:07:20,451 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:20,695 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:20,697 INFO sqlalchemy.engine.Engine [raw sql] (3, 17, 1677931236000, 59)
2023-03-04 12:07:20,833 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:21,081 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:21,083 INFO sqlalchemy.engine.Engine [raw sql] (22, 18, 1677931351000, 95)
2023-03-04 12:07:21,348 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:21,598 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:21,601 INFO sqlalchemy.engine.Engine [raw sql] (11, 29, 1677931165000, 94)
2023-03-04 12:07:21,742 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:21,989 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:21,992 INFO sqlalchemy.engine.Engine [raw sql] (17, 19, 1677931054000, 105)
2023-03-04 12:07:22,127 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:22,515 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:22,516 INFO sqlalchemy.engine.Engine [raw sql] (9, 31, 1677931394000, 36)
2023-03-04 12:07:22,788 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:23,040 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:23,041 INFO sqlalchemy.engine.Engine [raw sql] (34, 6, 1677931368000, 93)
2023-03-04 12:07:23,216 INFO sqlalchemy.engine.Engine COMMIT
2023-03-04 12:07:23,565 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:23,567 INFO sqlalchemy.engine.Engine [raw sql] (12, 7, 1677931275000, 22)
2023-03-04 12:07:23,705 INFO sqlalchemy.engine.Engine COMMIT

2023-03-04 12:07:23,971 INFO sqlalchemy.engine.Engine update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s
2023-03-04 12:07:23,973 INFO sqlalchemy.engine.Engine [raw sql] (9, 31, 1677931300000, 50)
2023-03-04 12:07:24,120 INFO sqlalchemy.engine.Engine COMMIT

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 739, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 988, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/oghenemaluighoiye/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 682, in do_rollback
    dbapi_connection.rollback()
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
#update availability
url = "https://api.jcdecaux.com/vls/v1/stations?contract=Dublin&apiKey=d56dfda32709850e6f9e533857176f085c22106e"
r = requests.get(url)



def write_to_file(text):
    now = datetime.datetime.now()
    with open(f"data/bikes_{now}".replace(" ", "_"), "w") as f:
        f.write(r.text)

def update_availability(text):
    availability = json.loads(text)
    for available in availability:
        
        engine.execute("update availability set available_bikes = %s, available_bike_stands = %s, last_update = %s where number = %s", (available.get("available_bikes"), available.get("available_bike_stands"), available.get("last_update"), available.get("number")))

    return


def main():
    while True:
        try:
            r = requests.get(url)
            print(r, datetime.datetime.now())
            write_to_file(r.text)
            update_availability(r.text)
            time.sleep(5 * 60)
        except:
            print(traceback.format_exc())

if __name__ == "__main__":
    main()

In [1]:
#scraping weather data to database
url = "https://api.openweathermap.org/data/2.5/weather?q=Dublin,IE&units=metric&appid=925fb7d8a523499058239184ca7054d9"
import datetime
def write_to_file2(text):
    now = datetime.datetime.now()
    with open(f"data/weather_{now}".replace(" ", "_"), "w") as f:
        f.write(text) 
        
def weather_to_db(text):
    weather = json.loads(text)
    print(type(weather),len(weather))
    print(text)
    now = datetime.datetime.now()
    vals = (
            weather.get("coord").get("lon"),
            weather.get("coord").get("lat"),
            weather.get("weather")[0].get("description"),
            weather.get("main").get("temp"),
            weather.get("main").get("feels_like"),
            weather.get("main").get("temp_min"),
            weather.get("main").get("temp_max"),
            weather.get("visibility"),
            weather.get("wind").get("speed"),
            weather.get("sys").get("sunrise"),
            weather.get("sys").get("sunrise"))
        
    
    
    print("\n\n\nVALS:{}\n\n\n".format(vals))
    engine.execute("insert into weather values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
    
def weather_main():
    
    try:
        url = "https://api.openweathermap.org/data/2.5/weather?q=Dublin,IE&units=metric&appid=925fb7d8a523499058239184ca7054d9"

        weather = requests.get(url)
        write_to_file2(weather.text)
        weather_to_db(weather.text)
    except:
          print(traceback.format_exc())
          if engine is None:
                return

if __name__ == "__main__":
    weather_main()

NameError: name 'traceback' is not defined